<div class="benefits intro-column on-dark-picture-bg">
    <p lang="en">Learn the language on the go straight from <b>your phone</b> with the help of a <b>teacher</b>.</p>
    <p lang="es">Aprenda el idioma sobre la marcha directamente desde el teléfono con la ayuda de un profesor.</p>
    <p lang="de">Lernen Sie die Sprache auf der Geraden gehen von <b>Ihrem Telefon</b> aus mit der Hilfe eines <b>Lehrers</b>.</p>
    <p lang="pt">Aprender a língua em movimento diretamente do seu telefone com a ajuda de um professor.</p>
    <p lang="fr">Apprendre la langue sur l'aller directement à partir de votre téléphone à l'aide d'un enseignant.</p>
    <p lang="it">Imparare la lingua in movimento direttamente dal tuo telefono con l'aiuto di un insegnante.</p>
    <p lang="cs">Naučte se jazyk na rovnou z vašeho telefonu s pomocí učitele.</p>
    <p lang="pl">Ucz się języka na prosto ze swojego telefonu z pomocą nauczyciela.</p>
    <p lang="ru">Учить язык на ходу прямо с телефона с помощью учителя.</p>
    <p lang="ch">学习从您的手机直行与老师的帮助下语言</p>
    <p lang="ja">教師の助けを借りて携帯電話から直進に言語を学ぶ</p>
    <p lang="ar">تعلم اللغة على الذهاب مباشرة من الهاتف الخاص بك مع مساعدة من المعلم</p>


    <p lang="en">We are making a tailor-made service to help you communicate; In shops, socially, and with the local council.</p>
    <p lang="es">Estamos haciendo un servicio a medida para ayudarle a comunicarse; En las tiendas, social, y con el consejo local.</p>
    <p lang="de">Wir machen einen maßgeschneiderten Service, um Ihnen zu kommunizieren; In Geschäften, sozial und mit dem Gemeinderat.</p>
    <p lang="pt">Estamos a fazer um serviço feito sob medida para ajudá-lo a se comunicar; Nas lojas, socialmente e com o conselho local.</p>
    <p lang="fr">Nous faisons un service sur-mesure pour vous aider à communiquer; Dans les magasins, socialement, et avec le conseil local</p>

    <p lang="en">Even if you are taking language classes, this service is designed to speed up your learning.</p>
    <p lang="es">Incluso si usted está tomando clases de idiomas, este servicio está diseñado para acelerar su aprendizaje.</p>
    <p lang="de">Selbst wenn Sie Sprachkurse, wird dieser Service entwickelt, um die Geschwindigkeit Ihres Lern</p>


</div>
