@import "essential";
@import "bootstrap/variables";
@import "common/variables";
@import "application"; // Modify this for custom colors, font-sizes, etc
@import "common/mixins";
@import "bootstrap/mixins";

@import "fonts";

// CSS Reset 
@import "bootstrap/reset";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,body {
    height: 100%;
}
body {
    width: 100%; // make sure that menu shown doesn't add horz scroll bars
    overflow: hidden;  // make sure that menu shown doesn't add horz scroll bars
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.bodyScaffolding();

@import "bootstrap/type";
@import "bootstrap/buttons";

@import "bootstrap/forms";


//@import "inputs.less";
@import "lch-checkbox.less";

.demo-checkbox{
    //    @background - Checkbox background
    //    @color - Text color
    //    @fontSize - Font size
    //    @width - Width of the checkbox
    //    @height - Height of the checkbox
    //    @lineHeight - Line height for the checkbox
    //    @textAlign - Text align for the text 
    //    @display - Display type
    //    @border - Border style/color/size
    //    @borderRadius - Border radius
    //    @hoverColor - Text color for hover state
    //    @hoverBackground - Background for hover state
    //    @activeColor - Text colro for active state
    //    @activeBackground - Background for active state

    .lch-checkbox(#fff, #333, 13px, 50px, 20px, 20px, center, block, 1px solid #ccc, 5px, #666, #efefef, #fff, #27b4ff);
}

input {
  .neatTick();
}

.supportLang(en);
.supportLang(fr);
.supportLang(de);
.supportLang(es);
.supportLang(pt);
.supportLang(it);
.supportLang(pl);
.supportLang(cs);
.supportLang(ch);
.supportLang(jp);
.supportLang(ru);
.supportLang(ar);


::selection {
    background: rgba(255,0,70,0.8);
    color: white;
}

@menu-width: 160px;
@intro-top-gap: 50px;
@intro-bottom-gap: 50px;
@min-height-intro: 50em;


#intro {

    position: relative;
    padding-top: @intro-top-gap; // room for the menu
    padding-bottom: @intro-bottom-gap; // room for the article header
    min-height: @min-height-intro;


    &.state-expanded {
        left: @menu-width;
    }

    .menu {
        .side-menu(@width: @menu-width,@fluent-red,darken(@fluent-red,5%),#c00,#c0c0c0,white);

        nav.flag {
            width: 12em;

            label {
                border-radius: 15px;
                border: 2px solid @fluent-red;
                padding: 6px;
                width: 5em;
            }
        }
    }

}

.lesson #intro {
    min-height: 10em;
}

.splash #intro {

    .benefits ul { padding-bottom: 1em; }
    .story { margin-bottom: 3em; }

    h1, h2, h3, h4, h5, h6 { font-weight: 300; }

    h3 {
        position: relative;
        // left: 700px;
        margin-bottom: 10px;
        //text-align: center;
        font-size: 1.6em;
        text-shadow: 0px 1px 1px black;
        font-weight: 300;
        color: @fluent-red;
    }
    p {
        position: relative;
        // left: 700px;
        // font-size: 1.2em;
        // width: 680px;
        //margin: 0 auto;
        text-shadow: 0px 1px 1px black;
    }
    p em {
        font-style: normal; 
        color: @fluent-red;
    }


    fieldset {
        position: relative;
        text-align: center;

        input[type=email],
        input[type=text] {
            width: 220px;
            height: 28px;
            vertical-align: baseline;
            padding: 1px 10px;
        }
    }

    input,textarea {
        // padding: 3px 6px;
    }

    .btn.primary {
        background: @fluent-red;
    }
    
}

.splash {

    // general
    .we-love .forward-looking {
        display: block;
        font-family: "rocksalt";
        font-size: 24px;
        color: @fluent-red;
        margin-left: 9em;
        margin-top: 1.5em;
    }

    .benefits .forward-looking {
        display: block;
        font-family: "rocksalt";
        font-size: 24px;
        color: @fluent-red;
        // margin-top: 16px;
    }

}


.splash article {
    position:relative; //absolute
    width: 100%;
    overflow: visible;

    .outhangingHeader();

    @header-height: 60px;

    h1, h2, h3, h4, h5, h6 { font-weight: 300; }

    .articleSections();

    .articleFooter();

    > header {
        .follow {
            position: absolute;
            top: (@header-height - 40px)/2 + 2px; right:20px;
            // .center-box-horz(@center-width);
            text-align: right;
            // bottom: 60px;

            h4 {
                display: inline-block;
                font-size: 15px;
                padding: 10px 10px 5px 0;
                vertical-align: top;
                color: #888;
            }
            nav {
                display: inline-block;
            }
        }
        .social-icon {
            font-family: "socialicoregular";
            font-size: 40px;
            color: #888;
            text-decoration: none;
            line-height: 1;

            &:hover {
                color: #08C;
            }
        }
    }
}


@center-width: 340px;

@we-love-width: 383px;
@we-love-height: 431px;

@col1-left: 3%;
@col1-right: 3%;
@col1-width: 94%;
@col-max-width: 400px;



html body.splash { 

    #intro {

        .we-love {
            // position: absolute; top:0px; 
            position: relative;
            // height: @we-love-height;
            height: @we-love-height / 2;
            margin-left: @col1-left;
            width: 100% - (2*@col1-left);

            figure {
                position: absolute;
                top: 0; 
                left: 0; //-100px; 
                // z-index: -9999;
                width: @we-love-width;
                height: @we-love-height;
                // width: (@we-love-width / 2);
                // height: (@we-love-height / 2);
                margin: 0;
                //zoom: .5; TODO do this for IE
                .scale(.5);
                -webkit-transform-origin: left top;
                transform-origin: left top;

                background-image: url(../images/around-globe.png);
                background-repeat: no-repeat;
            }
            h3 {
                padding-top: 1em;
                padding-left: 100px;
            }
            p {
                padding-left: 100px;
            }
        }
        .benefits {
            position: relative;
            margin-left: @col1-left;
            width: @col1-width;
            max-width: @col-max-width;

            // position: absolute;
            // left: 50px;
            // top: 80px;
            // width: 30%;
        }

        .story {
            position: relative;
            margin-left: @col1-left;
            width: @col1-width;
            max-width: @col-max-width;
        }


        .signup {
            position: relative;
            margin-left: @col1-left;
            width: @col1-width;
            max-width: @col-max-width;
        }

        // the footer is used to set start of article when intro is fixed
        > footer {
            position: absolute;
            top: 0;
        }
    }

}


// tablets and desktop heights
@media only screen and (min-height : 720px) 
{
    html body.splash {
        #intro {
            position: fixed;
            top: 0;

            // the footer is used to set start of article when intro is fixed
            > footer {
                position:relative;
                margin-top: @intro-bottom-gap;
            }
        }
        article {
            margin-top: 100%;
            z-index: 100;
        }
    }
}


@media only screen and (min-width: 400px) and (max-width: 800px) {

    html body.splash {

        #intro {

            .we-love {

            }
            .benefits {
                left: 50%;
                margin-left: -.5 * @col-max-width;
                width: @col-max-width;
            }

            .signup {
                left: 50%;
                margin-left: -.5 * @col-max-width;
                width: @col-max-width;
            }

            .story {
                left: 50%;
                margin-left: -.5 * @col-max-width;
                width: @col-max-width;
            }
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
    html body.splash #intro {
        .form-and-story {
            position: absolute;
            top: @intro-top-gap + 175px;
            left: 50%;
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 2048px) {
    html body.splash #intro {
        @signup-height: 175px;

        .we-love {
            width: 32%;
        }
        .benefits {
            width: 32%;
        }
        .signup {
            position: absolute;
            width: @col-max-width;
            top: 50%;
            left: 50%;
            margin-top: -0.5 * @signup-height;
            margin-left: -.5 * @col-max-width;
        }

        .story {
            position: absolute;
            right: @col1-right;
            width: 32%;
            bottom: @intro-top-gap;
        }
    }
}

@top-splash-room: 650px;
@top-splash-room-640: 560px;
@top-splash-max: 800px;

    //background-image: url(../images/inthepark.jpg); 
    //background-image: url(../images/free-blurred-backgrounds.jpg); 
    //background-image: url(../images/girl-on-terrace.jpg);

// Phone < 5:
@media screen and (device-aspect-ratio: 2/3) {

}

// iPhone 5 landscape and squashed browser:
@media screen and (device-aspect-ratio: 40/71) and (orientation:landscape),
        only screen and (max-height:321px) {

    #intro {
        height:100%;
        min-height: initial;
        max-height: initial;
    }

    html body.splash {
        #intro {
            height:100%;
            min-height: initial;
            max-height: initial;
        }
        article {
            margin-top: 100%;
        }
    }
}

// iPad:
@media screen and (device-aspect-ratio: 3/4) {}


html body.splash-garden {

    .intro-on-body(url(../images/garden-reading-ipad.jpg),url(../images/garden-reading-ipad.jpg));

}
html body.splash-color {

    .intro-on-body(url(../images/color-1024-bare.jpg),url(../images/color-360-bare.jpg));

}    

html body.lesson-color {

    .intro-on-body(url(../images/color-1024-bare.jpg),url(../images/color-360-bare.jpg));

}    
//@import "animated";
//@import "keyframes";


.constrained {
    overflow: visible;

    .centered-content {
        position: relative;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
    }
}

.centerContainer {
    width: 300px; //TODO change?
    margin: 0 auto;
}

@import "common/mediaelementplayer";
