@import "common/variables-and-mixins";

// CSS Reset 
@import "bootstrap/reset";

* { box-sizing: border-box; }

// Core variables and mixins
@import "bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins";


// Grid system and page structure
// @import "bootstrap/scaffolding";

// Styled patterns and elements
@import "bootstrap/type";
@import "bootstrap/buttons";

// @import "bootstrap/code";
@import "bootstrap/forms";
// @import "bootstrap/tables";

// Alert Styles
// @import "bootstrap/alerts";

// Components: common
// @import "bootstrap/sprites.less";
// @import "bootstrap/dropdowns.less";
// @import "bootstrap/wells.less";
// @import "bootstrap/component-animations.less";
// @import "bootstrap/close.less";

//For more check out bootrap.less
//@import "connectivity.less";

//@import "inputs.less";
@import "lch-checkbox.less";

.demo-checkbox{
    //    @background - Checkbox background
    //    @color - Text color
    //    @fontSize - Font size
    //    @width - Width of the checkbox
    //    @height - Height of the checkbox
    //    @lineHeight - Line height for the checkbox
    //    @textAlign - Text align for the text 
    //    @display - Display type
    //    @border - Border style/color/size
    //    @borderRadius - Border radius
    //    @hoverColor - Text color for hover state
    //    @hoverBackground - Background for hover state
    //    @activeColor - Text colro for active state
    //    @activeBackground - Background for active state

    .lch-checkbox(#fff, #333, 13px, 50px, 20px, 20px, center, block, 1px solid #ccc, 5px, #666, #efefef, #fff, #27b4ff);
}

input {
  .neatTick();
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;

    font-family: "museo-sans", Gill Sans, Open Sans, Tahoma, Arial;
    font-weight: 300;
}


html body.splash { 

    #stuck {
        form {
            position: absolute;
            top:50%; margin-top: -110px;
            left:50%; width:300px; margin-left: -150px;
            // position: relative;
            // margin-top: 20%;
        }

        h1, h2, h3, h4, h5, h6 { font-weight: 300; }

        h3 {
            position: relative;
            // left: 700px;
            margin-bottom: 10px;
            //text-align: center;
            font-size: 2.4em;
            text-shadow: 0px 1px 1px black;
            font-weight: 300;
        }
        p {
            position: relative;
            // left: 700px;
            // font-size: 1.2em;
            // width: 680px;
            //margin: 0 auto;
            text-shadow: 0px 1px 1px black;
        }
        input,textarea {
            // padding: 3px 6px;
        }
    }

}

@top-splash-room: 650px;
@top-splash-max: 800px;

    //background-image: url(../images/inthepark.jpg); 
    //background-image: url(../images/free-blurred-backgrounds.jpg); 
    //background-image: url(../images/girl-on-terrace.jpg);

.stuck-on-body(@image:url(../images/girl-on-terrace.jpg),@min-height: @top-splash-room, @max-height: @top-splash-max) {

    #stuck {

        position:fixed;
        top:0;
        width:100%; height:100%;
        min-height: @min-height;
        max-height: @max-height;
        z-index: -9999;

        //padding-top: 200px;
        color: white;

        background-image: @image;
        background-position: bottom center;
        background-repeat: no-repeat; 
        background-size: 100% auto;
    }

    article {
        position:relative; //absolute
        width: 100%;
        margin-top: @top-splash-room; // will be overridden by struck measurement
        min-width: 980px;
    }

    
    /* Phone < 5 portrait: */
    /* iPhone 5 portrait: */
    // @media screen and (device-aspect-ratio: 2/3) and (orientation:portrait),
    // @media screen and (device-aspect-ratio: 40/71) and (orientation:portrait) {

    // }

    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
    and (orientation : portrait) {

        #stuck {
            height:520px;
            min-height: initial;
            max-height: initial;

            background-position: top center;
            background-size: auto 568px;
        }
    }

    // iPad:
    @media screen and (device-aspect-ratio: 3/4) and (orientation:portrait) {

        #stuck {
            background-position: bottom center;
            background-size: auto 100%;
        }
    }

    // iPad:
    // @media screen and (device-aspect-ratio: 3/4) and (orientation:landscape) {

    //     #stuck {
    //         background-image: @image;
    //         background-position: bottom center;
    //         background-size: auto 100%;
    //     }
    // }
}


html body.splash-garden {

    .stuck-on-body(url(../images/garden-reading-ipad.jpg));

}
html body.splash-color {

    .stuck-on-body(url(../images/color1.jpg));

}    


// Phone < 5:
@media screen and (device-aspect-ratio: 2/3) {

}

// iPhone 5 landscape and squashed browser:
@media screen and (device-aspect-ratio: 40/71) and (orientation:landscape),
        only screen and (max-height:321px) {
    html body.splash {
        #stuck {
            height:100%;
            min-height: initial;
            max-height: initial;
        }
        article {
            margin-top: 100%;
        }
    }
}

// iPad:
@media screen and (device-aspect-ratio: 3/4) {}


html body.splash-blinds {
    #stuck {
        background-image: url(../images/persienner-slice.png);
        background-position: top left;
        background-repeat-y: no-repeat; 
        background-size: auto 50%;
    }
}

html body.splash-books {
    #stuck {
        //background-image: url(../images/bookshelf-white.jpg);
        background-position: top left;
        background-repeat: no-repeat; 
        //background-size: auto 100%;
    }
}

.splash article {

    h1, h2, h3, h4, h5, h6 { font-weight: 300; }

    section {
        padding-top: 3em;
        padding-bottom: 3em;
        width: 100%;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0 5px 5px #454545;
        color: #474747;

        h3 {
            text-align: center;
            font-size: 2em;
        }
        p {
            width: 680px;
            margin: 0 auto;
        }
    }
}

//@import "animated";
//@import "keyframes";
