@import "essentialjs/essential";
@import "variables";
@import "application"; // Modify this for custom colors, font-sizes, etc

@media only screen and (max-device-width: 480px) and  (-webkit-min-device-pixel-ratio:2) {
	// iPhone
}

@media only screen and (device-width: 768px) {
	// iPad either

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	// iPad portrait
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	// iPad landscape
}

/* 640 */
@media only screen and ( max-width: 40em ) 
{
    #main-menu
    {
        position: relative;

        > a {
        }
        &:not( :target ) > a:first-of-type,
        &:target > a:last-of-type {
            display: block;
        }

	    /* first level */
	    > ul {
	        height: auto;
	        display: none;
	        position: absolute;
	        left: 0;
	        right: 0;
	    }
        > ul.active {
            display: block;
        }
        > ul > li {
            width: 100%;
            float: none;
        }
 
	    /* second level */
	    li ul {
	        position: static;
	    }
    }
 
}

// bigger phone resolution ?
@media only screen and (min-width: 480px) {
    
    // sequential columns
    #intro,
    main.fluid {
        .left-col {
            left: 50%;
            margin-left: -240px;
            width: 480px
        }
        .right-col {
            left: 50%;
            margin-left: -240px;
            width: 480px
        }
        //.center-col
    }
}


// desktop like
@media only screen and (min-width: 750px) {
    
    .center-piece {
        #intro &, main.fluid > header & {
            margin-top: -100px;
        }
        article & {
            width: 400px;
            margin-left: -200px;
        }
    }


    .with-lead-and-menu {
        > header {
            background-size: 100% auto;
            height: 500px;
        }
    }

    // split columns
    #intro,
    main.fluid {
        .two-cols {
            position: relative;
            .clearfix;
        }
        .left-col {
            float:left;
            width: 50%;
            left:0; margin-left:0;
            // max-width: 480px;
        }
        .right-col {
            float:left;
            width: 50%;
            left:0; margin-left:0;
            // max-width: 480px;
        }
        //.center-col
    }
}
@media only screen and (min-width: 960px) {

    // split columns centering
    #intro,
    main.fluid {
        .two-cols {
            width: 960px;
            left: 50%;
            margin-left: -480px;
        }

        .left-col {
            width: 480px;
        }
        .right-col {
            width: 480px;
        }
    }
}

// bigger desktop
@media only screen and (min-width: 1000px) {

    .center-piece {
        #intro &, main.fluid > header & {
            width: 400px;
            margin-left: -200px;
        }
    }
}
