/*
	Style radio and checkbox
*/
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .center-piece .us,
  .center-piece .story {
    position: absolute;
    top: 0%;
    height: 150px;
    margin-top: 125px;
  }
}
/* 640 */
@media only screen and (max-width: 40em) {
  #main-menu {
    position: relative;
    /* first level */
    /* second level */
  }
  #main-menu:not( :target ) > a:first-of-type,
  #main-menu:target > a:last-of-type {
    display: block;
  }
  #main-menu > ul {
    height: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }
  #main-menu > ul.active {
    display: block;
  }
  #main-menu > ul > li {
    width: 100%;
    float: none;
  }
  #main-menu li ul {
    position: static;
  }
}
