@import "essentialjs/essential";
@import "variables";
@import "../../libs/fresh/less/side-menu";
@import "../../libs/fresh/less/all";
@import "application"; // Modify this for custom colors, font-sizes, etc

@import "fonts";

// CSS Reset 
@import "bootstrap/less/normalize";
@import "bootstrap/less/print.less";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,body {
    height: 100%;
    overflow-x: hidden;  // make sure that menu shown doesn't add horz scroll bars
}
body {
    overflow-y: visible;
    width: 100%; // make sure that menu shown doesn't add horz scroll bars
    -webkit-font-smoothing: antialiased;
}

.bodyScaffolding();

@import "bootstrap/less/grid";
@import "bootstrap/less/type";
@import "bootstrap/less/buttons";

@import "bootstrap/less/forms";

@import (inline) "angular-toggle-switch/angular-toggle-switch-bootstrap.css";

@import "styled-inputs";

.supportLang(en);
.supportLang(fr);
.supportLang(de);
.supportLang(es);
.supportLang(pt);
.supportLang(it);
.supportLang(pl);
.supportLang(cs);
.supportLang(ch);
.supportLang(jp);
.supportLang(ru);
.supportLang(ar);


::selection {
    background: rgba(255,0,70,0.8);
    color: white;
}

.btn.tinted {
    background: @fluent-red;
}


@import "intro";

.bookspread {
    .book-origin-common-layout();
    .book-origin-layout(@bk-cover-base-width * .75,@bk-cover-base-height * .75);
}


@import "article";

// menu expand/collapse
body {

    &.open-book {
        overflow: hidden;
    }
}

.with-menu {
    .menu {
        .side-menu(@menu-width,@menu-edge-width,@body-bg,darken(@body-bg,5%),#c00,#c0c0c0,white);
        .side-menu-color(@app-menu-bg,@app-menu-group-bg,#c00,#e0e0e0,white);
        .transition(.3s ease-in-out left);
        .site-menu-flag(13em, @app-menu-bg); //TODO on plain page
    }

    &.state-expanded {

        #intro {
            left: @menu-width;
            margin-right: -@menu-width;
        }
        article {
            margin-left: @menu-width;

            /*
            > header {
                left: @menu-width;
            }
            */
            > section {
                position: relative;
                // margin-right: -@menu-width;
            }
        }
        .menu {
            left: 0;
        }
    }
}
main.with-menu {
    &.state-expanded {
        > header {
            left: @menu-width;
            margin-right: -@menu-width;
        }
    }
}

.black-menu .menu {
    //TODO background matching ?
    .side-menu-color(@black-app-menu-bg,@black-app-menu-group-bg,#c00,#e0e0e0,white);
    .site-menu-flag(13em, @black-app-menu-bg);
}

@import (less) "../../libs/world-flags-sprite/stylesheets/flags16.css";

.principal-pic {
    position: absolute;
    z-index: -9999;
    opacity: 0;
}

.center-piece {
    position: absolute;
    top:0; bottom:0;
    left: 50%; margin-left: -@menu-width;
    width: 320px;

    color: #666;

    h1 {
        font-size: 28px;
        text-align: center;
    }
    h2 {
        font-size: 22px;
        text-align: center;
    }
    h3 {
        font-size: 18px;
        text-align: center;
    }

    .us,
    .story {
        position: absolute;
        top: 50%;
        height: 150px;
        margin-top: -175px;
    }
}

@import "lesson";

.splash article {

    z-index: 100;

}

main.fluid {
    article {
    @header-height: 60px;

    h1, h2, h3, h4, h5, h6 { font-weight: 300; }

    > header {
        .follow {
            position: absolute;
            top: (@header-height - 40px)/2 + 2px; right:20px;
            // .center-box-horz(@center-width);
            text-align: right;
            // bottom: 60px;

            h4 {
                display: inline-block;
                font-size: 15px;
                padding: 10px 10px 5px 0;
                margin-top: 0;
                vertical-align: top;
                color: #888;
            }
            nav {
                display: inline-block;
            }

            .social-icon-bar();
        }
    }

    .articleSections();

    .left-col {
        padding: 0 30px;
    }
    .right-col {
        padding: 0 30px;
    }


    .articleFooter();
    }
}

@center-width: 340px;

// tablets and desktop heights
@media only screen and (max-height : 719px) 
{
    #tracer {
        height: 0 !important;
    }
}

/*
@media only screen and (max-width: 799px) and (max-height : 719px) {
    #intro {
        min-height: 74em; // before increasing to 80em, resize the bg-image
    }
}
*/

// tablets and desktop heights
@media only screen and (min-width: 800px) 
{
    html body {
        .menu {
            position: fixed;
        }
    }

    html body.splash {
        #intro {
            position: fixed;
            top: 0;
            left: 0; right: 0;
            // z-index: -1;

            .left-col, .right-col {
                z-index: 1;
            }

            // the footer is used to set start of article when intro is fixed
            > footer {
                // position:relative;
                margin-top: @intro-bottom-gap-800-plus;
            }
        }
        article {
            top: 100%; //TODO perhaps main instead
            z-index: 100;
            margin-top: -5px;
        }
    }
}

@media only screen and (min-width: 400px) {
	
    main.fluid article {
		.left-col {
			position: absolute;
			right: 50%; width: 50%;
			max-width: 500px
		}
		.right-col {
			position: relative;
			left: 50%; width: 50%;
			max-width: 500px
		}
        //.center-col
    }
}
@top-splash-room: 650px;
@top-splash-room-640: 560px;
@top-splash-max: 800px;

    //background-image: url(../images/inthepark.jpg); 
    //background-image: url(../images/free-blurred-backgrounds.jpg); 
    //background-image: url(../images/girl-on-terrace.jpg);

// Phone < 5:
@media screen and (device-aspect-ratio: 2/3) {

    html body.splash {
        article {
            // article should just be relative, disabled for now
            //            margin-top: 100%;
        }
    }

    .bookspread {
        .book-origin-layout(@bk-cover-base-width * .45,@bk-cover-base-height * .45);
    }
}

// iPhone 5 portrait
@media screen and (device-aspect-ratio: 40/71) and (orientation:portrait) {

    .bookspread {
        .book-origin-layout(@bk-cover-base-width * .45,@bk-cover-base-height * .45);
    }
}

// iPhone 5 landscape and squashed browser:
@media screen and (device-aspect-ratio: 40/71) and (orientation:landscape),
        only screen and (max-height:321px) {

    html body.splash {
        article {
            // article should just be relative, disabled for now
            // margin-top: 100%;
        }
    }

    .bookspread {
        .book-origin-layout(@bk-cover-base-width * .45,@bk-cover-base-height * .45);
    }
}

// iPad:
@media screen and (device-aspect-ratio: 3/4) {}

html body.splash-zurich {
    #intro:before {
        content: " ";
        // z-index: -9999;
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-image: url(../images/05.png);
        z-index: -1000;
    }

    .intro-on-body(url(../images/zurich-1024-bare.jpg),url(../images/zurich-360-bare.jpg));
}

html body.splash-katty {

    // adds a TV effect
    // #intro:before {
    //     content: " ";
    //     // z-index: -9999;
    //     position: absolute;
    //     left: 0; right: 0;
    //     top: 0; bottom: 0;
    //     background-image: url(../images/05.png);
    //     z-index: -1000;
    // }

    .intro-on-body(url(../images/Kat-Henry-77.jpg),url(../images/katty-360.jpg));
}

// logo and message top left
.understood-networked {

    position: relative;
    height: @we-love-height / 2;
    margin-left: @col1-left;
    width: 100% - (2*@col1-left);

    figure {
        position: absolute;
        top: 0; 
        left: 0; //-100px; 
        // z-index: -9999;
        width: @we-love-width;
        height: @we-love-height;
        // width: (@we-love-width / 2);
        // height: (@we-love-height / 2);
        margin: 0;
        //zoom: .5; TODO do this for IE
        .scale(.5,.5);
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;

        background-image: url(../images/around-globe.png);
        background-repeat: no-repeat;
    }
    h3 {
        padding-top: 1em;
        padding-left: 100px;
    }
    p {
        padding-left: 100px;
    }

    //temp
    .forward-looking {
        color: transparent;
    }
}    

html.body.splash-desktop {
//TODO image?
    background-color: white;
}

.splash-zurich.login {

}

.splash.splash-zurich.authenticated {
    #intro {

        /* squashing the header

        .we-love {
            figure {
                .scale(.4,.4);
            }
            height: 175px;
        }
        .story,
        .benefits {
            display:none;
        }

        .form-and-story {
            top: 0;
        }
        .signup {
            top: 0;
            margin-top: 10em;
        }

        footer {
            margin-top: 0;
            height: 0;
        }
        */
    }
}

//@import "animated";
//@import "keyframes";

img.left-side {
    float: left;
    max-height: 120px;
    padding: 10px;
}

img.left-side-70 {
    float: left;
    max-height: 70px;
    padding: 0 5px 5px 5px;
}

img.left-side-80 {
    float: left;
    max-height: 80px;
    padding: 5px;
}

img.right-side {
    float: right;
    max-height: 120px;
    padding: 10px;
}

img.right-side-80 {
    float: right;
    max-height: 80px;
    padding: 5px;
}

@import "paging";

@import "../libs/fresh/less/mediaelementplayer";

@import "../libs/book-reader/css/mixins.less";

@import "../libs/book-reader/css/book-shelf";
@import "../libs/book-reader/css/book-spread";


@import "../libs/fresh/less/freshdesk";

.fb-like-box {
    margin-bottom: 2em;
}

.orange-anchors {
    a {
        color: @fluent-orange;
    }
}

.download-on-ibooks {
    display:inline-block;
    text-align:center;
    overflow:hidden;
    // background: url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us/images/web/linkmaker/badge_ibooks-lrg.png) no-repeat;
    background: url(../images/badge_ibooks-lrg.png) no-repeat;
    width:110px;height:40px;
    margin:20px;

    @media only screen {
        // background-image: url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_ibooks-lrg.svg);
        background-image: url(../images/badge_ibooks-lrg.svg);
    }
}

.download-on-appstore {
    display:inline-block;
    text-align:center;
    overflow:hidden;
    background: url(../images/badge_appstore-lrg.png) no-repeat;
    width:135px;height:40px;
    margin:20px;

    @media only screen {
        // background-image: url(../images/badge_appstore-lrg.svg);
    }
}

@import (less) "layerslider.css";

#ls-global .ibook-product article {
    .with-slider {

        // .white-bg {
        //     color:#ffa724;
        // }
        .dark-bg {
            color: white;
            text-shadow: 0px 0px 6px white;
        }

        .dark-bg-extra-padded {
            padding: 30px; 
            background: rgba(0,0,0,.5);
        }
    }
}

#ls-global .splash article {
    .with-slider {
        padding: 0;
        margin: 0 auto;

        .white-bg {
            color:#ffa724;
        }
        .dark-bg {
            color: white;
            text-shadow: 0px 0px 6px white;
        }

        h1 {
            font-size:50px;white-space: nowrap;
        }

        .ls-l {
            font-size:20px;color:#fff5e5;
        }

        .flip-corner {

            /*
            position: absolute;
            bottom: 40px;
            right: 40px;
            */

            // width: 200px;
            // height: 150px;
            color: rgb(255,0,70);

            span {
                position: absolute;
                display: block;
                height: 1em;
                right: 100px;
                bottom: 1.75em;
                white-space: nowrap;
            }

            figure {
                position: absolute;
                right:5px;
                bottom:10px;
                width: 90px;
                height: 90px;
                margin: 0;
                background-repeat: no-repeat;
                background: url(../images/slide-90.png) bottom right;
            }
        }

        .rounded-link {
            img {
                display: block;
                width: 200px;
                height: 200px;
                border: 6px solid @fluent-red;
                border-radius: 100px;
            }
        }
    }
}

.mejs-audio.page-audio {
    position: absolute;
    right: 8px;
    // left: 15px;
    top: 5px;
    // left: 50%;
    // margin-left: -50px;
    // top: 10px;
    z-index: 100;

    .mejs-controls {
        background: transparent;

        .mejs-button button {
            background-color: transparent;
            background-image: url(controls-blk.png);
            background-repeat: no-repeat;
        }
        .mejs-time-rail {
            .mejs-time-loaded {
                background: transparent;
            }
        }
    }
}

.feature-dvd {
    // margin-top: 30px;
    width: 240px;
}

.signup-phrases {
    // background-color: white;

    p {
        font-size: 1.5em;
        line-height: 1.5;
    }

    em {
        color: @fluent-red;
    }

    input[type=text],
    input[type=email] {
        border-width: 0 0 1px 0;
        border-style: dashed;
        background-color: transparent;
    }

    .right-aligned {
        display: block;
        text-align: right;
    }

    .extra-space {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 499px) {
    .feature-dvd {
        display: block;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 500px) {
    .feature-dvd {
        float: left;
        width: 300px;
    }

    .signup-phrases {
        .signup-box {
            border: 1px solid #d8d8d8;
            padding: 30px;
            // width: 550px;
            margin: -20px;
            max-width: 420px;
        }

    }
}

@import "ibooks";

@import (less) "/components/mediaelement/src/css/mediaelementplayer.css";

.mejs-container {
    background-color: transparent !important;
}

.press-mentions {
    text-align: center; 

    .marie-claire {
        display: inline-block;
        position: relative;
        width: 248px;
        height: 57px;
        background-image: url(/images/press-mentions.png);
        background-position: -242px 0;
        // transform: scale(.5);
        zoom: .5; // reduces the element size
        transform-origin: 0 0;
        // margin-left: -50px;
        // margin-right: -25px;
    }
    .reuters {
        display: inline-block;
        position: relative;
        width: 258px;
        height: 57px;
        background-image: url(/images/press-mentions.png);
        background-position: -500px 0;
        // transform: scale(.5);
        zoom: .5; // reduces the element size
        transform-origin: 0 0;
        // margin-left: -100px;
        // margin-right: -50px;
    }
    .daily-news {
        display: inline-block;
        position: relative;
        width: 243px;
        height: 57px;
        background-image: url(/images/press-mentions.png);
        background-position: 0 0;
        // transform: scale(.5);
        zoom: .5; // reduces the element size
        transform-origin: 0 0;
        // margin-left: -100px;
        // margin-right: -50px;
    }
}


body {
    // better IE scrollbar styling
    -ms-overflow-style: -ms-autohiding-scrollbar;

    // smooth iOS scrolling
    -webkit-overflow-scrolling: touch
}

// the header
.with-lead-and-menu {
    position: relative;

    > header {
        position: relative;
        padding-top: 50px;
        width: 100%;
        height: 350px;
        background-image: url(/images/Kat-Henry-1.jpg);
        background-position: top right;
        background-size: auto 100%;

        @media only screen and (min-width: 600px) {
            background-image: url(/images/Kat-Henry-86.jpg);
            background-size: 100% auto;
            height: 500px;
        }
    }
}

main article section.first {
    background-color: white;
}

.stress-free-feature-enabled {
    .hide-when-stress-free-feature-enabled {
        display:none;
    }
}

.kat-henry-intro {
    background-color: white;
    background-size: 100% auto;
    background-position: center right;
    background-image: url(/images/Kat-Henry-9.jpg);
}

.pitch-audio {
    margin-top: -55px;
}


#stress-free,
#signup {
    .when-subscribed {
        display:none;
    }

    &.state-subscribed .when-unsubscribed {
        display: none;
    }
    &.state-subscribed .when-subscribed {
        display: block;
    }
}

#stress-free {
    min-height: 33em;

    iframe {
        width: 100%;
        height: 320px;
    }
}

.fallback-message {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    background-color: white;
    padding: 20px;
    box-shadow: 3px 3px 10px #000;

    .impress-not-supported & {
        display: inherit;
    }
}
