@import "essentialjs-future/essential";
@import "variables";
@import "fresh/less/side-menu";
@import "application"; // Modify this for custom colors, font-sizes, etc
@import "fresh/less/all";

@import "fonts";

// CSS Reset 
@import "bootstrap/less/normalize";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,body {
    height: 100%;
    overflow-x: hidden;  // make sure that menu shown doesn't add horz scroll bars
}
body {
    overflow-y: visible;
    width: 100%; // make sure that menu shown doesn't add horz scroll bars
    -webkit-font-smoothing: antialiased;
}

.bodyScaffolding();

@import "bootstrap/less/type";
@import "bootstrap/less/buttons";

@import "bootstrap/less/forms";


input {
  .neatTick();
}

.supportLang(en);
.supportLang(fr);
.supportLang(de);
.supportLang(es);
.supportLang(pt);
.supportLang(it);
.supportLang(pl);
.supportLang(cs);
.supportLang(ch);
.supportLang(jp);
.supportLang(ru);
.supportLang(ar);


::selection {
    background: rgba(255,0,70,0.8);
    color: white;
}

#intro {
    position: relative;
    border-left: @menu-edge-width solid @fluent-red;
    padding-top: @intro-top-gap; // room for the menu
    padding-bottom: @intro-bottom-gap; // room for the article header
    min-height: @min-height-intro;

    .transition(.3s ease-in-out left);
}

article {

    position:relative; //absolute
    width: 100%;
    border-left: @menu-edge-width solid @app-menu-bg;
    overflow: visible;

    .transition(~".3s ease-in-out left,.3s ease-in-out margin-top");

    .outhangingHeader();

    // .open-book & {
    //     //position: static;
    //     margin-top: 60px !important;
    //     background: white;
    // }
}


body {

    &.open-book {
        overflow: hidden;
    }

    &.screen.state-expanded,
    &.splash.state-expanded,
    &.lesson.state-expanded {
        #intro {
            left: @menu-width;
            margin-right: -@menu-width;
        }
        article {
            padding-left: @menu-width;

            > header {
                left: @menu-width;
            }
            > section {
                position: relative;
                // margin-right: -@menu-width;
            }
        }
        .menu {
            left: 0;
        }
    }

    .menu {
        .side-menu(@menu-width,@menu-edge-width,@fluent-red,darken(@fluent-red,5%),#c00,#c0c0c0,white);
        .side-menu-color(@app-menu-bg,@app-menu-group-bg,#c00,#e0e0e0,white);
        .transition(.3s ease-in-out left);

        nav.flag {
            width: 12em;

            label {
                border-radius: @border-radius-base;
                border: 1px solid @app-menu-bg;
                padding: 5px 9px 4px 9px;
                min-width: 5em;
                output { color: @app-menu-bg; }
            }
        }
    }

}

.center-piece {
    position: absolute;
    top:0; bottom:0;
    left: 50%; margin-left: -@menu-width;
    width: 320px;

    color: #666;

    h1 {
        font-size: 28px;
        text-align: center;
    }
    h2 {
        font-size: 22px;
        text-align: center;
    }
    h3 {
        font-size: 18px;
        text-align: center;
    }

    .us,
    .story {
        position: absolute;
        top: 50%;
        height: 150px;
        margin-top: -175px;
    }
}

.lesson #intro {
	position: absolute;
	top: 0; bottom: 0;
	min-height: 0;
}

body.lesson .menu {
    nav.flag {
        label {
            display: none;
        }
    }
}

.lesson article {

    position: absolute;
    left:0; right:0; top:0; bottom:0;
    overflow-x: auto;
    border-left: 0;
    background-color: white;
    
    section {
        position: relative;
        left: 0;
        // height: 100%;
        width: @col-max-width;
        overflow: visible;
        margin: 0; padding: 0;
        height: 100%;
    }
    div.column {
        position:absolute;
        top:0;
        margin-left: 40px;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: white;
        overflow: hidden;
    }
    .c1 {
        left:0;
    }
    .c2 {
        left:100%;
    }
    .c3 {
        left:200%;
    }
    .c4 {
        left:300%;
    }
    .c5 {
        left:400%;
    }
    .c6 {
        left:500%;
    }
    .c7 {
        left:600%;
    }
    .c8 {
        left:700%;
    }
    .c9 {
        left:800%;
    }

    p {
    }

    .mejs-container {
    }
    
    .videoapp {
    	display: block;
	    width: 320px;
	    height: 240px;
    }
}

.splash #intro {

    .benefits ul { padding-bottom: 1em; }
    .story { margin-bottom: 3em; }

    h1, h2, h3, h4, h5, h6 { font-weight: 300; }

    h3 {
        position: relative;
        // left: 700px;
        margin-top: 0;
        margin-bottom: 10px;
        //text-align: center;
        font-size: 1.6em;
        text-shadow: 0px 1px 1px black;
        font-weight: 300;
        color: @fluent-red;
    }
    p {
        position: relative;
        // left: 700px;
        // font-size: 1.2em;
        // width: 680px;
        //margin: 0 auto;
        text-shadow: 0px 1px 1px black;
    }
    p em {
        font-style: normal; 
        color: @fluent-red;
    }


    fieldset {
        position: relative;
        text-align: center;

        input[type=email],
        input[type=text] {
            width: 220px;
            height: 28px;
            vertical-align: baseline;
            padding: 1px 10px;
        }
    }

    input,textarea {
        // padding: 3px 6px;
    }

    .btn.primary {
        background: @fluent-red;
    }
    
}

.splash {

    // general
    .we-love .forward-looking {
        display: block;
        font-family: "rocksalt";
        font-size: 24px;
        color: @fluent-red;
        margin-left: 9em;
        margin-top: 1.5em;
    }

    .benefits .forward-looking {
        display: block;
        font-family: "rocksalt";
        font-size: 24px;
        color: @fluent-red;
        // margin-top: 16px;
    }

}

.splash article {

    z-index: 100;

    @header-height: 60px;

    h1, h2, h3, h4, h5, h6 { font-weight: 300; }

    > header {
        .follow {
            position: absolute;
            top: (@header-height - 40px)/2 + 2px; right:20px;
            // .center-box-horz(@center-width);
            text-align: right;
            // bottom: 60px;

            h4 {
                display: inline-block;
                font-size: 15px;
                padding: 10px 10px 5px 0;
                margin-top: 0;
                vertical-align: top;
                color: #888;
            }
            nav {
                display: inline-block;
            }

            .social-icon-bar();
        }
        // .social-icon {
        //     font-family: "socialicoregular";
        //     font-size: 40px;
        //     color: #888;
        //     text-decoration: none;
        //     line-height: 1;

        //     &:hover {
        //         color: #08C;
        //     }
        // }
    }

    .articleSections();

    .left-col {
		padding: 30px;
    }
    .right-col {
		padding: 30px;
    }

    .articleFooter();
}


@center-width: 340px;

@we-love-width: 383px;
@we-love-height: 431px;



html body.splash { 

    #intro {

        .we-love {
            // position: absolute; top:0px; 
            position: relative;
            // height: @we-love-height;
            height: @we-love-height / 2;
            margin-left: @col1-left;
            width: 100% - (2*@col1-left);

            figure {
                position: absolute;
                top: 0; 
                left: 0; //-100px; 
                // z-index: -9999;
                width: @we-love-width;
                height: @we-love-height;
                // width: (@we-love-width / 2);
                // height: (@we-love-height / 2);
                margin: 0;
                //zoom: .5; TODO do this for IE
                .scale(.5,.5);
                -ms-transform-origin: left top;
                -webkit-transform-origin: left top;
                transform-origin: left top;

                background-image: url(../images/around-globe.png);
                background-repeat: no-repeat;
            }
            h3 {
                padding-top: 1em;
                padding-left: 100px;
            }
            p {
                padding-left: 100px;
            }
        }
        .benefits {
            position: relative;
            margin-left: @col1-left;
            width: @col1-width;
            max-width: @col-max-width;

            // position: absolute;
            // left: 50px;
            // top: 80px;
            // width: 30%;
        }

        .story {
            position: relative;
            margin-left: @col1-left;
            width: @col1-width;
            max-width: @col-max-width;
        }


        .signup {
            position: relative;
            margin-left: @col1-left;
            width: @col1-width;
            max-width: @col-max-width;

            input, select, textarea {
                color: black;
            }

            .btn {
                margin: 1em;
            }

            iframe {
                position: absolute;
                border: 0 none;
                top: 2em;
                height: 150px;
                width: 100%;
            }
        }

        // the footer is used to set start of article when intro is fixed
        > footer {
            position: absolute;
            top: 0;
        }
    }

}

// tablets and desktop heights
@media only screen and (max-height : 719px) 
{
    #tracer {
        height: 0 !important;
    }
}

@media only screen and (max-width: 799px) and (max-height : 719px) {
    #intro {
        min-height: 64em;
    }
}

// tablets and desktop heights
@media only screen and (min-height : 720px) 
{
    html body {
        .menu {
            position: fixed;
        }
    }

    html body.splash {
        #intro {
            position: fixed;
            top: 0;
            left: 0; right: 0;

            // the footer is used to set start of article when intro is fixed
            > footer {
                position:relative;
                margin-top: @intro-bottom-gap;
            }
        }
        article {
            margin-top: 100%;
            z-index: 100;
        }
    }
}

@media only screen and (min-width: 400px) {
	
    .splash article {
		.left-col {
			position: absolute;
			right: 50%; width: 50%;
			max-width: 500px
		}
		.right-col {
			position: relative;
			left: 50%; width: 50%;
			max-width: 500px
		}
    }
}

@media only screen and (min-width: 400px) and (max-width: 799px) {

    html body.splash {

        #intro {

            .we-love {

            }
            .benefits {
                left: 50%;
                margin-left: -.5 * @col-max-width;
                width: @col-max-width;
            }

            .signup {
                left: 50%;
                margin-left: -.5 * @col-max-width;
                width: @col-max-width;
            }

            .story {
                left: 50%;
                margin-left: -.5 * @col-max-width;
                width: @col-max-width;
            }
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
    html body.splash #intro {
        .form-and-story {
            position: absolute;
            top: @intro-top-gap + 175px;
            left: 50%;
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 2048px) {
    html body.splash #intro {
        @signup-height: 175px;

        .we-love {
            width: 32%;
        }
        .benefits {
            width: 32%;
        }
        .signup {
            position: absolute;
            width: (@col-max-width - 20px);
            top: 50%;
            left: 50%;
            margin-top: -0.5 * @signup-height;
            margin-left: -.5 * (@col-max-width - 20px);
        }

        .story {
            position: absolute;
            right: @col1-right;
            width: 32%;
            bottom: @intro-top-gap;
        }
    }
}

@top-splash-room: 650px;
@top-splash-room-640: 560px;
@top-splash-max: 800px;

    //background-image: url(../images/inthepark.jpg); 
    //background-image: url(../images/free-blurred-backgrounds.jpg); 
    //background-image: url(../images/girl-on-terrace.jpg);

// Phone < 5:
@media screen and (device-aspect-ratio: 2/3) {

}

// iPhone 5 landscape and squashed browser:
@media screen and (device-aspect-ratio: 40/71) and (orientation:landscape),
        only screen and (max-height:321px) {

    #intro {
        height:100%;
        min-height: initial;
        max-height: initial;
    }

    html body.splash {
        #intro {
            height:100%;
            min-height: initial;
            max-height: initial;
        }
        article {
            margin-top: 100%;
        }
    }
}

// iPad:
@media screen and (device-aspect-ratio: 3/4) {}


html body.splash-garden {

    .intro-on-body(url(../images/garden-reading-ipad.jpg),url(../images/garden-reading-ipad.jpg));

}
html body.splash-color {

    .intro-on-body(url(../images/color-1024-bare.jpg),url(../images/color-360-bare.jpg));

}    

html body.lesson-color {

    .intro-on-body(url(../images/color-1024-bare.jpg),url(../images/color-360-bare.jpg));

}    

html.body.splash-desktop {
//TODO image?
    background-color: white;
}

//@import "animated";
//@import "keyframes";

img.left-side {
    float: left;
    max-height: 120px;
    padding: 10px;
}

img.left-side-70 {
    float: left;
    max-height: 70px;
    padding: 0 5px 5px 5px;
}

img.left-side-80 {
    float: left;
    max-height: 80px;
    padding: 5px;
}

img.right-side {
    float: right;
    max-height: 120px;
    padding: 10px;
}

img.right-side-80 {
    float: right;
    max-height: 80px;
    padding: 5px;
}


.constrained {
    overflow: visible;

    .centered-content {
        position: relative;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
    }
}

.centerContainer {
    width: 300px; //TODO change?
    margin: 0 auto;
}

@import "paging";

@import "fresh/less/mediaelementplayer";


@import "fluent-books/css/mixins.less";


@bk-list-height: 420px;
@bk-base-width: 42px;
//@bk-book-height: 520px;
@bk-book-height: 580px; // works for first 2 books

@import "fluent-books/css/book-shelf";


