@import "essentialjs/essential";
@import "variables";
@import "../HTML-Widgets/fresh/less/side-menu";
@import "../HTML-Widgets/fresh/less/all";
@import "application"; // Modify this for custom colors, font-sizes, etc

@import "fonts";

// CSS Reset 
@import "bootstrap/less/normalize";
@import "bootstrap/less/print.less";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,body {
    height: 100%;
    overflow-x: hidden;  // make sure that menu shown doesn't add horz scroll bars
}
body {
    overflow-y: visible;
    width: 100%; // make sure that menu shown doesn't add horz scroll bars
    -webkit-font-smoothing: antialiased;
}

.bodyScaffolding();

@import "bootstrap/less/grid";
@import "bootstrap/less/type";
@import "bootstrap/less/buttons";

@import "bootstrap/less/forms";

@import (inline) "angular-toggle-switch/angular-toggle-switch-bootstrap.css";

@import "styled-inputs";

.supportLang(en);
.supportLang(fr);
.supportLang(de);
.supportLang(es);
.supportLang(pt);
.supportLang(it);
.supportLang(pl);
.supportLang(cs);
.supportLang(ch);
.supportLang(jp);
.supportLang(ru);
.supportLang(ar);


::selection {
    background: rgba(255,0,70,0.8);
    color: white;
}

@import "intro";

.bookspread {
    .book-origin-common-layout();
    .book-origin-layout(@bk-cover-base-width * .75,@bk-cover-base-height * .75);
}


@import "article";

// menu expand/collapse
body {

    &.open-book {
        overflow: hidden;
    }

    &.with-menu.state-expanded, // TODO include this on all with menu
    &.screen.state-expanded,
    &.splash.state-expanded,
    &.lesson.state-expanded { // refactor to general app vs info vs splash  bodies
        #intro {
            left: @menu-width;
            margin-right: -@menu-width;
        }
        article {
            margin-left: @menu-width;

            /*
            > header {
                left: @menu-width;
            }
            */
            > section {
                position: relative;
                // margin-right: -@menu-width;
            }
        }
        .menu {
            left: 0;
        }
    }

    .menu {
        .side-menu(@menu-width,@menu-edge-width,@body-bg,darken(@body-bg,5%),#c00,#c0c0c0,white);
        .side-menu-color(@app-menu-bg,@app-menu-group-bg,#c00,#e0e0e0,white);
        .transition(.3s ease-in-out left);
        .site-menu-flag(13em, @app-menu-bg);
    }
}

.black-menu .menu {
    //TODO background matching ?
    .side-menu-color(@black-app-menu-bg,@black-app-menu-group-bg,#c00,#e0e0e0,white);
    .site-menu-flag(13em, @black-app-menu-bg);
}

@import (less) "../book-reader/libs/world-flags-sprite/stylesheets/flags16.css";

.principal-pic {
    position: absolute;
    z-index: -9999;
    opacity: 0;
}

.center-piece {
    position: absolute;
    top:0; bottom:0;
    left: 50%; margin-left: -@menu-width;
    width: 320px;

    color: #666;

    h1 {
        font-size: 28px;
        text-align: center;
    }
    h2 {
        font-size: 22px;
        text-align: center;
    }
    h3 {
        font-size: 18px;
        text-align: center;
    }

    .us,
    .story {
        position: absolute;
        top: 50%;
        height: 150px;
        margin-top: -175px;
    }
}

@import "lesson";

.splash article {

    z-index: 100;

    @header-height: 60px;

    h1, h2, h3, h4, h5, h6 { font-weight: 300; }

    > header {
        .follow {
            position: absolute;
            top: (@header-height - 40px)/2 + 2px; right:20px;
            // .center-box-horz(@center-width);
            text-align: right;
            // bottom: 60px;

            h4 {
                display: inline-block;
                font-size: 15px;
                padding: 10px 10px 5px 0;
                margin-top: 0;
                vertical-align: top;
                color: #888;
            }
            nav {
                display: inline-block;
            }

            .social-icon-bar();
        }
        // .social-icon {
        //     font-family: "socialicoregular";
        //     font-size: 40px;
        //     color: #888;
        //     text-decoration: none;
        //     line-height: 1;

        //     &:hover {
        //         color: #08C;
        //     }
        // }
    }

    .articleSections();

    .articleFooter();
}

@center-width: 340px;

// tablets and desktop heights
@media only screen and (max-height : 719px) 
{
    #tracer {
        height: 0 !important;
    }
}

/*
@media only screen and (max-width: 799px) and (max-height : 719px) {
    #intro {
        min-height: 74em; // before increasing to 80em, resize the bg-image
    }
}
*/

// tablets and desktop heights
@media only screen and (min-width: 800px) 
{
    html body {
        .menu {
            position: fixed;
        }
    }

    html body.splash {
        #intro {
            position: fixed;
            top: 0;
            left: 0; right: 0;
            // z-index: -1;

            .left-col, .right-col {
                z-index: 1;
            }

            // the footer is used to set start of article when intro is fixed
            > footer {
                // position:relative;
                margin-top: @intro-bottom-gap-800-plus;
            }
        }
        article {
            top: 100%; //TODO perhaps main instead
            z-index: 100;
            margin-top: -5px;
        }
    }
}

@media only screen and (min-width: 400px) {
	
    #intro,
    .splash article {
		.left-col {
			position: absolute;
			right: 50%; width: 50%;
			max-width: 500px
		}
		.right-col {
			position: relative;
			left: 50%; width: 50%;
			max-width: 500px
		}
    }
}
@top-splash-room: 650px;
@top-splash-room-640: 560px;
@top-splash-max: 800px;

    //background-image: url(../images/inthepark.jpg); 
    //background-image: url(../images/free-blurred-backgrounds.jpg); 
    //background-image: url(../images/girl-on-terrace.jpg);

// Phone < 5:
@media screen and (device-aspect-ratio: 2/3) {

    html body.splash {
        article {
            // article should just be relative, disabled for now
            //            margin-top: 100%;
        }
    }

    .bookspread {
        .book-origin-layout(@bk-cover-base-width * .45,@bk-cover-base-height * .45);
    }
}

// iPhone 5 portrait
@media screen and (device-aspect-ratio: 40/71) and (orientation:portrait) {

    .bookspread {
        .book-origin-layout(@bk-cover-base-width * .45,@bk-cover-base-height * .45);
    }
}

// iPhone 5 landscape and squashed browser:
@media screen and (device-aspect-ratio: 40/71) and (orientation:landscape),
        only screen and (max-height:321px) {

    html body.splash {
        article {
            // article should just be relative, disabled for now
            // margin-top: 100%;
        }
    }

    .bookspread {
        .book-origin-layout(@bk-cover-base-width * .45,@bk-cover-base-height * .45);
    }
}

// iPad:
@media screen and (device-aspect-ratio: 3/4) {}

html body.splash-zurich {
    #intro:before {
        content: " ";
        // z-index: -9999;
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-image: url(../images/05.png);
    }

    .intro-on-body(url(../images/zurich-1024-bare.jpg),url(../images/zurich-360-bare.jpg));

    //temp
    #intro .we-love .forward-looking {
        color: transparent;
    }
}    

html.body.splash-desktop {
//TODO image?
    background-color: white;
}

.splash-zurich.login {

}

.splash.splash-zurich.authenticated {
    #intro {

        /* squashing the header

        .we-love {
            figure {
                .scale(.4,.4);
            }
            height: 175px;
        }
        .story,
        .benefits {
            display:none;
        }

        .form-and-story {
            top: 0;
        }
        .signup {
            top: 0;
            margin-top: 10em;
        }

        footer {
            margin-top: 0;
            height: 0;
        }
        */
    }
}

//@import "animated";
//@import "keyframes";

img.left-side {
    float: left;
    max-height: 120px;
    padding: 10px;
}

img.left-side-70 {
    float: left;
    max-height: 70px;
    padding: 0 5px 5px 5px;
}

img.left-side-80 {
    float: left;
    max-height: 80px;
    padding: 5px;
}

img.right-side {
    float: right;
    max-height: 120px;
    padding: 10px;
}

img.right-side-80 {
    float: right;
    max-height: 80px;
    padding: 5px;
}

@import "paging";

@import "../HTML-Widgets/fresh/less/mediaelementplayer";

@import "../book-reader/css/mixins.less";

@import "../book-reader/css/book-shelf";
@import "../book-reader/css/book-spread";


@import "../HTML-Widgets/fresh/less/freshdesk";

.fb-like-box {
    margin-bottom: 2em;
}

.orange-anchors {
    a {
        color: @fluent-orange;
    }
}

.download-on-ibooks {
    display:inline-block;
    text-align:center;
    overflow:hidden;
    // background: url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us/images/web/linkmaker/badge_ibooks-lrg.png) no-repeat;
    background: url(../images/badge_ibooks-lrg.png) no-repeat;
    width:110px;height:40px;
    margin:20px;

    @media only screen {
        // background-image: url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_ibooks-lrg.svg);
        background-image: url(../images/badge_ibooks-lrg.svg);
    }
}

.download-on-appstore {
    display:inline-block;
    text-align:center;
    overflow:hidden;
    background: url(../images/badge_appstore-lrg.png) no-repeat;
    width:135px;height:40px;
    margin:20px;

    @media only screen {
        // background-image: url(../images/badge_appstore-lrg.svg);
    }
}

@import (less) "layerslider.css";

#ls-global .splash article {
    .with-slider {
        padding: 0;
        margin: 0 auto;

        .white-bg {
            color:#ffa724;
        }

        h1 {
            font-size:50px;white-space: nowrap;
        }

        .ls-l {
            font-size:20px;color:#fff5e5;
        }

        .flip-corner {

            /*
            position: absolute;
            bottom: 40px;
            right: 40px;
            */

            // width: 200px;
            // height: 150px;
            color: rgb(255,0,70);

            span {
                position: absolute;
                display: block;
                height: 1em;
                right: 100px;
                bottom: 1.75em;
                white-space: nowrap;
            }

            figure {
                position: absolute;
                right:5px;
                bottom:10px;
                width: 90px;
                height: 90px;
                margin: 0;
                background-repeat: no-repeat;
                background: url(../images/slide-90.png) bottom right;
            }
        }

        .rounded-link {
            img {
                display: block;
                width: 200px;
                height: 200px;
                border: 6px solid @fluent-red;
                border-radius: 100px;
            }
        }
    }
}

body.ibook-product {

    .with-sound {

        .icon-play-circle {
            font-size: 300%;
        }
    }

    // .product-sidebox {
    //     position: relative;
    //     left: 50px;
    //     top: 65px;
    //     width: 270px;
    //     height: 410px;
    //     .rotate(5deg);
    //     z-index: 10;
    // }

    .slogan {
        position: relative;
        // margin-left: 44px;
        // padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #d0d0d0;
    }

    .product-buynow {
        position: absolute;
        top:0; right:0;
        padding: 10px;

        h2 {
            margin-left: auto;
            margin-right: auto;
        }

        .download-on-ibooks {
            display: block;
            margin:0;
        }

        h4 {
            margin-left: auto;
            margin-right: auto;
            line-height: 23px;
            // needs fixing...
            // line-height: 50px;
        }
    }

    .endorse {
        position:relative;
        padding-top: 55px;
        margin: 0 auto 30px auto;
        max-width: 960px;


        video {
            width: 100%;
            // height: auto;
            max-width: 960px;
            min-height: 240px;
        }

        @media (device-width:768px) {
            video {
                min-height: 400px;
            }
        }
        @media (device-width:1024px) {
            video {
                max-width: 880px;
                min-height: 520px;
            }
        }
    }

    .book-turned {
        .rotate(5deg);

    }

    article .with-slider {
        padding: 0;
        margin: 0 auto;
        background-color: #F0F1EB;
        // border-top: 1px dotted @fluent-red;

        .white-bg {
            // color: @fluent-red; //#ffa724;
        }
        /*

        h1 {
            font-size:50px;white-space: nowrap;
        }

        .ls-l {
            font-size:20px;color:#fff5e5;
        }
        */

        .flip-corner {

            /*
            position: absolute;
            bottom: 40px;
            right: 40px;
            */

            // width: 200px;
            // height: 150px;
            color: rgb(255,0,70);

            span {
                position: absolute;
                display: block;
                height: 1em;
                right: 100px;
                bottom: 1.75em;
                white-space: nowrap;
            }

            figure {
                position: absolute;
                right:5px;
                bottom:10px;
                width: 90px;
                height: 90px;
                margin: 0;
                background-repeat: no-repeat;
                background: url(../images/slide-90.png) bottom right;
            }
        }

        .rounded-link {
            img {
                display: block;
                width: 200px;
                height: 200px;
                border: 6px solid @fluent-red;
                border-radius: 100px;
            }
        }
    }
}

@media only screen and (min-width: 500px) {
    body.ibook-product {

        .product-sidebox {
            position: absolute;
            left: 10px;
            top: 55px;
        }
        .slogan {
            // position: absolute;
            // margin-left: 300px;
        }
        .product-buynow {
            // margin-left: 260px;
            // padding-top: 190px; 
            height: 150px;

            .download-on-ibooks {
                display: inline-block;
            }

        }
    }
}

@media only screen and (min-width: 1300px) {
    body.ibook-product {

        .product-sidebox {
            position: absolute;

        }
        .slogan {
            // position: relative;
        }
        // .product-buynow {
        //     position: absolute;
        //     padding-top: 20px;
        //     height: auto;
        //     width: 250px;
        //     left: 10px;
        //     margin: 0;
        //     top: 440px;
        // }

        // article .with-slider {
        //     margin-left: 270px;
        //     padding-top: 10px;
        // }
    }
}

@import (less) "/components/mediaelement/src/css/mediaelementplayer.css";

.mejs-container {
    background-color: transparent !important;
}
