---
layout: master
blog-link: no
js-bundle: /js/body.js
---
<script type="application/config">{% include signup-config.js %}</script>

<main class="with-lead-and-menu with-menu fluid" data-class="'!state.menu-expanded':'menu-collapsed'">

  <header class="picture-background">
  {% include intro/understood-networked.html %}
  <!-- {% include intro/fallback-message.html %} -->

    <div class="center-piece">
      <h1>Stress-Free First Year in Switzerland, the Book</h1>
      <p>Now that you have been going through the presentation, I really hope you like it, I thought you may want it as a book</p>
      <p>There's a lot of information and links, so it is easier to skim through a book instead
      of listening to the presentation all over again.</p>

      <p>
      <a href="http://cache.fluentglobe.com/assets/7766449900/First%20Year%20in%20Switzerland.pdf" class="btn tinted">Download as PDF</a>
      </p>
    </div>

    <div class="spoken-controls">
      <a class="btn outline tinted" href="#/continue-speaking">Play</a>
      <a class="btn outline tinted" href="#/pause-speaking">Pause</a>
      <a class="btn outline tinted" href="#/skip-speaking">Skip</a>
    </div>

    <div class="center-piece">
    </div>

    <footer class="links-bar">
      {% include site-follow.html %}
    </footer>
  </header>

  <article>

    <section class="first" style="background-color: white;">
      {% include stress-free/switzerland-offer.html %}
    </section>

    <section class="first">
    <div class="center-piece">
      <h1>Stress-Free First Year in Switzerland, the Book</h1>
      <p>Now that you have been going through the presentation, I really hope you like it, I thought you may want it as a book</p>
      <p>There's a lot of information and links, so it is easier to skim through a book instead
      of listening to the presentation all over again.</p>

      <p>
      <a href="http://cache.fluentglobe.com/assets/7766449900/First%20Year%20in%20Switzerland.pdf" class="btn tinted">Download as PDF</a>
      </p>
    </div>
    </section>

		<footer class="constrained bookspread">
      <div class="center-piece">
        <p>Now that you have been going through the presentation, I really hope you like it, I thought you may want it as a book</p>
      </div>

      {% include page-footer-etc.html %}
			{% include page-footer-copyright.html %}
		</footer>

    </article>

  {% include site-menu.html %}
</main>

