---
layout: master
blog-link: no
js-bundle: /js/body.js
---
<script type="application/config">{% include signup-config.js %}</script>

<main class="kat-henry-feature-page with-lead-and-menu fluid">

  <header class="picture-background">
  {% include intro/understood-networked.html %}
  {% include spoken-controls.html %}

  <nav class="center-piece" role="presentation" data-role="'featureId':'test-cmd','featureData':{'path':'/test/assets/', 'js':'sound-demo.js', 'id':'sound-demo'}">

    <p>
	  <button name="playOne" action="test-cmd">Play 1</button>
	  <button name="pauseOne" action="test-cmd">Pause 1</button>
	  <button name="stopOne" action="test-cmd">Stop 1</button>
	</p>
	<p>
	  <button name="playTwo" action="test-cmd">Play 2</button>
	  <button name="pauseTwo" action="test-cmd">Pause 2</button>
	  <button name="stopTwo" action="test-cmd">Stop 2</button>
	</p>	

	<p>
	  <button name="queueMain" action="test-cmd">queue Main</button>
	  <button name="playMain" action="test-cmd">play Main</button>
	  <button name="dropMain" action="test-cmd">drop Main</button>
	</p>
	<p>
	  <button name="queueA" action="test-cmd">queue A</button>
	  <button name="playA" action="test-cmd">play A</button>
	  <button name="dropA" action="test-cmd">drop A</button>
	</p>
	<p>
	  <button name="queueB" action="test-cmd">queue B</button>
	  <button name="playB" action="test-cmd">play B</button>
	  <button name="dropB" action="test-cmd">drop B</button>
	</p>
	    
  </nav>

  </header>

  <article>

  </article>

  <script>!function(){ 

  	var DialogAction = Resolver("essential::DialogAction::");

  	function _TestCmd() {
  		// debugger;
  	}
  	_TestCmd.prototype.playOne = function(el,ev) {
  			SpokenWord.prototype.known["one"].play();
  	};
  	_TestCmd.prototype.playTwo = function(el,ev) {
  			SpokenWord.prototype.known["two"].play();
  	};


  	_TestCmd.prototype.pauseOne = function(el,ev) {
  			SpokenWord.prototype.known["one"].pause();
  	};
  	_TestCmd.prototype.pauseTwo = function(el,ev) {
  			SpokenWord.prototype.known["two"].pause();
  	};


  	_TestCmd.prototype.stopOne = function(el,ev) {
  			SpokenWord.prototype.known["one"].stop();
  	};
  	_TestCmd.prototype.stopTwo = function(el,ev) {
  			SpokenWord.prototype.known["two"].stop();
  	};


  	_TestCmd.prototype.queueMain = function(el,ev) {
		var testCmd = ProtectedPresentation.byId["test-cmd"];
		testCmd.queueNextSpoken("main");
  	};
  	_TestCmd.prototype.playMain = function(el,ev) {
		var testCmd = ProtectedPresentation.byId["test-cmd"];
		testCmd.playNextSpoken("main");
  	};
  	_TestCmd.prototype.dropMain = function(el,ev) {
		var testCmd = ProtectedPresentation.byId["test-cmd"];
		testCmd.droppingScene("main");
  	};


  	_TestCmd.prototype.queueA = function(el,ev) {
		var testCmd = ProtectedPresentation.byId["test-cmd"];
		testCmd.queueNextSpoken("a");
  	};
  	_TestCmd.prototype.playA = function(el,ev) {
		var testCmd = ProtectedPresentation.byId["test-cmd"];
		testCmd.playNextSpoken("a");
  	};
  	_TestCmd.prototype.dropA = function(el,ev) {
		var testCmd = ProtectedPresentation.byId["test-cmd"];
		testCmd.droppingScene("a");
  	};


  	_TestCmd.prototype.queueB = function(el,ev) {
		var testCmd = ProtectedPresentation.byId["test-cmd"];
		testCmd.queueNextSpoken("b");
  	};
  	_TestCmd.prototype.playB = function(el,ev) {
		var testCmd = ProtectedPresentation.byId["test-cmd"];
		testCmd.playNextSpoken("b");
  	};
  	_TestCmd.prototype.dropB = function(el,ev) {
		var testCmd = ProtectedPresentation.byId["test-cmd"];
		testCmd.droppingScene("b");
  	};


  	DialogAction.variant("test-cmd", Generator(_TestCmd));
  	}();
  </script>
</main>

  {% include site-menu.html %}

