<section class="benefits on-dark-picture-bg">
  <ul lang="en">
    <li>Study every day for a month or twice a week for a year.</li>
    <li>Get reminders for your daily studying</li>
    <li>Hundreds of free videos.</li>
    <li>Learn the real spoken language</li>
    <li>Learn 800 words or more in a month</li>
    <li>Tips from multi-lingual people</li>
    <li>Test your language progress</li>
  </ul>

  <ul lang="es">
    <li>Estudiar todos los días durante un mes o dos veces a la semana durante un año.</li>
    <li>Recibe recordatorios para el estudio de su diario</li>
    <li>Cientos de videos gratis.</li>
    <li>Aprender el lenguaje hablado reales</li>
    <li>Pon a prueba tu progreso idioma</li>
  </ul>
</section>
