<p>I grew up in Scandinavia where I started learning English from the 5th grade.</p>

<p>My teacher was quite good and I had good grades, but somehow after 5 years of English 
and only 3 years of German I felt equally competent in the two. It could be due to language
similarities, but I will always be grateful for my German teachers insistence that we 
should do her homework before all others.</p>

<p>After 4 years of English three times a week I went to Weymouth in England for Summer
Language Camp and did quite well speaking and listening. </p>

<p>I don't credit my school teachers with exceptional teaching.
Rather I think television taught me the sound and flow of the language.</p>

<p>British and American movies are shown in the original language with subtitles, and so
were comedy shows like "Not the 9 o'clock News" and "The Young Ones".</p>

<p>If you see something funny and engaging, you put your full attention into understanding.
You subconscious picks up a log of details that will surface at some other time
teaching you both language and culture.</p>

<p>In stark contrast when I started french lessons I had already been several time to France
and loved the culture and language.</p>

<p>We didn't have much French on TV and the teacher had such a dreadful accent that I could 
never focus properly on picking up the vocabulary.
</p>

<p>I am probably better at Italian, which I have never formally studied.
Holidays and family events have given me enough to get by.</p>

- Henrik
	