<form id="signup" class="signup-phrases secret-signup intro-column" role="form"
      action="client+http://email.fluentglobe.com/t/i/s/vjikj/" 
      method="post"
      enctype="application/x-www-form-urlencoded"
      target="signup-iframe"
      >

<fieldset>
    <p>
    <span lang="en">I live in </span>

     <select name="cm-fo-cbky">
            <option value="235945">Zürich</option>
            <option value="235946">Basel</option>
            <option value="235947">Bern</option>
            <option value="235948">Geneve</option>
            <option value="235949">München</option>
            <option value="235950">Frankfurt</option>
            <option value="235951">Amsterdam</option>
            <option value="235952">Copenhagen</option>
            <option value="235953">Stockholm</option>
            <option value="235954">Wien</option>
     </select>
     .

     <span lang="en">I would like to know <em>the secrets</em> to living here.</span>
    </p>

    <p>
     <span lang="en">My name is</span> 
         <input placeholder="Your Name" name="name" type="text" size="15" required>
     <span lang="en">and my email is</span> 
         <input placeholder="e-mail" name="email" type="email" size="25" required>

     .</p>


     <p style="text-align: right; margin: 25px 0 0 0;">
         <input type="hidden" name="from-country">
         <input type="hidden" name="native-language">

         <button class="btn primary double-corner"> {% include intro/lets-talk.html %} </button>
    </p>

</fieldset>
</form>
