    <fieldset>

<h3 lang="en">Would you like to know <em>the secrets</em> to living in Switzerland</h3>



          <p lang="en">Language and culture in your own time and comfort. </p>
          <p lang="es">Lengua y cultura en tu propio tiempo y comodidad. </p>
          <p lang="de">Sprache und Kultur in Ihrer eigenen Zeit und Komfort. </p>
          <p lang="pt">- Vamos enviar-lhe ideias e ajudá-lo a fazer um plano de graça.</p>
          <p lang="fr">- Nous vous ferons parvenir des idées et vous aider à faire un plan pour libre.</p>
          <p lang="it">- Lo spediremo idee e aiutarvi a fare un piano per il libero.</p>
          <p lang="cs">- My Vám pošleme vám nápady a pomůže vám udělat plán zdarma.</p>
          <p lang="pl">- Wyślemy ci pomysły i pomóc zrobić plan za darmo.</p>
          <p lang="ru">- Мы вышлем вам идеи и поможет вам составить план бесплатно.</p>
          <p lang="ch">- 我们将邮寄你的想法，并帮助您做出免费的计划。</p>
          <p lang="jp">- 私たちはあなたのアイデアを郵送し、あなたが自由のための計画を立てるのに役立ちます。</p>
          <p lang="ar">- أننا سوف نرسل لك الأفكار وتساعدك على جعل خطة مجانا.</p>


    <input type="hidden" name="from-country">
    <input type="hidden" name="native-language">
    <input placeholder="Your Name" name="name" type="text" size="15" required>
    <input placeholder="e-mail" name="email" type="email" size="15" required>
    <button class="btn primary double-corner"> {% include intro/plan-button.html %} </button>
    </fieldset>
