    <form id="signup" class="signup-phrases secret-signup intro-column" role="form"
      action="client+http://email.fluentglobe.com/t/i/s/vjikj/" 
      method="post"
      enctype="application/x-www-form-urlencoded"
      >

    <fieldset>
    <p>I live in <input type="text" name="live-in" value="Switzerland">. 
     <span lang="en">I would like to know <em>the secrets</em> to living here.</span>
    </p>

    <p>
     <span lang="en">My name is</span> 
         <input placeholder="Your Name" name="name" type="text" size="15" required>
     <span lang="en">and my email is</span> 
         <input placeholder="e-mail" name="email" type="email" size="15" required>

     .</p>


     <p style="text-align: right; margin: 25px 0 0 0;">
    <input type="hidden" name="from-country">
    <input type="hidden" name="native-language">

    <button class="btn primary double-corner"> {% include intro/lets-talk.html %} </button>
    </p>

    </fieldset>
    </form>
