      <h4 class="center-col">Language Learning books by Caterine Apruzzese</h4>

        <img style="position: absolute; right:10px; width: 50px;" src="/images/itunes-store-bw.png">

        <div style="height:360px">
        <div role="book" class="book-left-1" style="margin-top: 0px;" data-role="'prefix':'r4vb','src':'/travel-recipes/recipes-brazil.html','spread':true">
            <a href="/travel-recipes/#r4vb">
            {% include book/r4vb-info.html %}
            </a>
        </div>

        <div role="book" class="book-right-1" style="margin-top: 0px;" data-role="'prefix':'seil','src':'/speak/speak-london.html','spread':true">
            <a href="/speak/#seil">
            {% include book/seil-info.html %}
            </a>
        </div>
        </div>

        <div class="press-mentions">
          <h3>As seen in</h3>

          <a class="daily-news" rel="_new" href="http://www.nydailynews.com/life-style/must-have-travel-guides-brazil-bound-world-cup-fans-article-1.1811433" alt="New York Daily News">
          <!-- New York Daily News -->
          </a>

          <a class="marie-claire" rel="_new" href="http://www.marieclaire.co.uk/news/travel/546568/hot-spot-s-o-paulo-brazil.html" alt="Marie Claire Travel">
            <!-- Marie Claire Travel -->
          </a>

          <a class="reuters" rel="_new" href="http://uk.reuters.com/article/2014/05/23/fluent-globe-guide-idUKnPncgNwZv+8a+PRN20140523" alt="Reuters">
            <!-- Reuters -->
          </a>
        </div>
