<div class="left-col">
<img class="feature-dvd" src="/images/Cover-with-DVD.png">
</div>

<div class="right-col signup-phrases" nong-app="swiss-first-year">
  <form class="signup-box" id="stress-free" 
    role="form"
    action="client+http://email.fluentglobe.com/t/i/s/wjjul/" method="post"
    enctype="application/x-www-form-urlencoded"
    target="stress-free-iframe"
  >
<fieldset class="when-unsubscribed">

          <p>Hi Fluent Globe,</p>
          <p>
            <span>I am </span>
            <input type="text" name="first-name" placeholder="First Name">
            <span>and my email is</span>
            <input type="email" name="email" placeholder="e-Mail">
            <span>.</span>
          </p>

          <p>
            <span>I am just getting started in Swizerland.</span>
            <span>Please send me the complimentary presentation,</span>
            <span><em>Stress-Free First Year in Swizerland</em></span>
            <span>, so I can enjoy the life here.</span>
          </p>


          <label class="right-aligned extra-space">
            <button class="btn tinted double-corner" role="button">
            <span lang="en">Send me the Presentation</span>
            </button> 
          </label>

          <label>
          <span class="icon-lock"></span> 
          <span lang="en">Your information will only be used by us to help you and others to get started in Switzerland.</span>
          </label>
</fieldset>

<fieldset class="when-subscribed">
    <p>Great! Check your e-mail for a link to the presentation</p>

    <p>It is best viewed on mobile phones and iPads, but modern PCs and Laptops should work as well.</p>

    <p>Do tell us how you like it, and enjoy.</p>

    <p>
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_email_large' displayText='Email'></span>
    </p>    
</fieldset>
</form>
</div>
