
          <h3 lang="en">Understood and Networked</h3>
          <h3 lang="es">Entendido y Networked</h3>
          <h3 lang="de">Verstanden und Networked</h3>
          <h3 lang="pl">Rozumieć i Sieciowe</h3>
          <h3 lang="cs">Rozumím a po síti</h3>
          <h3 lang="it">Capito e in rete</h3>
          <h3 lang="pt">Compreendida e Networked</h3>
          <h3 lang="fr">Compris et en réseau</h3>
          <h3 lang="ru">Понял и сетевая</h3>
          <h3 lang="ch">理解并联网</h3>
          <h3 lang="jp">理解とネットワーク</h3>
          <h3 lang="ar"></h3>

          <p lang="en">- Unleash the riches of by speaking the local language.</p>
          <p lang="es">- Dé rienda suelta a las riquezas de por hablar el idioma local.</p>
          <p lang="de">- Entfesseln Sie die Reichtümer der durch Sprechen der Landessprache.</p>
          <p lang="pt">- Liberte as riquezas por falar a língua local.</p>
          <p lang="fr">- Libérez les richesses de en parlant la langue locale.</p>
          <p lang="it">- Scatena le ricchezze parlando la lingua locale.</p>
          <p lang="cs">- Rozpoutat bohatství tím, že mluví místním jazykem.</p>
          <p lang="pl">- Uwolnij bogactwa mówiąc lokalnego języka.</p>
          <p lang="ru">- Дайте волю богатства, говоря на местном языке.</p>
          <p lang="ch">- 通过讲当地的语言释放的财富</p>
          <p lang="jp">- 現地の言語を話すことによっての富を解き放つ。</p>
          <p lang="ar">- </p>

          <a class="forward-looking scribbles" href="#more-to-tell">
          <span lang="en">Tell me more</span>
          <span lang="es">Quiero saber más</span>
          <span lang="de">Erzähl mir mehr</span>
          <span lang="pt">Conte-me mais</span>
          <span lang="fr">En savoir plus</span>
          <span lang="it">Dimmi di più</span>
          <span lang="cs">Řekni mi víc</span>
          <span lang="pl">Powiedz mi więcej</span>
          <span lang="ru"></span>
          <span lang="ch"></span>
          <span lang="jp"></span>
          <span lang="ar"></span>
          </a>