          <h3 lang="en">We love languages</h3>
          <h3 lang="es">Nos encantan los idiomas</h3>
          <h3 lang="de">Wir lieben Sprachen</h3>
          <h3 lang="pl">Kochamy językach</h3>
          <h3 lang="cs">Milujeme jazyků</h3>
          <h3 lang="it">Amiamo lingue</h3>
          <h3 lang="pt">Nós amamos idiomas</h3>
          <h3 lang="fr">Nous aimons langues</h3>
          <h3 lang="ru">Мы любим языках</h3>
          <h3 lang="ch">我们爱的语言</h3>
          <h3 lang="jp">我々は言語を愛する</h3>
          <h3 lang="ar">نحن نحب لغات</h3>

          <p lang="en">- We help you to study the local language intensively outside the classroom.</p>
          <p lang="es">- Nosotros le ayudamos a estudiar el idioma local intensamente fuera del aula.</p>
          <p lang="de">- Wir helfen Ihnen, die lokale Sprache intensiv außerhalb des Klassenzimmers zu studieren.</p>
          <p lang="pt">- Nós ajudá-lo a estudar a língua local intensamente fora da sala de aula.</p>
          <p lang="fr">- Nous vous aidons à étudier la langue locale intensive en dehors de la salle de classe.</p>
          <p lang="it">- Vi aiutiamo a studiare la lingua locale intensamente fuori della classe.</p>
          <p lang="cs">- Pomůžeme Vám ke studiu místní jazyk intenzivně mimo třídu.</p>
          <p lang="pl">- Pomagamy uczyć się miejscowego języka poza szkołą intensywnie.</p>
          <p lang="ru">- Мы поможем Вам изучить местный язык интенсивно за пределами классной комнаты.</p>
          <p lang="ch">- 我们帮助您深入学习当地的语言在课堂外</p>
          <p lang="jp">- 我々はあなたが教室の外に集中現地語を勉強するのに役立つ</p>
          <p lang="ar">- نحن تساعدك على دراسة اللغة المحلية بشكل مكثف خارج الفصول الدراسية</p>

          <a class="forward-looking scribbles" href="#more-to-tell">Tell me more <figure class="down"></figure></a>