<meta charset="utf-8">

<!--[if (IE 9) | (IE 10)]>
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge"/>
<![endif]-->

<!--[if IE 8]>
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<![endif]-->

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
<meta name="google" value="notranslate">

<title>{% if page.title %} {{ page.title }} | {% endif %} {{site.title}}</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">

<link rel="apple-touch-icon" href="/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="144x144" href="/touch-icon-ipad-retina.png">
<!-- <link rel="apple-touch-startup-image" href="/startup.png"> -->

<link rel="stylesheet" href="/css/styles.css">
