# .gitignore for jekyllized projects

# Ignore hidden folders
# This takes care of .tmp, .sass-cache, and many others
.*/

# OSX
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# Windows
Desktop.ini
ehthumbs.db
Thumbs.db

# Linux
*~

# Tags
# Ignore tags created by etags and ctags
TAGS
tags

# Always-ignore files and folders #
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~

# Ignore packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Packages
node_modules/*
.tmp
test/

# Sublime
*.sublime-project
*.sublime-workspace
*.sublime-projectcompletions

/components/angular/
/components/angular-route/
/components/angular-socialshare/
/components/angular-toggle-switch/

/components/es5-shim/
/components/normalize-css/
/components/bootstrap/
/components/essentialjs/
/components/hammerjs/
/components/jquery/
/components/mediaelement/
/components/snapjs/
/components/togetherjs/
/components/turnjs/
/components/greensock/
/components/responsiveSlides.js/
/components/swiper/
/components/swiper-3d-flow/
/components/swiper-smooth-progress/
/components/base64/
/components/impress.js/
/components/sockjs-client/

# Output folders
serve
site
_site

# hide the AWS and Rsync credentials file
aws-credentials.json
rsync-credentials.json
