---
permalink: /hello/
layout: frontpage
js-bundle: ../js/body.js
app-name: fluentApp
debug: true
---

<!--     <div role="toolbar" data-role="'generator':'app.Application'" action="controls">
        <button name="play game">Play Game</button>
 -->
<!-- script>
https://www.openwebdevice.com/partners/pages/example.html
var manifest_url = "http://freshtranslation.com/memory-ffos/manifest.webapp";
</script>

<button onclick="navigator.mozApps.install(manifest_url); return false;">
  Install this awesome app on your homescreen!
</button -->
<!--
    </div>
-->
<div id="intro" class="bookspread" data-class="'!state.menu-expanded':'menu-collapsed'" >

  <section class="left-col" style="color:#bbb;">
    <h3 style="text-align:center;">We are,</h3>

    <div style="position:absolute;left:15%; width:35%;">
    <img width="100" src="/images/henrik-head.jpg" style="display:block; margin: 0 auto 10px auto; border-radius:50px;">
    <div style="text-align:center;">Henrik Vendelbo</div>
    <div style="text-align:center;">henrik@fluentglobe.com</div>
    </div>

    <div style="position:relative;left:50%;width:35%;">
    <img width="100" src="/images/katty-head.jpg" style="display:block; margin: 0 auto 10px auto; border-radius:50px;">
    <div style="text-align:center;">Caterine Apruzzese</div>
    <div style="text-align:center;">katty@fluentglobe.com</div>
    </div>

    <h2 style="text-align:center;">We make Fluent Globe</h2>

    <p class="contact" style="text-align:center;">
    <h5 style="text-align:center;">Schweiz/Suisse +41-435081057</h5>

    <h5 style="text-align:center;">U.K. +44-2036088053 </h5>

    <h5 style="text-align:center;">U.S. +1-855-738-6715 </h5>
    </p>

    <blockquote class="narrow-blurp orange-anchors">
      <a href="#review">
      <p>Your review and Likes would be much appreciated</p>
      <img src="/images/fb-thumbs-up.png" width="50">
      <img src="/images/itunes-store.png" width="50">
      </a>
    </blockquote>
  </section>

<!--   <div class="right-col clearfix">
    <h2  style="text-align:center;">Our latest book</h2>

    <div role="book" class="book-left-1" data-role="'prefix':'r4vb','src':'/speak/recipes-brazil.html','spread':true">
    {% include book/r4vb-info.html %}
    </div>

    <div role="book" class="book-right-1" data-role="'prefix':'seil','src':'/speak/recipes-brazil.html','spread':true">
    {% include book/seil-info.html %}
    </div>
  </div>
 -->
  <footer></footer>

</div>

<!--
    <div class="centerContainer"></div>
-->
<main class="fluid">
<article role="presenter" data-role="'laidout':'shifted-article'">
	<header id="more-to-tell">
<!--         <div class="contact">
        <h4>Schweiz/Suisse +41-435081057 &nbsp; * </h4>

        <h4>U.K. +44-2036088053 </h4>
        </div>
 -->
        {% include site-follow.html %}
  </header>

    <section class="third bookspread" style="height:580px;">
      {% include intro/publications.html %}
    </section>

    <section class="fourth even ">
      <div class="left-col">
          <div style="position:relative;left:50%; width:100px;">
          <img width="100" src="/images/katty-head.jpg" style="margin-left:30px; border-radius:50px;">
          <!-- <div style="text-align:center;">Caterine Apruzzese</div> -->
          </div>

      {% include katty-short.html %}
      </div>
      
      <div class="right-col">
          <div style="position:relative;left:50%; width:100px;margin-left:-150px;">
          <img width="100" src="/images/henrik-head.jpg" style="margin-left:30px; border-radius:50px;">
          <!-- <div style="text-align:center;">Henrik Vendelbo</div> -->
          </div>

      {% include henrik-short.html %}
      </div>
    </section>

    <section class="fifth" style="background-color: white;">
      {% include intro/switzerland-offer.html %}
    </section>

	<footer class="constrained">
    {% include page-footer-etc.html %}
		{% include page-footer-copyright.html %}
	</footer>
</article>
</main>

{% include site-menu.html %}
