---
permalink: /hello/
layout: frontpage
---

<!--     <div role="toolbar" data-role="'generator':'app.Application'" action="controls">
        <button name="play game">Play Game</button>
 -->
<!-- script>
https://www.openwebdevice.com/partners/pages/example.html
var manifest_url = "http://freshtranslation.com/memory-ffos/manifest.webapp";
</script>

<button onclick="navigator.mozApps.install(manifest_url); return false;">
  Install this awesome app on your homescreen!
</button -->
<!--
    </div>
-->
	<script>

	</script>

    <div id="intro" data-class="'!state.menu-expanded':'menu-collapsed'" >

      <aside class="we-love">
      </aside>

      <section class="benefits">
      </section>

      <div class="center-piece">


      <section class="us" style="width:320px; color:#bbb;">
        <h2 style="text-align:center;">We are,</h2>

        <div style="position:absolute;left:0; width:50%;">
        <img width="100" src="/images/henrik-head.jpg" style="margin-left:30px; border-radius:50px;">
        <div style="text-align:center;">Henrik Vendelbo</div>
        <div style="text-align:center;">henrik@fluentglobe.com</div>
        </div>

        <div style="position:relative;left:50%;width:50%;">
        <img width="100" src="/images/katty-head.jpg" style="margin-left:30px; border-radius:50px;">
        <div style="text-align:center;">Caterine Apruzzese</div>
        <div style="text-align:center;">katty@fluentglobe.com</div>
        </div>

        <h1>We make Fluent Globe</h1>

        <p class="contact" style="text-align:center;">
        <h4 style="text-align:center;">Schweiz/Suisse +41-435081057</h4>

        <h4 style="text-align:center;">U.K. +44-2036088053 </h4>
        </p>
      </section>
      </div>

      <footer></footer>

    </div>

    {% include site-menu.html %}

    <div class="centerContainer"></div>

    <article role="presenter" data-role="'laidout':'shifted-article'">
    	<header id="more-to-tell">
<!--         <div class="contact">
        <h4>Schweiz/Suisse +41-435081057 &nbsp; * </h4>

        <h4>U.K. +44-2036088053 </h4>
        </div>
 -->
        {% include site-follow.html %}
      </header>

        <section>
          <div class="bg"></div>
          <div id="bookshelf">
            <ul class="bk-list clearfix">
              <li role="book" data-role="'src':'/speak/speak-english-in-london.html','pos':-4,'feature':true" class="seil-book">
              </li>
              <li role="book" data-role="'src':'/speak/speak-english-in-newyork.html','pos':3" class="sein-book">
              </li>
              <li role="book" data-role="'template':'#book-layout','src':'/speak/world-cup-in-brazil-2014.html','pos':4" class="wcib14-book">
              </li>
              <li role="book" data-role="'template':'#book-layout','src':'/speak/portuguese-for-travelers.html','pos':5" class="pft-book">
              </li>
            </ul>
            <div class="shelf"></div>
          </div>
    
        	<div class="left-col">

        	</div>
        	
        	<div class="right-col">

        	</div>
        </section>


        <section style="text-align: center;">

            <h3>Speak English in London</h3>
<p lang="en">We are releasing our new book soon.
</p>
<p lang="es"></p>

<p lang="en">We want a few people to try it out first and help us make it even better. Perhaps that could be <em>you</em>.
</p>
<p lang="es"></p>



<p></p>

           <img src="/images/ipad_frame.png">

           <a href="/speak/speak-english-in-london/">
           The Book
           </a>

        </section>

		<footer class="constrained">
			{% include page-footer-copyright.html %}
		</footer>
    </article>

{% include book-layout.html %}
    
