---
permalink: /hello/
layout: frontpage
app-name: browseApp
debug: true
---

<!--     <div role="toolbar" data-role="'generator':'app.Application'" action="controls">
        <button name="play game">Play Game</button>
 -->
<!-- script>
https://www.openwebdevice.com/partners/pages/example.html
var manifest_url = "http://freshtranslation.com/memory-ffos/manifest.webapp";
</script>

<button onclick="navigator.mozApps.install(manifest_url); return false;">
  Install this awesome app on your homescreen!
</button -->
<!--
    </div>
-->
<div id="intro" data-class="'!state.menu-expanded':'menu-collapsed'" >

  <section class="left-col" style="color:#bbb;">
    <h3 style="text-align:center;">We are,</h3>

    <div style="position:absolute;left:15%; width:35%;">
    <img width="100" src="/images/henrik-head.jpg" style="display:block; margin: 0 auto 10px auto; border-radius:50px;">
    <div style="text-align:center;">Henrik Vendelbo</div>
    <div style="text-align:center;">henrik@fluentglobe.com</div>
    </div>

    <div style="position:relative;left:50%;width:35%;">
    <img width="100" src="/images/katty-head.jpg" style="display:block; margin: 0 auto 10px auto; border-radius:50px;">
    <div style="text-align:center;">Caterine Apruzzese</div>
    <div style="text-align:center;">katty@fluentglobe.com</div>
    </div>

    <h2 style="text-align:center;">We make Fluent Globe</h2>

    <p class="contact" style="text-align:center;">
    <h5 style="text-align:center;">Schweiz/Suisse +41-435081057</h5>

    <h5 style="text-align:center;">U.K. +44-2036088053 </h5>

    <h5 style="text-align:center;">U.S. +1-855-738-6715 </h5>
    </p>
  </section>

  <div id="bookspread" class="right-col">
    <h2  style="text-align:center;">Our latest book</h2>

    <ul id="bk-list" class="bk-list clearfix">
      <li role="book" data-role="'src':'/speak/recipes-brazil.html','pos':-4,'feature':true" class="r4vb-book"></li>
      <li role="book" data-role="'src':'/speak/speak-english-in-london.html','pos':3,'feature':true" class="seil-book"></li>
    </ul>
  </div>


  <footer></footer>

</div>

<!--
    <div class="centerContainer"></div>
-->

<article role="presenter" data-role="'laidout':'shifted-article'">
	<header id="more-to-tell">
<!--         <div class="contact">
        <h4>Schweiz/Suisse +41-435081057 &nbsp; * </h4>

        <h4>U.K. +44-2036088053 </h4>
        </div>
 -->
        {% include site-follow.html %}
  </header>

  <section class="main-text-section main-text">

    <h3>Speak English in London</h3>
    <p lang="en">We are releasing our new book for visiting London in June.</p>
    <p lang="es"></p>
    <p lang="en">We want a few people to try it out first and help us make it even better. Perhaps that could be <em>you</em>.</p>
    <p lang="es"></p>
    <p></p>

    <h3>Recipes for Visiting Brazil</h3>
    <p lang="en">Have you chosen where in Brazil you are going for the World Cup?</p>
    <p lang="en">Each of the hosting cities are unique and a very different experience from what you are used to.</p>
    <p lang="en">From North to South, you'll experience different landscapes, weather, food, and music. Only one thing remains the same: The passion for football.</p>
    <p></p>
    <ul lang="en" style="width: 30em;">
      <li>Football is more than a sport.</li>
      <li>Football unifies a nation.</li>
      <li>Watching football people experience moments of joy and excitement.</li>
    </ul>
  </section>

  <section class="main-text-section main-text" ng-controller="add-review as add">
    <h3 lang="en">Please add a review</h3>

    <p lang="en">Like us you probably prefer to buy books with interesting reviews. So please <b>help us</b> by adding one.</p>
    <p lang="en">If you have already had a look at the book and know what you would like to say, jump to the review link below.
      Otherwise get the book on the iBookstore or download the PDF below.
      </p>

    <p lang="en"></p>

    <p class="createsend-button" style="height:22px;display:inline-block;" data-listid="i/F0/33A/EAF/0AB002CCC1A9160B"></p>

    <h4>
      <a href="https://itunes.apple.com/us/book/recipes-for-visiting-brazil/id850307804">
      <label>Open the Book page in iTunes</label>
      </a>
    </h4>

    <h6 class="with-radio-toggle-switch device-switch" style="background: #fff;">

      <span class="toggle-bg toggle-alternate {(add.device || 'off')}">
        <label class="{(add.device)}">{(add.device == 'on'? 'iPad':'Desktop')}</label>
        <input type="radio" name="toggle" value="off" ng-model="add.device">
        <input type="radio" name="toggle" value="on" ng-model="add.device">
        <span class="switch {(add.device)}"></span>
      </span>
    </h6>
    
    <p>
    <a href="https://itunes.apple.com/us/book/recipes-for-visiting-brazil/id850307804" ng-hide="add.device == 'on'">
      <img style="width:100%;" src="/images/review-p1.jpg">
      <img style="width:100%;" src="/images/review-p2.jpg">
    </a>

    <a href="https://itunes.apple.com/us/book/recipes-for-visiting-brazil/id850307804" ng-hide="add.device == 'off'">
      <img style="width:100%;" src="/images/ipad-review-p1.jpg">
      <img style="width:100%;" src="/images/ipad-review-p2.jpg">
    </a>
    </p>

    <p> </p>

    <p>
    <ul lang="en">
    <li>Go to Ratings and Reviews.</li>
    <li>Click "Write a Review"</li>
    <li>Remember to Rate the book.</li>
    </ul>
    </p>

    <h4 lang="en">Ideas for the Review</h4>
    <p lang="en">I've looked around at useful reviews of other books. Here are some sample quotes that might give you ideas of how to say what you want.</p>
    <p lang="en">Great tips for visiting Brazil.</p>
    <p lang="en">A very useful guide for first time travelers to Brazil.</p>
    <p lang="en">Easy to read and very topical.</p>
    <p lang="en">I liked the layout and the fact that the pictures have sounds.</p>
    <p lang="en">Great for learning a bit of Brazilian culture before going there.</p>
    <p lang="en">After reading this book, I am ready for my trip.</p>
    <p lang="en">Nice and easy to read. I enjoyed learning some Portuguese words.</p>

    <p>The review version is cut down to give you an easy review. So some pages will be missing,<p>

    <ul>
    <li>Some of the city information</li>
    <li>Some of the pages with interactive exercises.</li>
    <li>Some of the pages for learning with pictures and sounds.</li>
    </ul>

    <p>As it is a PDF it does not have sounds and interactive exercises like the
      iBooks version does. So some pages may seem a bit sparse.
    </p>
  </section>

	<footer class="constrained">
    {% include page-footer-etc.html %}
		{% include page-footer-copyright.html %}
	</footer>
</article>

{% include site-menu.html %}
{% include book-layout.html %}
    
<script src="http://btn.createsend1.com/js/sb.min.js?v=2" type="text/javascript" class="createsend-script"></script>
