---
layout: frontpage
---

<!--     <div role="toolbar" data-role="'generator':'app.Application'" action="controls">
        <button name="play game">Play Game</button>
 -->
<!-- script>
https://www.openwebdevice.com/partners/pages/example.html
var manifest_url = "http://freshtranslation.com/memory-ffos/manifest.webapp";
</script>

<button onclick="navigator.mozApps.install(manifest_url); return false;">
  Install this awesome app on your homescreen!
</button -->
<!--
    </div>
-->
	<script>

	</script>

    <div id="intro" data-class="'!state.menu-expanded':'menu-collapsed'" >

      <aside class="we-love">
        <figure></figure>
        {% include we-love.html %}
      </aside>

      <section class="benefits">
        {% include benefits.html %}
      </section>

      <!--
      en   /t/i/s/pdtdj/  
      de   /t/i/s/pdtdh/

      ch   /t/i/s/pdthy/
      cs   /t/i/s/pdthh/
      pt   /t/i/s/pdthi/
      fr   /t/i/s/pdthl/
      it   /t/i/s/pdthr/
      jp   /t/i/s/pdthk/
      pl   /t/i/s/pdthd/

      -->
      <form class="signup" role="form"
        action="client+http://fluentglobe.createsend.com" 
        method="post"
        enctype="application/x-www-form-urlencoded"
        data-role="" >

        <fieldset>
        <!--
          <img src="images/henrik.png" alt="Henrik">
          <img src="images/katty.png" alt="Katty">
          -->

        </fieldset>

        <fieldset>
        {% include start-learning.html %}

        <input placeholder="Your Name" name="name" type="text" size="15">
        <input placeholder="e-mail" name="email" type="email" size="15">
        <button class="btn primary double-corner">
        {% include plan-button.html %}
        </button>
        </fieldset>

      </form>

      <div id="stuck-below-image">

      </div>


      <section class="story">
        {% include story.html %}
      </section>

      {% include site-menu.html %}

    </div>

    <div class="centerContainer"></div>

    <article>
    	<header>
        <div class="follow">
          <h4>Follow Fluent Globe</h4>
          <nav>
          <a class="social-icon" href="https://www.facebook.com/fluentglobe" target="_blank">f</a>
          <a class="social-icon" href="https://twitter.com/fluentglobe" target="_blank">l</a>
          <a class="social-icon" href="https://www.linkedin.com/company/fluentglobe" target="_blank">i</a>
          </nav>
        </div>
      </header>

        <section>

            <h3>Create your eBooks in the cloud.</h3>
			<p>
			Creating beautiful eBooks has never been so easy. With the BookMaker you can write your books in the cloud, or simply copy and paste your existing document.
			</p>

            <img src="images/ipad_frame.png">
        </section>

        <section style="height:200px;">
        </section>

		<footer class="constrained">
			{% include page-footer-copyright.html %}
		</footer>
    </article>

