---
layout: frontpage
base-body-class: with-menu 
js-bundle: js/body.js
og-tags:
- Language Learning
- Learning German
- Learning Portuguese
og-images:
- http://fluentglobe.com/image/fluentbook-icon.jpg
---

<!--     <div role="toolbar" data-role="'generator':'app.Application'" action="controls">
        <button name="play game">Play Game</button>
 -->
<!-- script>
https://www.openwebdevice.com/partners/pages/example.html
var manifest_url = "http://freshtranslation.com/memory-ffos/manifest.webapp";
</script>

<button onclick="navigator.mozApps.install(manifest_url); return false;">
  Install this awesome app on your homescreen!
</button -->
<!--
    </div>
-->
<script type="application/config">{% include signup-config.js %}</script>

<div id="intro" data-class="'!state.menu-expanded':'menu-collapsed'" >

  <aside class="we-love"><figure></figure> {% include we-love.html %} </aside>

  <section class="benefits"> {% include benefits.html %} </section>

  <div class="form-and-story">

  <form id="signup" class="signup" role="form"
    action="client+http://email.fluentglobe.com/t/i/s/vjikj/" 
    method="post"
    enctype="application/x-www-form-urlencoded"
    >

    <fieldset>
    {% include start-learning.html %}

    <input type="hidden" name="from-country">
    <input type="hidden" name="native-language">
    <input placeholder="Your Name" name="name" type="text" size="15" required>
    <input placeholder="e-mail" name="email" type="email" size="15" required>
    <button class="btn primary double-corner"> {% include plan-button.html %} </button>
    </fieldset>
  </form>

  <section class="story"> {% include story.html %} </section>
  </div>

  <footer></footer>

</div>


<main>

  <article>
  	<header id="more-to-tell">
      {% include site-follow.html %}
    </header>

    <section class="first bookspread" style="padding-bottom: 300px;">
      {% include layered-cake-article.html %}

        <img style="position: absolute; right:10px; width: 50px;" src="images/itunes-store-bw.png">

        <div role="book" class="book-center" style="margin-top: -130px;" data-role="'prefix':'r4vb','src':'/speak/recipes-brazil.html','spread':true">
            {% include book/r4vb-info.html %}
        </div>

    </section>

    <section style="text-align: center; display:none;">

        <h3>It starts with a few words</h3>
<p lang="en">We have lived in 7 different countries,
and haven't settled yet.
</p>
<p lang="es">Hemos vivido en 7 países diferentes, y sin embargo no se han instalado.</p>

<p lang="en">We want <em>you</em> to enjoy the places you visit and experience "<em>The Real Thing</em>".
To be an insider not an outsider.
</p>
<p lang="es">Queremos que <em> </em> para disfrutar de los lugares que visitar y experimentar "<em>The Real Thing</em>". Para ser un iniciado no un extraño.</p>

<p lang="en">It starts with a few words in a strange language.</p>
<p lang="es">Se inicia con unas palabras en un idioma extraño.</p>

<p></p>

            <img src="images/ipad_frame.png">
        </section>

        <section class="second even">
        	<div class="left-col">
              <div style="position:relative;left:50%; width:100px;">
              <img width="100" src="/images/katty-head.jpg" style="margin-left:30px; border-radius:50px;">
              <!-- <div style="text-align:center;">Caterine Apruzzese</div> -->
              </div>

        	{% include katty-short.html %}
        	</div>
        	
        	<div class="right-col">
              <div style="position:relative;left:50%; width:100px;margin-left:-150px;">
              <img width="100" src="/images/henrik-head.jpg" style="margin-left:30px; border-radius:50px;">
              <!-- <div style="text-align:center;">Henrik Vendelbo</div> -->
              </div>

        	{% include henrik-short.html %}
        	</div>
        </section>

		<footer class="constrained bookspread">
      {% include page-footer-etc.html %}
			{% include page-footer-copyright.html %}
		</footer>
    </article>
</main>

{% include site-menu.html %}
<script type="text/javascript" src="https://js.simperium.com/v0.1/"></script>
