---
layout: frontpage
base-body-class: with-menu
js-bundle: /js/body.js
fresh-form: true
og-tags:
- Language Learning
- Learning German
- Learning Portuguese
og-images:
- http://fluentglobe.com/images/icon.jpg
---
<script type="application/config">{% include signup-config.js %}</script>

<main class="spread-of-subpages">
  <article class="subpage press-details">
  </article>

  <article class="subpage about">
  </article>

  <article class="subpage frontpage">
    {% include subpages/frontpage.html %}
  </article>

  <article class="subpage course-1-month">
  </article>

  <article class="subpage course-subscribe">
  </article>

  <!-- <article class="subpage bookspread publications">
    { % include subpages/publications.html % }
  </article> -->
</main>
