@import "common/mixins";
@import "bootstrap/less/mixins";

.intro-on-body(@image:url(../images/girl-on-terrace.jpg),@image-portrait:url(../images/girl-on-terrace.jpg),@min-height: @top-splash-room, @max-height: @top-splash-max, @bg-color: black) {

    #intro {

        left:0;
        right:0; 
        //min-height: @landscape-bg-height;
        // height: @landscape-bg-height;
        //TODO z-index: -9999;

        //padding-top: 200px;
        color: white;
        background-color: @bg-color;
        background-image: @image;
        background-position: top left;
        background-repeat: no-repeat; 
        // background-size: auto 100%;
        background-size: 100% auto;
    }
    #tracer { position:fixed; visibility: hidden; width: @landscape-bg-width; height: @landscape-bg-height;}

    @media only screen and {
        
    }

    // Narrow browser
    @media only screen 
    and (min-width : 320px) 
    and (max-width : 360px) 
     {

        #intro {
            background-image: @image-portrait;
            background-position: top center;
            background-size: 360px auto;
        }
        #tracer { position:fixed; visibility: hidden; width: @portrait-bg-width; height: @portrait-bg-height;}
    }

    // Narrow browser
    @media only screen 
    and (min-width : 361px) 
    and (max-width : 800px) 
     {

        #intro {
            background-image: @image-portrait;
            background-position: top center;
            background-size: 100% auto;
        }
        #tracer { position:fixed; visibility: hidden; width: @portrait-bg-width; height: @portrait-bg-height;}
    }


    //TODO fixed width 320-360, scale after

    //and (orientation : portrait)

    // iPhone portrait and landscape
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
     {

        #intro {
            background-image: @image-portrait;
            background-position: top left;
            background-size: 360px auto;
        }
        #tracer { position:fixed; visibility: hidden; width: @portrait-bg-width; height: @portrait-bg-height;}
    }

    // iPad:
    // not sure about this
    @media screen and (device-aspect-ratio: 3/4) and (orientation:portrait) {

        #stuck {
            background-position: bottom center;
            background-size: auto 100%;
        }
    }

}

.centered-bg-body(@image:url(../images/girl-on-terrace.jpg),@image-portrait:url(../images/girl-on-terrace.jpg),@bg-width: 1136px,@bg-height: 768px,@min-height: @top-splash-room, @max-height: @top-splash-max) {

    // 1136px width landscape iphone5 (x 640px)
    @bg-from-width: (@bg-width + 1px);
    // 768px height portrait iPad
    @bg-from-height: (@bg-height + 1px);

    #intro {

        left:0;
        right:0; 
        //min-height: @landscape-bg-height;
        // height: @landscape-bg-height;
        //TODO z-index: -9999;

        //padding-top: 200px;
        color: white;

        background-image: @image;
        background-position: bottom center;
        background-repeat: no-repeat; 
        background-size: auto;
        //background-size: 100% auto;
    }
    #tracer { position:fixed; visibility: hidden; width: @bg-width; height: @bg-height;}

    // no bigger than image
    @media only screen and (max-width:@bg-width) and (min-height: @bg-height) {
        #intro {
            background-size: cover;
        }
    }

    @media only screen and (min-width: @bg-from-width ){
        #intro {
            background-size: 100% auto;
        }
    }

    @media only screen and (min-height: @bg-from-height) {
        #intro {
            background-size: auto 100%;
        }
    }

    // bigger than both width and height
    @media only screen and (min-width: @bg-from-width ) and (min-height: @bg-from-height) {

    }

    // Narrow browser
    @media only screen 
    and (min-width : 320px) 
    and (max-width : 360px) 
     {

        #intro {
            // background-image: @image-portrait;
            // background-position: bottom center;
            // background-size: auto auto;
        }
        //#tracer { position:fixed; visibility: hidden; width: @portrait-bg-width; height: @portrait-bg-height;}
    }

    // Narrow browser
    @media only screen 
    and (min-width : 361px) 
    and (max-width : 800px) 
     {

        #intro {
            // background-image: @image-portrait;
            background-position: bottom center;
            //background-size: 100% auto;
            // background-size: auto auto;
        }
        //#tracer { position:fixed; visibility: hidden; width: @portrait-bg-width; height: @portrait-bg-height;}
    }


    //TODO fixed width 320-360, scale after

    //and (orientation : portrait)

    // iPhone portrait and landscape
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
     {

        #intro {
            // background-image: @image-portrait;
            // background-position: top left;
            // background-size: 360px auto;
        }
        //#tracer { position:fixed; visibility: hidden; width: @portrait-bg-width; height: @portrait-bg-height;}
    }

    // iPad:
    // not sure about this
    @media screen and (device-aspect-ratio: 3/4) and (orientation:portrait) {

        #stuck {
            background-position: bottom center;
            background-size: auto 100%;
        }
    }

}

.stuck-on-body(@image:url(../images/girl-on-terrace.jpg),@image-portrait:url(../images/girl-on-terrace.jpg),@min-height: @top-splash-room, @max-height: @top-splash-max) {

    // default until 960px
    #stuck {

        position:fixed;
        top:0;
        width:100%; 
        min-height: @landscape-bg-height;
        height: @landscape-bg-height;
        z-index: -9999;

        //padding-top: 200px;
        color: white;

        background-image: @image;
        background-position: top left;
        background-repeat: no-repeat; 
        background-size: auto 100%;
    }
    #tracer { position:fixed; visibility: hidden; width: @landscape-bg-width; height: @landscape-bg-height;}

    article {
        margin-top: @top-splash-room; // will be overridden by struck measurement
        // min-width: 980px;
    }

    // past 960px width
    @media only screen and (min-width : @landscape-bg-width) {
        #stuck {
            background-size: 100% auto;
            height:100%;
            min-height: @min-height;
            max-height: @max-height;
        }
    }
    
    //TODO fixed width 320-360, scale after

    // iPhone portrait
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
    and (orientation : portrait) {

        #stuck {
            width: 100%;
            height: @portrait-bg-height;
            min-height: initial;
            max-height: initial;

            background-image: @image-portrait;
            background-position: top center;
            background-size: 360px auto;

            .we-love {
                left: 25px;
            }
            .story {
                position: absolute;
                top: initial;
                bottom: 100px;
                left: 25px;
                width: 80%;
            }
            .benefits {
                left: 25px;
                width: 80%;
            }

            form {
                left: 25px;
                top: 47%;
                width: 80%;
                margin-left: 0;
                margin-top: 0;
            }
        }
        #tracer { width: @portrait-bg-width; height: @portrait-bg-height;}

        article {
            margin-top: @top-splash-room-640 * 2;
            min-width: initial;
        }
    }

    // iPhone landscape
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
    and (orientation : landscape) {

        #stuck {
            min-height: 320px;
            max-height: 520px;

            background-position: top left;
            background-size: auto 100%;
        }
        article {
            min-width: initial;
        }
    }

    // iPad:
    @media screen and (device-aspect-ratio: 3/4) and (orientation:portrait) {

        #stuck {
            background-position: bottom center;
            background-size: auto 100%;
        }
    }

    // iPad:
    // @media screen and (device-aspect-ratio: 3/4) and (orientation:landscape) {

    //     #stuck {
    //         background-image: @image;
    //         background-position: bottom center;
    //         background-size: auto 100%;
    //     }
    // }
}

.social-icon-bar(@icon-size: 40px,@color: #888, @hover-color: #08C) {
    h4 {
        display: inline-block;
        font-size: 15px;
        margin: 0;
        padding: (@icon-size/4) (@icon-size/4) 5px 0;
        vertical-align: top;
        color: @color;
    }
    .social-icon {
        font-family: "socialicoregular";
        font-size: @icon-size;
        color: #888;
        text-decoration: none;
        line-height: 1;

        &:hover {
            color: @hover-color;
        }
    }
}

.fixedBackground(@bottom-gap: 30px) {

    .menu {
        position: fixed;
    }

    #intro {
        position: fixed;
        top: 0;
        bottom: 0;

        // the footer is used to set start of article when intro is fixed
        > footer {
            position:relative;
            margin-top: @bottom-gap;
        }
    }
    article {
        margin-top: 100%;
        z-index: 100;
    }
}


.outhangingHeader(@header-height: 60px, @bg-color: rgba(0,0,0,.7),@bg-color-ie:rgb(40,40,40)) {

    > header {
        position:absolute;
        top: -(@header-height);
        height: @header-height;
        left:0; right:0;
        background-color: @bg-color-ie;
        background-color: @bg-color;
    }

}

.articleSections(@white-bg-color: white, @shaded-bg-color: rgb(243,243,243), @border-top-color: rgb(236,236,236),@border-bottom-color: rgb(236,236,236)) {

    section {
        position: relative;
        padding-top: 3em;
        padding-bottom: 3em;
        width: 100%;
        margin: 0 auto;
        box-shadow: 0 5px 5px #454545;
        color: #474747;

        .bg,
        > :first-child:before {
            display: block;
            position: absolute;
            left:0; right:0; top:0; bottom: 0;
            content:"";
            background-color: @white-bg-color;
            z-index: -1000;  
        }

        h3 {
            text-align: center;
            font-size: 2em;
        }
        p {
            //width: 680px;
            // margin: 0 auto;
            word-wrap: normal;
            overflow-wrap: break-word; 
        }
    }

    section.even {
        background-color: @shaded-bg-color;
        border-top: 1px solid @border-top-color;
        border-bottom: 1px solid @border-bottom-color;
    }

}

.articleFooter(@bg-color: @footer-bg-color,@color: #888, @link-color: @fluent-red) {

    > footer {
        position: relative;
        padding: 20px 0 25px 0;
        background-color: @bg-color;
        color: @color;
        line-height: 1.5;

        a {
            color: @link-color;
            text-decoration: none;
        }
    }

}

