// Colors
// =====================
@dark-blue: #054696;
@light-blue: rgb(1,122,213);
@website-lighter-blue: rgb(219,233,246);
@grey: rgb(49,58,61);
@red: #e63e2e;
@green: #587521;
@orange: #ed8b00;
@fluent-red: rgb(251,68,27);


// Typography
// -------------------------
@slabFontFamily:		museo, FjordOne, sans-serif;
@sansFontFamily:        "museo-sans", Gill Sans, Open Sans, Tahoma, Arial, sans-serif;
@narrowSansFontFamily: @sansFontFamily;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

@baseFontSize:          13px;
@baseFontFamily:        @slabFontFamily;
@baseLineHeight:        18px;
@altFontFamily:         @serifFontFamily;

///

@inputBorder:                   @input-border-color;
@inputDisabledBackground:       @input-disabled-bg-color;
@inputDisabledBorderColor:		@input-disabled-border-color;
@inputPaddingHorz:				4px;
@inputPaddingVert:				2px;

@general-grid-border-color: black;
@general-grid-odd-bg-color: white;
@general-grid-even-bg-color: rgb(245,245,245);
@column-menu-border-color: black;

@inputPaddingVert: 1px;

// <link href='http://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>

@landscape-bg-width: 960px;
@landscape-bg-height: 548px;
@portrait-bg-width: 360px; // import from javascript
@portrait-bg-height: 920px;

.stuck-on-body(@image:url(../images/girl-on-terrace.jpg),@image-portrait:url(../images/girl-on-terrace.jpg),@min-height: @top-splash-room, @max-height: @top-splash-max) {

    // default until 960px
    #stuck {

        position:fixed;
        top:0;
        width:100%; 
        min-height: @landscape-bg-height;
        height: @landscape-bg-height;
        z-index: -9999;

        //padding-top: 200px;
        color: white;

        background-image: @image;
        background-position: top left;
        background-repeat: no-repeat; 
        background-size: auto 100%;
    }
    #tracer { position:absolute; visibility: hidden; width: @landscape-bg-width; height: @landscape-bg-height;}

    article {
        position:relative; //absolute
        width: 100%;
        margin-top: @top-splash-room; // will be overridden by struck measurement
        min-width: 980px;
        overflow: visible;
    }

    // past 960px width
    @media only screen and (min-width : @landscape-bg-width) {
        #stuck {
            background-size: 100% auto;
            height:100%;
            min-height: @min-height;
            max-height: @max-height;
        }
    }
    
    //TODO fixed width 320-360, scale after

    // iPhone portrait
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
    and (orientation : portrait) {

        #stuck {
            width: 100%;
            min-height: initial;
            max-height: 620px;

            background-image: @image-portrait;
            background-position: top center;
            background-size: 360px auto;
        }
        #tracer { width: @portrait-bg-width; height: @portrait-bg-height;}

        article {
            margin-top: @top-splash-room-640 * 2;
            min-width: initial;
        }
    }

    // iPhone landscape
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
    and (orientation : landscape) {

        #stuck {
            min-height: 320px;
            max-height: 520px;

            background-position: top left;
            background-size: auto 100%;
        }
        article {
            min-width: initial;
        }
    }

    // iPad:
    @media screen and (device-aspect-ratio: 3/4) and (orientation:portrait) {

        #stuck {
            background-position: bottom center;
            background-size: auto 100%;
        }
    }

    // iPad:
    // @media screen and (device-aspect-ratio: 3/4) and (orientation:landscape) {

    //     #stuck {
    //         background-image: @image;
    //         background-position: bottom center;
    //         background-size: auto 100%;
    //     }
    // }
}


