article {

    position:relative; //absolute
    width: 100%;
    border-left: @menu-edge-width solid transparent;
    overflow: visible;

    .transition(~".3s ease-in-out left,.3s ease-in-out margin-top");

    .outhangingHeader();

    // .open-book & {
    //     //position: static;
    //     margin-top: 60px !important;
    //     background: white;
    // }

    // .checkbox-switcher {
    //     .switch-checkbox();
    // }

    section {
        header {
            .clearfix();
            text-align: center;

            h1 {
            }

            img.feature {
                width:300px;
                padding: 0 10px 10px 10px;
                margin-top: -20px;
            }
        }
    }

    > footer {
        padding: 40px 0 10px 0;
    }
}

@media only screen and (min-width: 400px) {
    article {
        section {
            header {
                .feature {
                    padding: 0 20px 20px 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 400px) and (max-width: 799px) {
    article {
        section {
            header {
                h1 {
                    text-align: left;
                    margin-left: 1em;
                }
                .feature.left {
                    float: left;
                }
                .feature.right {
                    float: right;
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) and (max-width: 1299px) {
    article {
        section {
            header {
                min-height: 100px;
                .feature {
                    position: absolute;
                }
                .feature.left {
                    left: 0;
                }
                .feature.right {
                    right: 0;
                }
            }
        }
    }
}

.center-col {
    text-align: center;
}

#intro,
.splash article {
    .left-col {
        padding: 0 30px;
    }
    .right-col {
        padding: 0 30px;
    }
}

#intro {
    .left-col, .right-col {
        margin-top: 3em;
    }
}

// on section
.main-text-section {
    text-align: center;
}

// on parent of section or section itself
.main-text {
        h1,h2,h3,h4,h5,h6 {
            margin: .7em auto 1em auto; 
            width: 35em; 
            max-width: 90%;
        }

        ul,ol,
        p {
            text-align: left; 
            margin:0 auto .7em auto; 
            width: 35em; 
            max-width: 90%;
        }
}

.constrained {
    overflow: visible;

    .centered-content {
        position: relative;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        clear: both;
    }
}

.centerContainer {
    width: 300px; //TODO change?
    margin: 0 auto;
}

// .two-boxes


