#intro {
    position: relative;
    border-left: @menu-edge-width solid @fluent-red;
    padding-top: @intro-top-gap; // room for the menu
    padding-bottom: @intro-bottom-gap; // room for the article header
    min-height: @min-height-intro;

    .transition(.3s ease-in-out left);
}

// review link in intro

.narrow-blurp {
    margin: 40px auto 0 auto;
    border: 0;
    width: 10em;
    text-align: center;
}

.splash #intro {

    .benefits ul { padding-bottom: 1em; }
    .story { margin-bottom: 3em; }

    h1, h2, h3, h4, h5, h6 { font-weight: 300; }

    h3 {
        position: relative;
        // left: 700px;
        margin-top: 0;
        margin-bottom: 10px;
        //text-align: center;
        font-size: 1.6em;
        text-shadow: 0px 1px 1px black;
        font-weight: 300;
        color: @fluent-red;
    }
    p {
        position: relative;
        // left: 700px;
        // font-size: 1.2em;
        // width: 680px;
        //margin: 0 auto;
        text-shadow: 0px 1px 1px black;
    }
    p em {
        font-style: normal; 
        color: @fluent-red;
    }


    fieldset {
        position: relative;
        text-align: center;

        input[type=email],
        input[type=text] {
            width: 220px;
            height: 28px;
            vertical-align: baseline;
            padding: 1px 10px;
        }
    }

    input,textarea {
        // padding: 3px 6px;
    }

    .btn.primary {
        background: @fluent-red;
    }
    

    // general
    .we-love .forward-looking {
        margin-left: 9em;
        margin-top: 1.5em;
    }

    .scribbles {
        display: block;
        font-family: "rocksalt";
        font-size: 24px;
        color: @fluent-red;
        // margin-top: 16px;
    }

}


