#intro {
    position: relative;
    border-left: @menu-edge-width solid @fluent-red;
    padding-top: @intro-top-gap; // room for the menu
    padding-bottom: @intro-bottom-gap; // room for the article header
    min-height: @min-height-intro;

    .transition(.3s ease-in-out left);
}

// review link in intro

.narrow-blurp {
    margin: 40px auto 0 auto;
    border: 0;
    width: 10em;
    text-align: center;
}

