p br.page,
br.page {
	display: none;
	// break-after: page;
	page-break-after: always; // old style for now
}

p br.column,
br.column {
	display: none;
	// break-after: column;
	page-break-after: always; // old style for now
}

h1, h2, h3, h4, h5, h6 {
	page-break-after: avoid;
}