<nav class="etc two-cols" style="min-height: 400px;">
	<div class="left-col center-block">

	    <h3 lang="en">{{ page.facebook-like-title }}</h3>
	    <h4 lang="en">Meet others on our FaceBook page</h4>

	    <div class="fb-like-box" data-href="{{ page.facebook-fan-page-url }}" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>

	    <p>Or even better, help us by <a href="#review">Adding a Review</a></p>

	</div>

	<iframe class="right-col freshwidget-embedded-form" id="freshwidget-embedded-form" src="http://help.fluentglobe.com/widgets/feedback_widget/new?&widgetType=embedded&screenshot=no" scrolling="no" height="360px" width="100%" frameborder="0" >
	</iframe>

</nav>
