<div class="ls-l" style="top:12%; width:60%; left:63%;text-align:right;" data-ls="offsetxin:0;durationin:500;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<h1 lang="es">Aprende expresiones locales.</h1>
	<h1 lang="en">Learn local expressions. </h1>
</div>

<div class="ls-l with-sound" style="left:26%;width:30%; top:50%;font-size:120%;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">

	<p lang="es">En el libro encontrarás una sección dedicada a expresiones británicas y modismos que solo los británicos conocen. Existen muchas expresiones que son muy comunes y las escucharás con mucha frecuencia. Algunas son “jerga” y es por eso que muchos libros no las enseñan. </p>
	<p lang="en">In the book you will find a section dedicated to British expressions and idioms that only British people know. There are many expressions that are very common and you will hear them a lot. Some are “slang” expressions and that is why many books don’t teach them. </p>

	<p lang="es">Al principio cuando me mudé a Inglaterra, no sabía que era “fag” o “quid”. En caso de que hayas aprendido inglés americano, un “fag” es muy diferente del significado que tiene en Inglaterra. En Inglaterra, las personas pueden decirte “¿Me puedes dar un fag?”</p>
	<p lang="en">When I first moved to England, I didn’t know what a “fag” or a “quid” were. In case you’ve learned American English, an American “fag” is very different from an English one. In England, people might ask “Can I have a fag?”</p>

	<p lang="es">Si quieres aprender más expresiones británicas, ve a la sección 4 “Oh Dear! British Expressions”.</p>
	<p lang="en">If you want to learn more British expressions, go to section 4 Oh Dear! British Expressions</p>

	<p style="text-align:center;">
	<a class="icon-play-circle" data-play-sound="" rel="audio" href="/speak/sound/I'm So Pissed.m4a"></a>
	</p>

	<p style="text-align:center;">
	<a class="icon-play-circle" data-play-sound="" rel="audio" href="/speak/sound/Rock Music Isn't..m4a"></a>
	</p>
<!--
<audio id="page-audio" src="/assets/i-dont-eat-nuts.mp3"></audio>

<img class="right-side" src="/assets/book-glasses.jpg" onclick="Resolver('page::player::').setSrc('/assets/i-dont-eat-nuts.mp3'); Resolver('page::player::').play();">
-->
</div>
