
Aprende Expresiones Británicas que no te enseñan en la escuela.

En el libro encontrarás una sección dedicada a expresiones británicas y modismos que solo los británicos conocen. Existen muchas expresiones que son muy comunes y las escucharás con mucha frecuencia. Algunas son “jerga” y es por eso que muchos libros no las enseñan. 
Al principio cuando me mudé a Inglaterra, no sabía que era “fag” o “quid”. En caso de que hayas aprendido inglés americano, un “fag” es muy diferente del significado que tiene en Inglaterra. En Inglaterra, las personas pueden decirte “¿Me puedes dar un fag?”

Si quieres aprender más expresiones británicas, ve a la sección 4 “Oh Dear! British Expressions”.

(I’m so pissed!) (Rock music isn’t really my cup of tea) 

