<div class="ls-l" style="top:12%; width:60%; left:63%;text-align:right;" data-ls="offsetxin:0;durationin:500;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<h1 lang="es">Consejos culturales</h1>
	<h1 lang="en">Cultural tips</h1>
</div>

<div class="ls-l with-sound" style="left:31%;width:40%; top:40%;font-size:120%;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">

<p>Este libro te ofrece consejos sobre las costumbres inglesas en general. Aprender el idioma no es suficiente. No puedes tener fluidez en un idioma si no conoces un poco de la cultura. Comprender la actitud y el humor de las personas así como también sus costumbres, es tan importante como aprender el idioma. </p>

<p>“Los ingleses no suelen dar dos besos cuando se saludan por primera vez. Si durante tu viaje a Inglaterra, tengas que saludar a alguien, debes dar un apretón de manos (handshake) tanto a los hombres como a las mujeres. Entre amigos o conocidos, los abrazos (hugs) son más comunes que los besos en la mejilla”. pag 10</p>


<p>Ah, y en caso de que te estés preguntando por qué los ingleses tienen una obsesión por el clima, bueno, tal vez sea porque estén tratando de hacer un esfuerzo para ser amigables con los desconocidos. ¡Es una buena forma para empezar una conversación! </p>

</div>