<div class="ls-l" style="top:12%; width:60%; left:63%;text-align:right;" data-ls="offsetxin:0;durationin:500;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<h1 lang="es">Ejercicios de Comprensión Auditiva.</h1>
	<h1 lang="en">Listening Exercises </h1>
</div>

<div class="ls-l with-sound" style="left:26%;width:30%; top:50%;font-size:120%;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">

<p lang="es">La capacidad de comprender lo que otras personas dicen es muy importante. Para un principiante, eso es aún más útil que leer y escribir.
Si no comprendes bien, será muy difícil expresarte y comunicarte con los demás. Las personas insultarán, usarán expresiones locales, acentos y jerga. Todo es parte del idioma. </p>
<p lang="en">The ability to understand what other people say is very important. For a beginner, that is even more useful than reading and writing. 
If you don’t understand well, it will be really hard to communicate with others. People will curse, use local expressions, accents and slang. It is all part of the language. 
</p>

<p lang="es">Debes escuchar para comprender los sonidos del idioma. La pronunciación solo se puede aprender escuchando.</p>
<p lang="en">You must listen to get the sounds of the language. Pronunciation can only be learned from listening. 
</p>

<p lang="es">Este libro tiene mucho audio hablado por personas reales con diferentes acentos locales. También hay ejercicios para revisar si comprendiste lo que escuchaste. Escuchas una historia corta, y luego marcas la respuesta correcta.</p>
<p lang="en">This book has a lot of audio spoken by real people with different local accents. There are also exercises to check if you understood what you’ve heard. You listen to a short story, and then you tick the correct answer. 

</p>



</div>
