<h1>Consejos sobre la vida en Londres</h1>

<p>Londres es una ciudad interesante y hay muchas cosas que hacer. Hay una frase famosa que dice “cuando un hombre se cansa en Londres, es porque está cansado de la vida”. </p>

<p>Este libro también es una guía, y encontrarás muchos consejos prácticos sobre cómo desplazarte por la ciudad, dónde comer y qué hacer durante el día y la noche.</p>

<p>“¿Quieres utilizar el transporte público de Londres? La manera más fácil de moverte en Londres es en “tube” o “underground”. Necesitarás de una tarjeta llamada “Oyster card”. Esta tarjeta se utiliza como como pre-pago. Cada vez que se realice un viaje, el saldo será descontado en tu tarjeta. Para cargar la Oyster, puedes pedir para “top-up”, una expresión muy común en Inglaterra”</p>




