<div class="ls-l" style="top:12%; width:60%; left:63%;text-align:right;" data-ls="offsetxin:0;durationin:500;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<h1 lang="es">Consejos sobre la vida en Londres.</h1>
	<h1 lang="en">Tips about London life </h1>
</div>

<img class="ls-l" style="left:74%;width:468px; top:65%" data-ls="offsetxin:0; durationin:2000;dalayin:0;rotateyin:60;transformoriginin:right 50% 0;" src="/images/tube-and-fliers.jpg" width="468">

<div class="ls-l with-sound" style="left:26%;width:30%; top:50%;font-size:120%;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">

<p lang="es">Londres es una ciudad interesante y hay muchas cosas que hacer. Hay una frase famosa que dice “cuando un hombre se cansa en Londres, es porque está cansado de la vida”. </p>
<p lang="en">London is an exciting city and there’s plenty to do. There’s a famous quote that says “when a man is tired of London, he’s tired of life”. </p>

<p lang="es">Este libro también es una guía, y encontrarás muchos consejos prácticos sobre cómo desplazarte por la ciudad, dónde comer y qué hacer durante el día y la noche.</p>
<p lang="en">This book is also a guide, and you will find lots of practical advice on how to get around the city, where to eat and what to do during the day and night. 
</p>

<p>“¿Quieres utilizar el transporte público de Londres? La manera más fácil de moverte en Londres es en “tube” o “underground”. Necesitarás de una tarjeta llamada “Oyster card”. Esta tarjeta se utiliza como como pre-pago. Cada vez que se realice un viaje, el saldo será descontado en tu tarjeta. Para cargar la Oyster, puedes pedir para “top-up”, una expresión muy común en Inglaterra” pag 121</p>



</div>
