<h1>Ejercicios de Comprensión Auditiva</h1>


<p>La capacidad de comprender lo que otras personas dicen es muy importante. Para un principiante, eso es aún más útil que leer y escribir.
Si no comprendes bien, será muy difícil expresarte y comunicarte con los demás. Las personas insultarán, usarán expresiones locales, acentos y jerga. Todo es parte del idioma. </p>


<p>Debes escuchar para comprender los sonidos del idioma. La pronunciación solo se puede aprender escuchando.</p>

<p>Este libro tiene mucho audio hablado por personas reales con diferentes acentos locales. También hay ejercicios para revisar si comprendiste lo que escuchaste. Escuchas una historia corta, y luego marcas la respuesta correcta.</p>


