<h1>Aprende por medio de la inmersión con la ayuda de ilustraciones </h1>

<p>La mejor forma de aprender un idioma es por medio de la inmersión. Necesitas rodearte de gente con quien puedas practicar y el inglés debería ser parte de tu vida diaria. En otras palabras, estudiar inglés debería ser parte de tu rutina, al igual que desayunar o sacar a pasear al perro.</p>

<p>Este libro está escrito en inglés, así te puedes acostumbrar a pensar en inglés. Aprender por medio de la inmersión ayuda a enfocarte más, porque no tienes que estar alternando entre un idioma y otro. En cambio, tratar de descubrir el significado de algo, es como resolver un rompecabezas, cuantos más haces, mejor te vuelves en eso. </p>

<p>Si no entiendes algo, busca pistas. Este libro tiene muchas ilustraciones, y para cada oración o palabra que se está enseñando hay un dibujo que te ayudará.</p>


