<div class="ls-l" style="top:12%; width:60%; left:63%;text-align:right;" data-ls="offsetxin:0;durationin:500;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<h1 lang="es">Aprende por medio de la inmersión.</h1>
	<h1 lang="en">Learn through immersion. </h1>
</div>

<div class="ls-l with-sound" style="left:26%;width:30%; top:50%;font-size:120%;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">

<p lang="es">La mejor forma de aprender un idioma es por medio de la inmersión. Necesitas rodearte de gente con quien puedas practicar y el inglés debería ser parte de tu vida diaria. En otras palabras, estudiar inglés debería ser parte de tu rutina, al igual que desayunar o sacar a pasear al perro.</p>
<p lang="en">The best way to learn a language is through immersion. You want to surround yourself with the topic and English should be part of your daily life. In other words, studying English should be part of your routine, just like having breakfast or taking your for a walk. 
</p>

<p lang="es"> Aprender por medio de la inmersión ayuda a enfocarte más, porque no tienes que estar alternando entre un idioma y otro. En cambio, tratar de descubrir el significado de algo, es como resolver un rompecabezas, cuantos más haces, mejor te vuelves en eso. </p>
<p lang="en"> Learning through immersion helps you focus more, because you don’t have to be switching languages back and forth. Translation might be helpful, but it will distract you, and interrupt your learning. Instead, try to unwind the meaning of something. it’s like solving a puzzle, the more you do, the better you become at it.</p>

<p lang="es">Si no entiendes algo, busca pistas. Este libro tiene muchas ilustraciones, y para cada oración o palabra que se está enseñando hay un dibujo que te ayudará.</p>
<p lang="en">If you don’t understand something, look for clues. This book is heavily illustrated, and for each sentence or word that is being taught there’s a picture to help you out. 
</p>


</div>
