<div class="ls-l" style="top:12%; width:60%; left:63%;text-align:right;" data-ls="offsetxin:0;durationin:500;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<h1 lang="es">Aprende el verdadero idioma local</h1>
	<h3 lang="es">(como lo hablan los londinenses)</h3>
	<h1 lang="en">Learn the real spoken language</h1>
	<h3 lang="en">( like Londoners speak )</h3>
</div>

<!-- Ar you going to London -->
<div class="ls-l with-sound" style="left:31%;width:40%; top:40%;font-size:120%;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<p lang="es">¿Vas en viaje de placer a Londres, a vivir o a trabajar ahí? </p>
	<p lang="en">Are you going to London for pleasure, to live or work there? </p>

	<p lang="es">Saber inglés te abrirá nuevas puertas y te hará sentir como un nativo.</p>
	<p lang="en">Knowing English will open new doors and will make you feel like an insider.</p>  

	<p style="text-align:center;">
	<a class="icon-play-circle" data-play-sound="" rel="audio" href="/speak/sound/Get Out In The Real World..m4a"></a>
	</p>

	<p lang="es"><em>”Habla inglés en Londres”</em> te enseñará el idioma <em>“real”</em>, el que las personas usan en las situaciones cotidianas. En el libro, encontrarás más de 1000 frases con audio, habladas por personas reales, además de muchos acentos diferentes de Londres. Hay también muchos diálogos para que puedas lograr la fluidez natural del lenguaje.</p>
	<p lang="en"><em>“Habla inglés en Londres”</em> will teach you the <em>“real”</em> language, the one people use on everyday situations. 
	In the book, you will find many different London accents from real people. 
	There are a lot of dialogues so you can get the natural flow of the language. </p>

</div>

<div class="ls-l with-sound" style="left:74%;width:40%;top:60%;height:50%;font-size:120%;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">


<p lang="es">Una de las cosas más importantes cuando viajas o te cambias a otro país o ciudad, es poder comprender lo que dicen los locales. No todos hablan el inglés de la reina. De hecho, la mayoría de las personas no lo hacen. El inglés cotidiano no es tan “elegante” y “correcto” como se cree. </p>
<p lang="en">One of the most important things when moving or traveling is being able to understand what the locals say. Not everyone speaks Queen’s English. In fact, most people don’t. Daily English is not as “posh” and  “correct” as people think. </p>

<p lang="es">Es por esto que es importante que tu oído se acostumbre a diferentes pronunciaciones y expresiones locales. </p>
<p lang="en">This is why it is important to get your ears used to different pronunciations, slang and colloquialisms. </p>
</div>


<div class="ls-l with-sound" style="top:75%;left:50%;width:75%;font-size:120%;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<p style="text-align:center;">
	<a class="icon-play-circle" data-play-sound="" rel="audio" href="/speak/sound/Cheerio.m4a"></a>
	<a class="icon-play-circle" data-play-sound="" rel="audio" href="/speak/sound/Fingers Crossed..m4a"></a>
	<a class="icon-play-circle" data-play-sound="" rel="audio" href="/speak/sound/Would You Like A Cuppa.m4a"></a>
	</p>
	
	<p lang="es">En las situaciones de la vida real, estarás expuesto a diferentes acentos, y escucharás muchas expresiones que son comunes en conversaciones pero que muchos libros no te las enseñan, porque normalmente no se utilizan por escrito. Sin embargo, aprenderlas es muy útil, especialmente si sales con locales.</p>
	<p lang="en">In real life situations, you will be exposed to different accents, and you will hear many expressions that are common in conversations but many books don’t teach you them, because they’re not normally used in writing. However, they’re very useful to learn, especially if you’re hanging with locals. 
	</p>
</div>

<div class="ls-l" style="top:95%;left:50%; width:75%; text-align: center; color: #F83104;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<h3 lang="es">Este libro es lo más cercano a vivir ahí.</h3>
	<h3 lang="en">This book is the closest thing to living there</h3>
</div>