<h1>Aprende el verdadero idioma local (como lo hablan los londinenses) </h1>

<p>¿Vas en viaje de placer a Londres, a vivir o a trabajar ahí? </p>

<p>Saber inglés te abrirá nuevas puertas y te hará sentir como un nativo.”Habla inglés en Londres” te enseñará el idioma “real”, el que las personas usan en las situaciones cotidianas. En el libro, encontrarás más de 1000 frases con audio, habladas por personas reales, además de muchos acentos diferentes de Londres. Hay también muchos diálogos para que puedas lograr la fluidez natural del lenguaje.</p>

Audio (get out in the real world and explore) 



<p>Una de las cosas más importantes cuando viajas o te cambias a otro país o ciudad, es poder comprender lo que dicen los locales. No todos hablan el inglés de la reina. De hecho, la mayoría de las personas no lo hacen. El inglés cotidiano no es tan “elegante” y “correcto” como se cree. </p>


<p>Es por esto que es importante que tu oído se acostumbre a diferentes pronunciaciones y expresiones locales. </p>

<p>En las situaciones de la vida real, estarás expuesto a diferentes acentos, y escucharás muchas expresiones que son comunes en conversaciones pero que muchos libros no te las enseñan, porque normalmente no se utilizan por escrito. Sin embargo, aprenderlas es muy útil, especialmente si sales con locales.</p>

audio (cheerio) (fingers crossed that you’ll get the job) (would you like a cuppa)

<p>Este libro es lo más cercano a vivir ahí.</p>
