<div class="ls-l" style="top:12%; width:60%; left:63%;text-align:right;" data-ls="offsetxin:0;durationin:500;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
	<h1 lang="es">Consejos culturales</h1>
	<h1 lang="en">Cultural tips</h1>
</div>

<div class="ls-l with-sound" style="left:26%;width:30%; top:40%;font-size:120%;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">

	<p lang="es">Este libro te ofrece consejos sobre las costumbres inglesas en general. Aprender el idioma no es suficiente. No puedes tener fluidez en un idioma si no conoces un poco de la cultura. Comprender la actitud y el humor de las personas así como también sus costumbres, es tan importante como aprender el idioma. </p>

	<p lang="en">This book offers you advice on English habits in general. Learning the language is not enough. You can’t be fluent in a language if you don’t know a bit about the culture. Understanding the mood and humor of the people as well as their mannerisms, is as important as learning the language. </p>

	<p lang="es"><blockquote>“Los ingleses no suelen dar dos besos cuando se saludan por primera vez. Si durante tu viaje a Inglaterra, tengas que saludar a alguien, debes dar un apretón de manos (handshake) tanto a los hombres como a las mujeres. Entre amigos o conocidos, los abrazos (hugs) son más comunes que los besos en la mejilla”.</blockquote> <br>
	pag 10</p>
	<p lang="en">All the tips and cultural notes are in Spanish, so you can understand them well. You will find them by taping on the heads on the right hand side of the page. 

	Speaking of habits, next time you book an appointment, please don’t be late. English people are very puntual and they hate waiting. 
	</p>

	<p lang="es">Ah, y en caso de que te estés preguntando por qué los ingleses tienen una obsesión por el clima, bueno, tal vez sea porque estén tratando de hacer un esfuerzo para ser amigables con los desconocidos. ¡Es una buena forma para empezar una conversación! </p>
	<p lang="en">And don’t you dare jumping the queue, if you don’t want to create enemies. 
	Oh, and in case you’re wondering why English people are so obsessed with the weather, well, it might just be that they’re making an effort to be friendly to strangers. It is a great way to start a conversation! 
	</p>

</div>