---
post_title: Recipes%20for%20Visiting%20Brazil
post_referer: http://southamericaliving.com
post_rererer_uri: /
---
<link rel="stylesheet" href="mock-wp.css">



<h2>iBook Review: Recipes for Visiting Brazil: Speaking Portuguese in the 12 Cities of World Cup 2014</h2>




<a href="http://fluentglobe.com/travel-recipes/"><img src="http://cache.fluentglobe.com/images/recipes-brazil-staged-400.jpg" alt="Recipes for Visiting Brazil Cover" class="alignleft"></a>

<blockquote>

<ul style="list-style: none;">
<li>Suitcase? Check. </li>
<li>Passport? Check.</li>
<li>Tickets? Check.</li>
<li>Got local knowledge?</li>
</ul>

</blockquote>

<p><a href="https://itunes.apple.com/us/artist/caterine-apruzzese/id568518413">Caterine Apruzesse&rsquo;s</a> <a href="http://fluentglobe.com/travel-recipes/">Recipes for Visiting Brazil</a>: Speaking Portuguese in the 12 Cities of World Cup 2014 is a little gem of an interactive ebook. 
</p>

<p>Part travel guide and part language guide, it&rsquo;s full of handy information for visiting the host cities of the World Cup in Brazil. And all on your iPhone or computer, so you don&rsquo;t have to lug around yet another heavy tome in your backpack. 
</p>



<p>The book is divided into different sections covering what to pack, basics for traveling in Brazil, food and drink, money, overviews of the different World Cup cities and extremely useful words and phrases in Brazilian Portuguese. Because Caterine has actually lived and travelled in Brazil, she has an insider&rsquo;s knowledge that you won&rsquo;t always find in guide books updated by people researching everything on the internet. </p>

<br>
<br>
<br>

<p>Here&rsquo;s how you can use Recipes for Visiting Brazil: Speaking Portuguese in the 12 Cities of World Cup 2014: </p>

<h3>Learn to speak like a Brazilian</h3>

<a href="http://fluentglobe.com/travel-recipes/" style="display:block;margin-top:2em;"><img src="http://cache.fluentglobe.com/images/p81-400.png" alt="Recipes for Visiting Brazil Cover" class="alignright"></a>

As Caterine points out in the language section, Brazilians tend to be very proud and don&rsquo;t like being lumped together with everyone from a Spanish-speaking countries in Latin America. They&rsquo;re not Latinos; they&rsquo;re Brazilians. They don&rsquo;t drink mojitos; they drink caipirinhas. They don&rsquo;t speak Spanish; they speak Portuguese. Brazilian Portuguese has had several centuries to develop its own, unique flavour. It&rsquo;s a little different from the Portuguese that they speak in Portugal but the differences lie mainly in the pronunciation. 

This is where Recipes for Visiting Brazil: Speaking Portuguese in the 12 Cities of World Cup 2014 is a life-saver: It not only gives you everyday Portuguese phrases that will help you get around, but it has an audio feature so that you can learn how to pronounce these phrases like a Brazilian would. Most phrases are illustrated with relevant photographs too. Because you get the phrase in its written and spoken forms as well as an image to associate it with, it activates different learning processes at the same time and you&rsquo;ll find it easier to memorize these phrases.

Another great feature is that you learn slang expressions that Brazilians actually use, rather than the more formal language-school Portuguese. 

<h3>Learn to recognize the food, drinks and souvenirs when you see them</h3>

<p>Most guide books aren&rsquo;t illustrated but simply describe local dishes, drinks and those souvenirs you might want to buy. This makes going to any kind of market a bit of a challenge because reading a description of something is quite a different story from seeing it in real life. Recipes for Visiting Brazil: Speaking Portuguese in the 12 Cities of World Cup 2014 gives you clear descriptions of, for instance, Coxinhas and Caipirinhas, but it also illustrates these descriptions so that when you see the items in the streets or in restaurants, you&rsquo;ll know what you&rsquo;re looking at.</p>

<br>
<br>
<a href="http://fluentglobe.com/travel-recipes/"><img src="http://cache.fluentglobe.com/images/p90-400.png" alt="Recipes for Visiting Brazil Cover" class="alignleft"></a>

<h3>Get practical advice on World Cup cities</h3>

<p>The section on the different World Cup cities gives you a basic overview of each city but adds invaluable practical advice for your visit too. For example, it tells you which area is the best to stay in so that you&rsquo;ll have easy access to the local World Cup stadium, the Fan Fest area and/or the nightlife. </p>
<p>You&rsquo;ll find advice on what to pack for each city, based on what conditions are normally like in June, and listings of the matches scheduled for the different stadiums so you can decide when to be where. If you&rsquo;re a mosquito magnet, you&rsquo;ll also appreciate the tip on how to scare off the little critters!</p>

<p>While Recipes for Visiting Brazil: Speaking Portuguese in the 12 Cities of World Cup 2014 has been written specifically with the World Cup in mind, you&rsquo;ll find it useful even if you visit Brazil when there isn&rsquo;t football going on. (Mind you, this is Brazil: There is ALWAYS football going on!)</p>

<p>For more information go to <a href="http://fluentglobe.com/travel-recipes/">Travel Recipes</a> or find it on the <a href="https://itunes.apple.com/us/book/recipes-for-visiting-brazil/id850307804">iBook Store</a> 
<img src="http://www.google-analytics.com/__utm.gif?utmwv={{ site.analytics_version }}&utms=1&utmn=1894752493&utmhn={{ site.domain }}&utmcs=UTF-8&utmsr=1280×1024&utmsc=24-bit&utmul=en-us&utmje=1&utmdt={{ page.post_title }}&utmhid=1681965357&utmr={{ page.post_referer }}&utmp={{ page.post_rererer_uri }}&utmac={{ site.analytics_id }}&utmcc=__utma%3D230887938.1463229748.1317737798.1317737798.1317737798.1%3B%2B__utmz%3D230887938.1317737798.1.1.utmcsr%3Dgoogle%7Cutmccn%3D(organic)%7Cutmcmd%3Dorganic%7Cutmctr%3Dtracking%2520qr%2520codes%3B&utmu=DC~">
</p>




