<!-- <h2 class="single-column">Stress-Free First Year Formula</h2> -->

<div class="two-cols" style="min-height:300px;">
	<div class="left-col" style="text-align:right;">
    <img src="/images/Formula.png" width="200">
	</div>

  <div class="right-col" style="font-size:1.2em;">
  	<h4>Based on Real People, Real Experiences</h4>


<div class="endorsement">
	<audio controls style="width:100px;">
	    <source src="/assets/audio/Fiona Short.m4a" type="audio/aac">
	    <source src="/assets/audio/Fiona Short.mp3" type="audio/mp3">
	    <source src="/assets/audio/Fiona Short.ogg" type="audio/ogg">
	    <source src="/assets/audio/Fiona Short.wav" type="audio/wav">
	</audio>
	<img class="left" src="/images/fiona-flintham.jpg" width="100">
	<blockquote>Most fulfilling was to be able to go out, order food, and have a conversation with the waitress after one year.</blockquote>
	<p> - <a href="http://www.fionaflintham.com" target="endorsement">Fiona Flintham</a></p>
</div>

  </div>
</div>
