<h2>We decided to learn Swiss German, what about you?</h2>

<p>I don't know about you but I feel like a complete idiot when mingling with a group of friends and acquaintances talking Swiss-German and only understanding 2 out of every 10 words.</p>
<p>I'm in their contry and the language shouldn't be all that hard to learn with it's simplified grammar and wide range of acceptable pronunciations.</p>
<p>So we want to be able to understand regular conversations and give simple answers and comments in Swiss German. It really shouldn't be that hard.
After all most people that have lived here 5+ years understand most conversations even if they don't speak fluently.</p>

