      <h1>Welcome to your new city</h1>

    <span class="hide-when-stress-free-feature-enabled">
      <a href="http://artmagenta.com" target="artmagenta">
      <img src="/images/Nyhavn-Copenhagen.jpg" style="display:inline-block;width:300px;">
      </a>
      <h3 style="margin-left:10%;">Do I need to pay for health insurance? Which One?</h3>
      <h3 style="margin-left:-40%;">What type of Work Permit?</h3>
      <h3 style="margin:0 0 0 30%;">Which Bank to use?</h3>
      <h3 style="margin-left:-30%;">How does taxes work?</h3>
      <!-- <h3>&nbsp;</h3> -->
      <h3 style="color:red">So many questions, need a hand?</h3>
      <!-- <h3>&nbsp;</h3> -->
      <h3 style="margin-left:30%;">Should I get a car?</h3>
      <h3 style="margin-left:-20%;">When are holidays, will shops be closed?</h3>
      <h3 style="margin-left:30%;">The dialect is strange, I feel left out.</h3>
      <h3 style="margin-left:-10%;">How do I keep fit and find the best food?</h3>
      <h3 style="margin-left:20%;">Where and How to meet new people?</h3>
    </span>

    <div class="show-when-stress-free-feature-enabled">
      <a href="/stress-free-presentation" class="btn tinted">Start presentation</a>
    </div>

