<h2 class="single-column">Stress-Free First Year Formula</h2>

<div class="two-col" style="min-height:450px;">
  <div class="left-col" style="min-height:450px;font-size:1.2em;">
  <img class="feature-dvd" width="300" src="/images/Cover-with-DVD.png" alt="Enjoy your new city, first year in Switzerland">

  <p>In this presentation we walk you briefly through our method for moving to and getting established in Switzerland.
  We spend most of the time with explaining how things work here, and how to sort out your registration and other paperwork so you can get on with your new life.
  </p>

  <p>We'll email you the presentation, and send you updates on life in Switzerland.</p>

  <p>Sign up now to get our first product at a <b>special price</b>!</p>

  </div>

  <div class="right-col" style="font-size:1.2em;">
    <img src="/images/Formula.png" width="240">
    <p>Our formula is based on the experience of people that have made a great life for themselves here</p>
    <p>It is there to give you a nice structure for getting the most out of Switzerland</p>
  </div>
</div>


<div class="single-column">
<div id="compliment">
  <h2>Complimentary</h2>

  <p>This is something everyone moving to Switzerland should know. Lot's of people have talked about their struggles and frustrations. So we just wanted to make this complimentary and available to everyone.</p>

  <p>You local kanton might offer a course like this, but it can cost up to 100 Fr.</p>
</div>


<div>
  <p>Sign up now to get our first exclusive product at a <b>special price</b>!</p>

  <h3>25% off on our first product exclusively for Switzerland</h3>
</div>
<p>&nbsp;</p>

<hr>
<p>&nbsp;</p>
</div>

<div class="single-column">
  <h3>Other products from Fluent Globe</h3>
<p>&nbsp;</p>
</div>
<div class="center-piece">

        <!-- <img style="position: absolute; right:10px; width: 50px;" src="/images/itunes-store-bw.png"> -->

  <img class="our-books" src="/images/our-books.png" alt="Published books on the iBookStore" style="display:block;">

  <h5 class="center-col">Language Learning books by Caterine Apruzzese</h5>
  <div class="press-mentions">
    <h3>As seen in</h3>

    <a class="daily-news" rel="_new" href="http://www.nydailynews.com/life-style/must-have-travel-guides-brazil-bound-world-cup-fans-article-1.1811433" alt="New York Daily News">
    <!-- New York Daily News -->
    </a>

    <a class="marie-claire" rel="_new" href="http://www.marieclaire.co.uk/news/travel/546568/hot-spot-s-o-paulo-brazil.html" alt="Marie Claire Travel">
      <!-- Marie Claire Travel -->
    </a>

    <a class="reuters" rel="_new" href="http://uk.reuters.com/article/2014/05/23/fluent-globe-guide-idUKnPncgNwZv+8a+PRN20140523" alt="Reuters">
      <!-- Reuters -->
    </a>
  </div>
</div>
