<h3 class="center-col">Other products from Fluent Globe</h3>

<div class="two-cols">
    <div class="left-col">
  <img class="our-books" src="/images/our-books.png" alt="Published books on the iBookStore" style="display:block;">
  <h5 class="center-col">Language Learning books by Caterine Apruzzese</h5>
    </div>

    <div class="right-col">
<p>&nbsp;</p>

  <div class="press-mentions">
    <h3>As seen in</h3>

    <a class="daily-news" rel="_new" href="http://www.nydailynews.com/life-style/must-have-travel-guides-brazil-bound-world-cup-fans-article-1.1811433" alt="New York Daily News">
    <!-- New York Daily News -->
    </a>

    <a class="marie-claire" rel="_new" href="http://www.marieclaire.co.uk/news/travel/546568/hot-spot-s-o-paulo-brazil.html" alt="Marie Claire Travel">
      <!-- Marie Claire Travel -->
    </a>

    <a class="reuters" rel="_new" href="http://uk.reuters.com/article/2014/05/23/fluent-globe-guide-idUKnPncgNwZv+8a+PRN20140523" alt="Reuters">
      <!-- Reuters -->
    </a>
  </div>

    </div>
</div>

