<section class="stress-free-lead">
  <h2>When world travelers move to a new city, here is what they do...</h2>


<div class="signup-phrases">
  <form class="signup-box" id="stress-free" 
    role="form"
    action="client+http://email.fluentglobe.com/t/i/s/wjjul/" method="post"
    enctype="application/x-www-form-urlencoded"
    target="stress-free-iframe"
    style="min-height:21em;"
  >
  <fieldset class="when-unsubscribed">

      <p>
        <span>See this complimentary presentation.</span>
      </p>
      <p>
        <input type="text" name="first-name" placeholder="First Name" size="35">
      </p>
      <p>
        <input type="email" name="email" placeholder="e-Mail" size="35">
      </p>



      <label class="right-aligned extra-space">
        <button class="btn tinted double-corner" role="button" type="submit">
        <span lang="en">Free Instant Access</span>
        </button> 
      </label>

      <label>
      <span class="icon-lock"></span> 
      <span lang="en">Your information will only be used by us to help you and others to get started in Switzerland.</span>
      </label>
  </fieldset>

  <fieldset class="when-subscribed">
    <p>Great! Check your e-mail for a link to the presentation</p>

    <p>It is best viewed on mobile phones and iPads, but modern PCs and Laptops should work as well.</p>

    <p>Do tell us how you like it, and enjoy.</p>

    <p>
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
      <span class='st_email_large' displayText='Email'></span>
    </p>    
  </fieldset>
  </form>
</div>

</section>
