<!-- <h2 class="single-column">Stress-Free First Year Formula</h2> -->
<p>&nbsp;</p>

<div class="illustrated-content">
  <img class="content-illustration" src="/images/Formula.png" width="200">

  <div class="left-col" style="font-size:1.2em;">
    <h4>What's in this presentation</h4>
    <ol>
    <li>Costly Mistakes to Avoid</li>
    <li>Networking for better opportunities</li>
    <li>Success with the Local Language</li>
    <li>Experiences from Swiss Expats</li>
    </ol>

    <p>Sign up now to get our first exclusive Swiss language product at a <b>special price</b>!</p>
  </div>

  <img class="feature-dvd product-illustration" width="200" src="/images/Cover-with-DVD.png" alt="Enjoy your new city, first year in Switzerland">
</div>

