

<h2>World Travelers Learn How Things Work</h2>

<p>Had we known what we know now we would have saved 500 CHF the first year on fines that suddently came in the mail. As experienced travelers we should know better.</p>
<p>Did you know that companies are not required to send you a reminder, they can send it straight to the special office at the local Kanton which will add a lot of handling fees!!</p>

<h2>World Travelers Plan Long Term for Residence</h2>
<p>The stress of having a short term permit or one that has run out gets in the way of managing your life.
So they make sure to get in a position for a B-permit, and a C-permit down the line.
</p>
<p>Did you know that some jobs require a C-permit, and people with a C-permit must be given preference over others by law, giving you access to more jobs?</p>

<h2>World Travelers Learn the Language and make New Friends</h2>

<p>
To get the best job opportunities you need to know people. It is great to know expats here, but you should also know the Swiss. They will give you access to a lot more opportunities.
</p>

<div class="endorsement">
	<img class="left" src="/images/forbes-koch-cover.jpg" width="100">
	<blockquote>"Survey from Right Management, an arm of Manpower Group. Analyzes data from 59,133 clients. In 2010, 41% said they landed a job through networking.</blockquote>
	<p> - <a href="http://www.forbes.com/sites/susanadams/2011/06/07/networking-is-still-the-best-way-to-find-a-job-survey-says/" target="endorsement">Networking to Find a Job</a></p>
</div>

<div class="endorsement">
	<img class="left" src="/images/daniel-jordi.jpg" width="100">
	<blockquote>"Most of them found their jobs through building and leveraging genuine and meaningful relationships.</blockquote>
	<blockquote>"If you don’t speak a single word in French or German, it is certainly advisable to take some lessons or spend time with locals to learn the language, at least to understand it.</blockquote>
	<p> - <a href="http://www.jordico.com/how-important-is-german-or-french-to-work-in-switzerland/" target="endorsement">Daniel Jordi, jordico.com</a></p>
</div>

<h2>World Travelers Learn from People Before Them with Success</h2>

<div class="endorsement">
	<img class="left" src="/images/fiona-flintham.jpg" width="100">
	<blockquote>Most fulfilling was to be able to go out, order food, and have a conversation with the waitress after one year.</blockquote>
	<p> - <a href="http://www.fionaflintham.com" target="endorsement">Fiona Flintham</a></p>
	<audio controls>
	    <source src="/assets/audio/Fiona Short.m4a" type="audio/aac">
	    <source src="/assets/audio/Fiona Short.mp3" type="audio/mp3">
	    <source src="/assets/audio/Fiona Short.ogg" type="audio/ogg">
	    <source src="/assets/audio/Fiona Short.wav" type="audio/wav">
	</audio>
</div>

<h2>Are you already a world traveler?</h2>

<p>We would like to interview you about how you made it in Switzerland.</p>

<p>Please contact us at <a href="mailto:people@fluentglobe.com">people@fluentglobe.com</a></p>
