<div class="{(class)}">

<header>
	<h5 class="right" ng-show="!Access.state.authenticated"><a> Sign In </a></h5>
	<h4 class="orange">Living in Zürich</h4>
</header>

  <fieldset ng-show="!Access.city">
      <p>You seem to be in {( Access.region_name )}. </p>
      <button type="button" class="btn primary double-corner"  ng-click="Access.iLiveIn('zurich')">
        <span lang="en">I live in Zürich</span>
        </button>
  </fieldset>

<form name="signup" novalidate ng-show="Access.city">
<!-- {( Access.city.name )} -->
	<fieldset fg-step="understood" next-step="email" results="survey">
		<p>Would it help if you understood Swiss German?</p>
		<!-- select fg-choices="radio" name="understood-swiss" lang-context="fg">

			<option value="daily-life">Yes, it would make my daily life much easier</option>
			<option value="relatives">Yes, my relatives only speak Swiss German</option>
			<option value="belong">Yes, I'd like to feel like I belong here</option>
			<option value="socially">Yes, It's good socially</option>
			<option value="no-german">No, I would rather speak german German</option>
			<option value="english">No, English is fine</option>
		</select -->

		<p><input type="radio" ng-model="survey.understood" name="understood-swiss" value="daily-life"> Yes, it would make my daily life much easier</p>
		<p><input type="radio" ng-model="survey.understood" name="understood-swiss" value="relatives"> Yes, my relatives only speak Swiss German</p>
		<p><input type="radio" ng-model="survey.understood" name="understood-swiss" value="belong"> Yes, I'd like to feel like I belong here</p>
		<p><input type="radio" ng-model="survey.understood" name="understood-swiss" value="socially"> Yes, It's good socially</p>
		<p><input type="radio" ng-model="survey.understood" name="understood-swiss" value="no-german"> No, I would rather speak german German</p>
		<p><input type="radio" ng-model="survey.understood" name="understood-swiss" value="english" next-step="english"> No, English is fine</p>

    <button class="btn primary double-corner" type="button" ng-click="nextStep()" ng-disabled="!allowNext">Next</button>
	</fieldset>

  <fieldset fg-step="email" next-step="why" not-if="Access.state.authenticated" results="survey">

    <div ng-show="Access.city && !Access.state.authenticated && !Access.session.password">
      <input placeholder="e-mail" name="username" type="email" size="30" ng-model="Access.user.email" required>
      <button class="btn primary double-corner" type="button" ng-click="Access.startSignUp(this)" ng-disabled="signup.username.$invalid"> {% include intro/next-step-button.html %} </button>
      <p lang="en">{{ signup.message }}</p>
    </div>

    <div ng-show="Access.city && Access.state.authenticated">
      <p lang="en">You are signed in as {( Access.user.email )}</p>

      <button class="btn primary double-corner" 
        type="button" ng-click="nextStep()" ng-disabled="!allowNext">Next</button>
    </div>

  </fieldset>

      <fieldset fg-step="why" next-step="already" results="survey">
        <p>Why do you want to learn German?</p>
        <p><input type="radio" name="study-why" value="speak-swiss-work" ng-model="survey.why"> We speak Swiss German at work</p>
        <p><input type="radio" name="study-why" value="write-work" ng-model="survey.why"> I correspond with e-mail/documents</p>
        <p><input type="radio" name="study-why" value="speak-relatives" ng-model="survey.why"> My relatives speak Swiss German</p>
        <p><input type="radio" name="study-why" value="speak-socieal" ng-model="survey.why"> I want it for socialising and/or daily life</p>
        <p><input type="radio" name="study-why" value="foolish" ng-model="survey.why"> I feel foolish for not being able to</p>

        <button class="btn primary double-corner" 
          type="button" ng-click="nextStep()" ng-disabled="!allowNext">Next</button>
      </fieldset>

      <fieldset fg-step="already" next-step="progress" results="survey">
        <p>Do you study already?</p>
        <p><input type="radio" name="study-already" 
          ng-model="survey.already" value="private"> Yes, with private tutor.</p>
        <p><input type="radio" name="study-already" 
          ng-model="survey.already" value="intensive"> Yes, intensive language class.</p>
        <p><input type="radio" name="study-already" 
          ng-model="survey.already" value="weekly"> Yes, in classroom weekly.</p>
        <p><input type="radio" name="study-already" 
          ng-model="survey.already" value="selfstudy"> Yes, selfstudy</p>
        <p><input type="radio" name="study-already" 
          ng-model="survey.already" value="groups"> Yes, study groups/meetups</p>
        <p><input type="radio" name="study-already" 
          ng-model="survey.already" value="many"> Yes, in many ways.</p>
        <p><input type="radio" name="study-already" 
            ng-model="survey.already" value="no" next-step="speed"> No, not yet</p>

        <button class="btn primary double-corner" 
          type="button" ng-click="nextStep()" ng-disabled="!allowNext">Next</button>
      </fieldset>

      <fieldset fg-step="progress" next-step="speed" results="survey">
        <p>How is your progress?</p>
        <p><input type="checkbox" name="study-more-practical" 
          ng-model="survey.progress.practical"> I would like to learn a more practical German</p>
        <p><input type="checkbox" name="study-forget" ng-model="survey.progress.forget"> I forget a lot between sessions</p>
        <p><input type="checkbox" name="study-local-dialect" 
          ng-model="survey.progress.dialect"> I need to understand the local dialect better.</p>
        <p><input type="checkbox" name="study-pronunciation" 
          ng-model="survey.progress.pronunciation"> I find pronunciation very difficult</p>
        <p><input type="checkbox" name="study-too-slow" 
          ng-model="survey.progress.slow"> It is too slow, but I don't have spare time</p>
        <p><input type="checkbox" name="study-happy-progress" 
          ng-model="survey.progress.happy"> I'm happy with my progress</p>

        <button class="btn primary double-corner" 
          type="button" ng-click="nextStep()" ng-disabled="!allowNext">Next</button>
      </fieldset>

      <fieldset fg-step="speed" next-step="time" results="survey">
        <p>How quickly would you like to learn German?</p>
        <p><input type="radio" name="study-speed" value="asap"> As Soon As Possible</p>
        <p><input type="radio" name="study-speed" value="onemonth"> I want the essentials in a month, and then take it slow</p>
        <p><input type="radio" name="study-speed" value="halfyear"> I want to be speaking in 6 months</p>
        <p><input type="radio" name="study-speed" value="norush"> There is no rush</p>

        <button class="btn primary double-corner" 
          type="button" ng-click="nextStep()" ng-disabled="!allowNext">Next</button>
      </fieldset>

      <fieldset fg-step="time" next-step="phone" results="survey">
        <p>At what time of the day do you have time to study?</p>
        <p><input type="radio" name="study-time" value="morning"> Morning</p>
        <p><input type="radio" name="study-time" value="afternoon"> Afternoon</p>
        <p><input type="radio" name="study-time" value="evening"> Evening (after work)</p>
        <p><input type="radio" name="study-time" value="weekends"> Weekends</p>
        <p><input type="radio" name="study-time" value="traveling"> While traveling</p>

        <button class="btn primary double-corner" 
          type="button" ng-click="nextStep()" ng-disabled="!allowNext">Next</button>
      </fieldset>

      <fieldset fg-step="phone">
        <p>We will send your exersises to your phone. Type in the number and we will send you a link to our app.</p>

        <p>
          <input type="tel" name="phone" size="30" placeholder="Phone No." ng-model="Access.user.phone">
          <button class="btn primary double-corner" 
            type="button" ng-click="Access.applyPhone()" ng-disabled="signup.phone.$invalid">Send It!</button>
        </p>
      </fieldset>

      <fieldset fg-step="english">
        <p>English is many things. If you want to refine your skill we have a great book
        <a href="/speak/english-in-london">Speak English in London</a>
        </p>
      </fieldset>
</form>

<!-- <form sf-schema="schema" sf-form="form" sf-model="data" sf-decorator="div"></form> -->

<footer>
	<h5 class="center"><a>More Information</a></h5>
</footer>
</div>