extends /layouts/master

block title
  | Fluent Globe

block content
  script(type="application/config"): include ../lib/includes/old/signup-config.js

  #intro(data-class="'!state.menu-expanded':'menu-collapsed'"): include ../lib/includes/old/hamburger

    include ../lib/includes/intro/understood-networked.html

    div.know-secret
      include ../lib/includes/intro/know-secret-form.html

    footer

  main.fluid
    article
      header.floating
        footer.links-bar
          //- div.contact
          //-   h4 Schweiz/Suisse +41-435081057 &nbsp; * 
          //-   h4
          //-   h4 U.K. +44-2036088053 
          include ../lib/includes/old/site-follow


      section.first(style="text-align:center;")
        include ../lib/includes/intro/new-city.html

      section.even.kat-henry-intro.on-dark-picture-bg.hide-when-stress-free-feature-enabled(style="min-height:250px;padding: 35px;")
        include ../lib/includes/intro/henrik-and-katty-lead.html

      section.first.hide-when-stress-free-feature-enabled
        include ../lib/includes/intro/henrik-and-katty-with-audio.html

      section.second.even.hide-when-stress-free-feature-enabled
        include ../lib/includes/stress-free/switzerland-offer

      section.third.bookspread(style="height:580px;")
        include ../lib/includes/intro/publications.html

      footer.constrained.bookspread
        include ../lib/includes/old/page-footer-etc
        include ../lib/includes/old/page-footer-copyright

