<p>When I was 5, I moved from my mothers Spanish speaking country in South America 
to my fathers home country Portugal in Europe.</p>

<p>I had to learn portuguese at school and at home.</p>

<p>The place I learned the most Portuguese was not in the classroom and not at home, 
but in the school yard playing with the other kids. If you wanted to play with them, 
you would need to speak and understand their language.</p>

<p>When I was a teenager I moved to England and even though I had had 4 years of English at school
and was fairly good at reading and writing, 
I could barely speak or understand everyday English.</p>

<p>I believe that you need to emerge yourself in the language and the culture of 
real everyday people and situations if you want to learn a language.</p>

<p>The written language is something that you should learn after you have the feel of 
how the language is and sounds.</p>

- Katty
