<header>
<img src="/images/Mille-Feuille.jpg" class="feature right">
<h1>The layer cake method </h1>
</header>

<p></p>

<div class="left-col">
<p>When you learned a language in school, you probably found it hard to stay motivated and focused. Language without the context is hard to understand. You might ask yourself “why does this matter?"</p>

<p>Just like a cake, learning a language has many layers to it. The top layer, which is the visible part, corresponds to the language itself. Learning vocabulary, being able to form sentences and communicate with others in the new language, is the bit that everyone can see. In cake terms, we call it the frosting. But there’s more to a cake than just the icing. What about the filling? </p>
</div>

<div class="right-col">
<p>The filling corresponds the culture. It is knowing the hosting country, understanding the mood and attitudes of the people, the humour, the food and everyday situations.</p> 

<p>It is immersing yourself with everything that has to do with that country. Speaking the language isn’t enough. It is important to surround yourself with the local people. Everybody who has lived abroad has probably experienced a culture shock or a situation that is different from what they are used to back home.</p>
</div>