<div class="menu" role="navigation" data-state="'parent.menu-expanded':'state.expanded'">
<nav class="flag">
    <button class="show-menu" role="button" name="parent.toggle-expanded">
      &#x2630;
    </button>
    <label role="button" name="parent.toggle-expanded">
      <output data-role="'prefix':'model.language'">English</output>
    </label>
</nav>
<ul>
    <li><a href="/">Home</a></li>
    <li>
        <a href="/">Shop</a>
        <ul>
            <li><a href="/">iBooks for iPad</a></li>
            <li><a href="/">Pocket Size app</a></li>
            <li><a href="/">10 benefits</a></li>
        </ul>
    </li>
    <li>
        <a href="/">Blog</a>
        <ul>
            <li><a href="/">Design</a></li>
            <li><a href="/">HTML</a></li>
            <li><a href="/">CSS</a></li>
            <li><a href="/">JavaScript</a></li>
        </ul>
    </li>
    <li>
        <q>Language</q>
        <ul>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'en'"><q>English</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'fr'"><q>Francais</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'de'"><q>Deutch</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'es'"><q>Español</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'pt'"><q>Portuguese</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'it'"><q>Italiano</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'pl'"><q>Polski</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'cs'"><q>Čeština</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'ar'"><q>العربية</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'ru'"><q>Русский</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'ch'"><q>中国的</q></li>
            <li role="menuitem" data-role="'select':'page::state.lang','value':'jp'"><q>日本人</q></li>
        </ul>
    </li>
</ul>
</div>
