<div class="menu" role="navigation" data-state="'parent.menu-expanded':'state.expanded'">
<nav class="flag f16">
    <button class="show-menu" role="button" name="parent.toggle-expanded">
      &#x2630;
    </button>
    <label role="button" name="parent.toggle-expanded">
      <output data-resolve="text:document::essential.language">English</output>
      <i class="flag" data-resolve="class: document::essential.countryCode"></i>
    </label>
</nav>
<ul>
    <li><a href="/">Home</a></li>
    <!--
    <li>
        <a href="/">Shop</a>
        <ul>
            <li><a href="/">iBooks for iPad</a></li>
            <li><a href="/">Pocket Size app</a></li>
            <li><a href="/">10 benefits</a></li>
        </ul>
    </li>
    <li>
        <a href="/">Blog</a>
        <ul>
            <li><a href="/">Design</a></li>
            <li><a href="/">HTML</a></li>
            <li><a href="/">CSS</a></li>
            <li><a href="/">JavaScript</a></li>
        </ul>
    </li>
    -->
    <li>
        <q>Language</q>
        <ul>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'en'"><q>English</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'fr'"><q>Francais</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'de'"><q>Deutsch</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'es'"><q>Español</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'pt'"><q>Portuguese</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'it'"><q>Italiano</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'pl'"><q>Polski</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'cs'"><q>Čeština</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'ar'"><q>العربية</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'ru'"><q>Русский</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'ch'"><q>中国的</q></li>
            <li role="menuitem" data-role="'select':'document::essential.lang','value':'jp'"><q>日本人</q></li>
        </ul>
    </li>
    <li><a href="/log-out">Log Out</a></li>
</ul>

<p>User name: {{ document::essential.user_name }}</p>

</div>
