	<meta charset="utf-8">
    <meta name="enhanced roles" content="book dialog toolbar form navigation resolved template">

	<title>{% if page.title %} {{ page.title }} | {% endif %} {{site.title}}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
	<meta name="inject essential" content="yes">

    <link rel="stylesheet" href="/css/mobile.min.css">
    <link rel="stylesheet" href="/css/enhanced.min.css">
