extends /layouts/master

block title
  | Tap when you know

block head
  //- != SocketStream

block content
  div.story
    img.main(src="/demo/assets/images/three-ppl.jpg",alt="Three People")

    div.instruct
      a.story-play(href="#/add-known"): div
      p Tap when you know a word

    h2.known-count: 12


  style.
    .story {
      position: relative;
      width: 100%;

    }
    .story  img.main {
        width: 100%;
      }

    .known-count {
      position: absolute;
      top: 25%; left: 50%;
    }
    .story-play {
      display: block;
      position: absolute;
      top: 50%; left: 50%;
      margin-left: -50px;
      margin-top: -50px;
      width: 100px; height: 100px;
      background-image: url(/assets/images/bigplay.png);
      background-size: 100% auto;
    }