@import "essentialjs/essential";
@import "variables";
@import "application"; // Modify this for custom colors, font-sizes, etc


/* 640 */
@media only screen and ( max-width: 40em ) 
{
    #main-menu
    {
        position: relative;

        > a {
        }
        &:not( :target ) > a:first-of-type,
        &:target > a:last-of-type {
            display: block;
        }

	    /* first level */
	    > ul {
	        height: auto;
	        display: none;
	        position: absolute;
	        left: 0;
	        right: 0;
	    }
        > ul.active {
            display: block;
        }
        > ul > li {
            width: 100%;
            float: none;
        }
 
	    /* second level */
	    li ul {
	        position: static;
	    }
    }
 
}

// bigger phone resolution ?
@media only screen and (min-width: 480px) {
    
    .stress-free-lead {
        // max-width: 600px;
        margin-left: 2em;
        width: 420px;
    }

    // sequential columns
    #intro,
    main.fluid {
        .left-col {
            left: 50%;
            margin-left: -240px;
            width: 480px
        }
        .right-col {
            left: 50%;
            margin-left: -240px;
            width: 480px
        }
        //.center-col
    }

    #intro {
        .center-piece {
            .left-col, .right-col {
                width: 200px;
                margin-left: -100px;
            }
        }
    }
}


// desktop like
@media only screen and (min-width: 750px) {
    
.stress-free-lead {
    width: 66%;
    margin-left: 2em;
}

    .center-piece {
        #intro &, main.fluid > header & {
            margin-top: -100px;
        }
        article & {
            width: 400px;
            margin-left: -200px;
        }
    }
    .wide-center-piece {
        article & {
            width: 500px;
            margin-left: -250px;
        }

        .expat-happiness & iframe.surveymonkey {
            height: 1800px;
        }
    }

    .with-lead-and-menu {
        > header {
            background-size: 100% auto;
            height: 500px;
        }
    }

    // split columns
    #intro,
    main.fluid {
        .two-cols {
            position: relative;
            .clearfix;
        }
        .left-col {
            float:left;
            width: 50%;
            left:0; margin-left:0;
            // max-width: 480px;
        }
        .right-col {
            float:left;
            width: 50%;
            left:0; margin-left:0;
            // max-width: 480px;
        }
        //.center-col
        .center-piece {
            .left-col, .right-col {
                width: 50%;
                left:0; margin-left: 0;
            }
        }
    }
}

// Android tablets and desktop heights
//TODO move android to mobile styling
@media only screen and (min-width: 800px) 
{
    html body.splash {
        #intro {
            position: fixed;
            top: 0;
            left: 0; right: 0;
            // z-index: -1;

            .left-col, .right-col {
                z-index: 1;
            }

            // the footer is used to set start of article when intro is fixed
            > footer {
                // position:relative;
                margin-top: @intro-bottom-gap-800-plus;
            }
        }
        article {
            top: 100%; //TODO perhaps main instead
            z-index: 100;
            margin-top: -5px;
        }
    }
}



@media only screen and (min-width: 960px) {

    // split columns centering
    #intro,
    main.fluid {
        .two-cols {
            width: 960px;
            left: 50%;
            margin-left: -480px;
        }

        .left-col {
            width: 480px;
        }
        .right-col {
            width: 480px;
        }
    }
}

// bigger desktop
@media only screen and (min-width: 1000px) {

    .center-piece {
        #intro &, main.fluid > header & {
            width: 400px;
            margin-left: -200px;
        }
    }
}
