h4.center-col Language Learning books by Caterine Apruzzese

  //- <!-- <img style="position: absolute; right:10px; width: 50px;" src="/images/itunes-store-bw.png"> -->

div(style="height:360px")
  div.book-left-1(role="book",style="margin-top: 0px;",data-role="'prefix':'r4vb','src':'/travel-recipes/recipes-brazil.html','spread':true") 
    a(href="/travel-recipes/#r4vb")
      include ../book/r4vb-info.html

  div.book-right-1(role="book",style="margin-top: 0px;",data-role="'prefix':'seil','src':'/speak/speak-london.html','spread':true")  
    a(href="/speak/#seil")
      include ../book/seil-info.html

div.press-mentions
  h3 As seen in

  a.daily-news(rel="_new", href="http://www.nydailynews.com/life-style/must-have-travel-guides-brazil-bound-world-cup-fans-article-1.1811433", alt="New York Daily News")
  //- <!-- New York Daily News -->

  a.marie-claire(rel="_new", href="http://www.marieclaire.co.uk/news/travel/546568/hot-spot-s-o-paulo-brazil.html", alt="Marie Claire Travel")
    //- <!-- Marie Claire Travel -->

  a.reuters(rel="_new", href="http://uk.reuters.com/article/2014/05/23/fluent-globe-guide-idUKnPncgNwZv+8a+PRN20140523", alt="Reuters")
    //- <!-- Reuters -->
