---
title: Learn to Speak English as in London
layout: ibook-product
js-bundle: ../js/product-app.js
app-name: fluentApp
debug: true
facebook-like-title: Going to Brazil?
facebook-fan-page-url: https://www.facebook.com/FluentGlobeSpeak
og-namespace: http://ogp.me/ns/book#
og-type: book
no-og-author: http://fluentglobe.com/people/caterine-apruzzese
og-tags: 
- Londres
- London
- English Language
- Habla Ingles
og-images: 
- http://fluentglobe.com/images/seil-cover.jpg
plus-author: 116691201522610578456
itunes-url: https://itunes.apple.com/us/book/recipes-for-visiting-brazil/id850307804
---

<main>
<article role="presenter" data-role="'laidout':'shifted-article'" style="background:white;">

  <div class="product-buynow">

    <a class="download-on-ibooks" href="{{ page.itunes-url }}?mt=11&uo=4" target="itunes_store"></a>

  </div>

  <div class="endorse with-me">
  <video xautoplay preload="auto" controls="controls" 
    poster="/assets/video/carolina-london.mp4-small.jpg"
    width="640" height="360">
    <source type="video/mp4" src="/assets/video/carolina-london.mp4-small.mp4">
    <source type="video/webm" src="/assets/video/carolina-london.mp4-small.webm">
    <caption>Carolina</caption>
  </video>
  </div>

  <div class="slogan">
    <h3 lang="en">Finally... <br><br>The book that will teach you how to speak real English and enjoy London fully </h3>
    <h3 lang="es">Finally... <br><br>The book that will teach you how to speak real English and enjoy London fully </h3>
    <h3 lang="de">Finally... <br><br>The book that will teach you how to speak real English and enjoy London fully </h3>
  </div>

  <section role="slider" data-role="'autoStart':false,'pauseOnHover':false,'autoPlayVideos':false, 'skinsPath':'../assets/skins/', 'skin':'fullwidthdark2'" class="with-slider" style="width:1024px; height:748px; max-width:1024px;">

      <!-- show book -->
      <div class="ls-slide">
        <div class="ls-l" style="top:45%;left:535px; white-space:nowrap;" data-ls="offsetxin:0;durationin:2000;delayin:0;rotateyin:60;transformoriginin:right 50% 0;">
          <img lang="en" src="../images/seil-cover.jpg" class="book-turned">
          <img lang="de" src="../images/seil-cover.jpg" class="book-turned">
          <img lang="es" src="../images/seil-cover.jpg" class="book-turned">
        </div>

        <div class="ls-l" style="left:25%;top:30%;" data-ls="offsetxin:0;durationin:1000;rotateyin:60;transformoriginin:right 50% 0;">
        <a class="download-on-ibooks" href="{{ page.itunes-url }}?mt=11&uo=4" target="itunes_store"></a>
        </div>

        <div class="ls-l" style="left:25%;top:40%;" data-ls="offsetxin:0;durationin:1500;rotateyin:60;transformoriginin:right 50% 0;">        
          <h2>Available Now</h2>
        </div>

        <div class="ls-l" style="left:25%;top:50%;" data-ls="offsetxin:50;durationin:2000;rotateyin:60;transformoriginin:right 50% 0;">
          <h3>
          <a href="https://itunes.apple.com/us/book/recipes-for-visiting-brazil/id850307804" target="itunes_store">For iPad and Mac on iTunes</a>
          </h3>

          <blockquote class="narrow-blurp orange-anchors" style="display:none">
            <a href="#review">
            <p>Your review and Likes would be much appreciated</p>
            <img src="/images/fb-thumbs-up.png" width="50">
            <img src="/images/itunes-store.png" width="50">
            </a>
          </blockquote>
        </div>
      </div>

      <div class="ls-slide" data-ls="slidedelay:5000; deeplink:london;">
        <img src="slides/introductions.jpg" style="height: 748px;" class="ls-bg" alt="Slide background">
        <h1 style="top:150px;left:730px;" data-ls="offsetxin:0;durationin:3000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Whats inside</h1>

        <div hidden>
          <h3>Recipes for Visiting Brazil</h3>
          <p lang="en">Have you chosen where in Brazil you are going for the World Cup?</p>
          <p lang="en">Each of the hosting cities are unique and a very different experience from what you are used to.</p>
          <p lang="en">From North to South, you'll experience different landscapes, weather, food, and music. Only one thing remains the same: The passion for football.</p>
          <p></p>
          <ul lang="en" style="width: 30em;">
            <li>Football is more than a sport.</li>
            <li>Football unifies a nation.</li>
            <li>Watching football people experience moments of joy and excitement.</li>
          </ul>
        </div>

        <div class="ls-l" style="top:50%; left:50%;">
          <!-- <a src="#reviews">Reviews</a> -->
        </div>

        <div class="ls-l"></div>

        <div class="ls-l flip-corner" style="top: 87%; left:75%; width:25%; height: 13%;">
          <span>
          Flip for more....
          </span>
          <figure></figure>
        </div>
      </div>

      <!-- real spoken -->
      <div class="ls-slide white-bg" data-ls="slidedelay:3000;transition2d:92; deeplink:spoken;">
        <img src="slides/p12.png" class="ls-bg" alt="Slide background">
      </div>

      <div class="ls-slide white-bg">
    {% include book/london-spoken-article.html %}
      </div>

      <!-- cultural -->
      <div class="ls-slide white-bg" data-ls="slidedelay:5000;transition2d:92; deeplink:cultural;">
        <img src="slides/p170.png" class="ls-bg" alt="Slide background">
      </div>

      <div class="ls-slide white-bg">
    {% include book/london-cultural-article.html %}
      </div>

      <!-- british expressions -->
      <div class="ls-slide white-bg" data-ls="slidedelay:5000;transition2d:92; deeplink:expressions;">
        <img src="slides/p32.png" class="ls-bg" alt="Slide background">
      </div>

      <div class="ls-slide white-bg">
        <div class="ls-l" style="left:50%;left:50%;top:50%;height:50%;">
    {% include book/london-expressions-article.html %}
        </div>
      </div>

      <!-- immersion -->
      <div class="ls-slide white-bg" data-ls="slidedelay:5000;transition2d:92; deeplink:immersion;">
        <img src="slides/p172.png" class="ls-bg" alt="Slide background">
        <h1 style="top:150px;left:730px;" data-ls="offsetxin:0;durationin:3000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Whats inside</h1>

      </div>

      <div class="ls-slide white-bg">
        <div class="ls-l" style="left:50%;left:50%;top:50%;height:50%;">
    {% include book/london-immersion-article.html %}
        </div>
      </div>

      <!-- listening -->
      <div class="ls-slide white-bg" data-ls="slidedelay:5000;transition2d:92; deeplink:listening;">
        <img src="slides/p177.png" class="ls-bg" alt="Slide background">
        <h1 style="top:150px;left:730px;" data-ls="offsetxin:0;durationin:3000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Whats inside</h1>

      </div>

      <div class="ls-slide white-bg">
        <div class="ls-l" style="left:50%;left:50%;top:50%;height:50%;">
    {% include book/london-listening-article.html %}
        </div>
      </div>


      <!-- tips -->
      <div class="ls-slide white-bg" data-ls="slidedelay:5000;transition2d:92; deeplink:tips;">
        <img src="slides/p142.png" class="ls-bg" alt="Slide background">
        <h1 style="top:150px;left:730px;" data-ls="offsetxin:0;durationin:3000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Whats inside</h1>

      </div>

      <div class="ls-slide white-bg">
        <div class="ls-l" style="left:50%;left:50%;top:50%;height:50%;">
    {% include book/london-tips-article.html %}
        </div>
      </div>

      <!--
      <div class="ls-slide white-bg" data-ls="slidedelay:5000;transition2d:92;">
        <img src="sliderimages/jellyfish-blur.jpg" class="ls-bg" alt="Slide background"/>
        <img src="sliderimages/jellyfish.png" class="ls-l" style="top:117px;left:578px;white-space: nowrap;" data-ls="offsetxin:0;durationin:4000;delayin:1500;easingin:easeInOutQuad;scalexin:1.1;scaleyin:1.1;offsetxout:0;durationout:1000;scalexout:0.9;scaleyout:0.9;">

        <h1 class="ls-l" style="top:150px;left:50px;font-size:50px;color:#ddb7eb;white-space: nowrap;" data-ls="offsetxin:0;durationin:3000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">
          Jellyfish
        </h1>

        <div class="ls-l" style="top:220px;left:50px; text-align: justify;width:500px;font-size:20px;color:#def2ff;" data-ls="offsetxin:-150;durationin:2000;delayin:500;easingin:easeInOutQuart;rotateyin:-40;offsetxout:-150;durationout:1000;rotateyout:-40;">
          Jellyfish or jellies are the major non-polyp form of individuals of the phylum Cnidaria. They are typified as free-swimming marine animals consisting of a gelatinous umbrella-shaped bell and trailing tentacles. The bell can pulsate for locomotion, while stinging tentacles can be used to capture prey. Jellyfish are found in every ocean, from the surface to the deep sea. A few jellyfish inhabit freshwater. Large, often colorful, jellyfish are common in coastal zones worldwide. Jellyfish have roamed the seas for at least 500 million years, and possibly 700 million years or more, making them the oldest multi-organ animal.
        </div>
      </div>
      -->

      <div class="ls-slide white-bg" data-ls="slidedelay:5000;transition2d:104; deeplink:review;">
        <img src="slides/ipad-review-p1.jpg" class="ls-bg" alt="Slide background"/>
      </div>

      <div class="ls-slide white-bg">
        <div class="ls-l" style="left:50%;left:50%;top:50%;height:50%;">
    {% include book/review-article.html %}
        </div>
      </div>


      <div class="ls-slide white-bg" data-ls="slidedelay:5000;transition2d:104; ">
        <img src="slides/ipad-review-p2.jpg" class="ls-bg" alt="Slide background"/>
      </div>
  </section>


    <footer class="constrained">
        {% include page-footer-copyright.html %}
    </footer>
</article>
</main>

{% include site-menu.html %}
{% include book-layout.html %}
