---
layout: angular
body-class: splash splash-desktop
app-name: speakApp
body-controller: SpeakController
js-bundle: /js/speak.js
debug: true
---
<div id="intro" data-class="'!state.menu-expanded':'menu-collapsed'" ng-view>
</div>

{% include lesson-menu.html %}


<article>
    <header>
    </header>

    <section class="first">
      <div class="bg"></div>

    </section>

    <section class="second even">

    </section>

    <footer></footer>
</article>
<div id="tracer"></div>
    

{% include book-layout.html %}

<script>
function fudgeUrl(el) {
	var file = el.querySelector("select[data-name=file]");

	el.action = el.action + file.value;
}
</script>
