<h1>What foods and drinks are popular in Brazil? </h1>

<p>Brazilian cuisine varies greatly according to the region. In the north of Brazil, seafood and fish stews are very popular, whereas in the South, meat is by far the most popular dish. The south region of Brazil is famously known for  its steakhouses and "Gaúchos" (cowboys). </p>
<p>Brazilian food is generally not spicy but well seasoned. Garlic, onions and salt are the main ingredients in Brazilian cooking. If you’re visiting Brazil and are not sure about what to order, here’s a list of traditional dishes that you must try.</p> 

<ul>
<li>Feijoada. This is probably one of the most popular and traditional dishes in Brazil. It consists of black beans with different types of smoked meats that can take hours to prepare. It is served with white rice. From north to south, black beans and rice are in every menu (cardápio) in Brazil. 
</li>
<li>Churrasco. Churrasco is the Brazilian barbecue. it consists of different types of meat like pork, lamb, chicken or beef that are cooked on a metal skewer over hot coals. There are many steak houses in Brazil called “churrascarias”. These places often offer “rodizio style”. This means you can eat as much as you like and servers will bring hot meat on skewers to your table and slice it directly onto your plate. 
</li>
</ul>

Page 69 
<ul>
  <li>Coxinha. the word “coxinha" means a little thigh. Everywhere you go in Brazil you’ll see people eating “coxinhas”. It is a chicken croquette made in the shape of drum sticks. </li>
  <li>Caipirinha. Caipirinha is the most famous Brazilian cocktail made with cachaça which is Brazil’s native liquor. Caipirinha has become so popular, that is now a famous drink worldwide. </li>
  <li>Açaí bowl is a popular and refreshing Brazilian dessert. It is like a thick, blended smoothie that is pored into a bowl and topped with all sorts of fresh fruits like banana or strawberry. </li>
  <li>Moqueca. Moqueca is a popular dish in the north-east of Brazil. It is a fish or prawn stew with peppers and garlic. There are many ways of cooking this dish and the ingredients can vary greatly.</li>
</ul>

