extends /layouts/master

block title
  | HTML5 Demo App

block content
  a(href="https://github.com/socketstream/socketstream")
    img(src="/assets/images/logo.png", alt="SocketStream Logo", width=160, height=160)

  h1 Discuss the page

  div(ng-app="discuss")
    div.row(ng-controller="ChatCtrl")
      //- div(discuss) Chatting here
      div.span1
      div.span10
        h3.legend
        h5 Open this page in multiple tabs or browsers and type a message below
        
        ul.unstyled
          li(ng-repeat="message in messages")
            span {{message.text}}
            span.pull-right {{ message.time | date:'medium' }}

        form#demo(ng-submit="postMessage()")
          h3 Quick Chat Demo
          #chatlog
          input.span10#myMessage(type="text", autocomplete="off",ng-model="myMessage")
      div.span1

block body-tail
  script.
    require('/discuss/entry')
      