extends /layouts/master

block title
  | HTML5 Demo App

block head
  != SocketStream

block content
  h1 My Lesson

  form#demo(onsubmit="return false")
    h3 Quick Chat Demo
    h5 Open this page in multiple tabs or browsers and type a message below
    #chatlog
    input#myMessage(type="text", autocomplete="off")
