//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$dark-blue: #054696;
$light-blue: rgb(1,122,213);
$website-lighter-blue: rgb(219,233,246);

$grey: rgb(49,58,61);
$red: #e63e2e;
$green: #587521;
$orange: #ed8b00;
$fluent-red: rgb(251,68,27);

