mixin head-assets()
  link(href="/assets/css/core.css",rel="stylesheet")
  //if ie8
    script(src="/assets/css/ie8.css")
  script(src="/assets/js/core.js")

mixin body-assets()
  if debug
    script(src="/assets/js/libs.js")
  else
    script(src="/assets/js/libs.min.js")

mixin object-graph(ogType,ogAuthor)
  meta(property="og:type", content="#{ogType}")
  meta(property="vertical:author", content="#{ogAuthor}")

mixin sharethis5x()
  script(type="text/javascript") var switchTo5x=true;
  script(type="text/javascript", src="http://w.sharethis.com/button/buttons.js")
  script(type="text/javascript") stLight.options({publisher: "4910723e-7c4c-40ba-b388-fe6d4ddbb688", doNotHash: false, doNotCopy: false, hashAddressBar: false});

mixin facebook-app(appId,appVersion="v2.0")
  script.
    // window.fbAsyncInit = function() {
    //      FB.init({
    //        appId      : '266550166850505',
    //        xfbml      : true,
    //        version    : 'v2.0'
    //      });
    //    };

    //TODO <link rel="subresource">

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=#“{appId}&version=#{appVersion}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

mixin enhance-mediaplayers() 
  script.
    $(document).ready(function(){
      $('.with-me video').mediaelementplayer({
          iPhoneUseNativeControls:true,
          iPadUseNativeControls:true
      });
    });

mixin facebook-root()
  if facebook-app-id
    div#fb-root

mixin simperium()
  if debug
    if hostedSimperium
      script(type="text/javascript",src="https://js.simperium.com/v0.1/")
    else
      script(type="text/javascript",src="/js/server.js")
  else
    if hostedSimperium
      script(type="text/javascript",src="https://js.simperium.com/v0.1/")
    else
      script(type="text/javascript",src="/js/server.min.js")

