mixin head-assets()
  script(src="/assets/js/core.js")
  script(src="/assets/css/core.css")
//  // if ie8
//    script(src="/assets/css/ie8.css")

mixin body-assets()
  script(src="/assets/js/libs.js")

//mixin object-graph(ogType,ogAuthor)
//
//  meta(property="og:type", content=#{ogType})
//  meta(property="vertical:author", content=#{ogAuthor})
