div.two-cols
  div.left-col signup-phrases" nong-app="swiss-first-year">
    form.signup-box.stress-free-signup-box.subscribed-box#stress-free(role="form",
      action="client+http://email.fluentglobe.com/t/i/s/wjjul/" method="post",
      enctype="application/x-www-form-urlencoded",
      target="stress-free-iframe")
      fieldset.when-unsubscribed

        p Hi Fluent Globe,
        p
          span I am&nbsp;
          input(type="text", name="first-name", placeholder="First Name")
          span and my email is
          input(type="email", name="email", placeholder="e-Mail")
          span .

        p
          span I am just getting started in Swizerland.
          span Please send me the complimentary presentation,
          span 
            em Stress-Free First Year in Swizerland
          span , so I can enjoy the life here.

        label.right-aligned.extra-space
          button.btn.tinted.double-corner(role="button")
            span(lang="en") Send me the Presentation

        label
          span.icon-lock
          span(lang="en") Your information will only be used by us to help you and others to get started in Switzerland.

      fieldset.when-subscribed
        p Great! Check your e-mail for a link to the presentation

        p It is best viewed on mobile phones and iPads, but modern PCs and Laptops should work as well.

        p Do tell us how you like it, and enjoy.

        p
          span.st_sharethis_large(displayText='ShareThis')
          span.st_facebook_large(displayText='Facebook')
          span.st_twitter_large(displayText='Tweet')
          span.st_linkedin_large(displayText='LinkedIn')
          span.st_email_large(displayText='Email')

  div.right-col
    img.feature-dvd-big(src="/assets/images/Cover-with-DVD.png", alt="Enjoy your new city, first year in Switzerland")
