main.spread-of-subpages {
  .about {

    figure.iphone {
      background-image: url(../images/iphone-6-about.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 100%;
      display: block;
      position: absolute;
      top: 40%;
      right: -10%;
      height: 45%;
      width: 50%;
    }

    .slogan {
      font-family:sans-serif;
      font-weight:200;
      padding-left: 6px;
      font-size: 1.5em;
      position: absolute;
      top:30%;
      left: 1em; right:50%;
      text-align: left;

    }

    footer {
      position: absolute;
      left:0; right:0;
      bottom: 35px;
      text-align: center;
      font-size: 9px;
    }
  }
}
