
// this is what lays out with flex box all the subpages
main.spread-of-subpages {
  @extend .swiper-container;
  width: 100%;
  height: 100%;

  .subpage {
      text-align: center;
      font-size: 18px;
      background: #fff;

      // Center slide text vertically 
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }

  // just for subpage named frontpage
  .frontpage {
    background-image: url("../images/lamp-bg-small.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    // for msaller screens there is no need for the big size, and it will load faster on mobile networks
    @media (min-height:641px) {
      background-image: url(../images/lamp-bg.png);
    }

    //Our slogan
    .slogan {
      font-family:sans-serif;
      font-weight:200;
      float:left;
      marging-top: 200px;
      padding-left: 6px;
      font-size: 1.8em;
      position: absolute;
      top:50%;
      left: 1em; right:50%;
    }
  }

  .pagination {
  }

  .go-left-text, .go-right-text,
  .go-left, .go-right {
    display: block;
    position: absolute;
    top:1em;
    color:black;
    background: none;
    border: 0 none;
    padding: 10px;
    text-decoration: none;
    z-index: 20;
  }

  .go-left-text {
    left: 2em;
  }
  .go-left {
    &:before {
      content: "〈 ";
      font-size: 30px;
    }
    left: .25em;
  }

  .go-right-text {
    right: 2em;
  }
  .go-right {
    &:after {
      content: " 〉";
      font-size: 30px;
    }
    right: .25em;
  }
}

.subpage.press-details {
  background: purple;
}
.subpage.about {
  background: pink;
}
.subpage.frontpage {

}
.subpage.course-1-month {
  background: blue;
}
.subpage.course-subscribe {
  background: green;
}
.subpage.other-products {
  background: yellow;
}

