---
title: Learn German in Zurich
layout: city
blog-link: no
body-class: with-menu splash splash-zurich
js-bundle: /js/body.js
app-name: fluentApp
debug: true
facebook-like-title: Fluentbook App - Learn to Speak
facebook-fan-page-url: https://www.facebook.com/FluentbookLearnToSpeak
og-tags:
- Language Learning
- Learning German
- Learning Portuguese
og-images:
- /images/icon.jpg
---
<script type="application/config">{% include signup-config.js %}</script>

<div id="intro" data-class="'!state.menu-expanded':'menu-collapsed'" >

  <aside class="we-love on-dark-picture-bg"><figure></figure> {% include intro/we-love-local.html %} </aside>

  {% include intro/benefits-tailored.html %}

  <div ng-controller="signup">

  <div fg-card name="signup" bucket="user" class="white-card signup-questions intro-column"></div>

  <div class="signup intro-column on-dark-picture-bg">

    <form name="signin">
      <fieldset>
      <div ng-show="city && !access.state.authenticated && access.session.password">
        <p>{{ access.session.username }} is an existing user.</p>
        <p>
          <input placeholder="password" name="password" type="password" size="15" ng-model="password" required>
        </p>
        <a href="javascript:;" ng-click="access.forgetUser();">Go back</a>
        <a>I forgot password</a>
        <button class="btn primary double-corner" type="sumit" value="Login">
        Sign In
        </button>
      </div>
      </fieldset>
    </form>
  </div>

    <div class=" on-dark-picture-bg" hidden>
    {% include intro/story-local.html %}
    </div>
  </div>

  <footer></footer>

</div>

<main class="fluid">
<article role="presenter" data-role="'laidout':'shifted-article'">
	<header id="more-to-tell">
    {% include zurich-follow.html %}
  </header>

  <section class="main-text-section main-text" style="display:none;">
  <!-- 

<a href="http://tinypic.com?ref=1zptdud" target="_blank"><img src="http://i60.tinypic.com/1zptdud.jpg" border="0" alt="Image and video hosting by TinyPic"></a>

[IMG]http://i60.tinypic.com/1zptdud.jpg[/IMG]

e-mail link
http://tinypic.com/r/1zptdud/8


  -->
  </section>

	<footer class="constrained">
    {% include book/footer.html %}
		{% include page-footer-copyright.html %}
	</footer>
</article>
</main>

{% include site-menu.html %}
{% include book-layout.html %}

<script type="text/ng-template" id="/partials/signup.html">
{% include cards/signup.html %}
</script>

<script>
/*
var simperium = new Simperium('{{ fluentbook_simperium_id }}', { token : 'SIMPERIUM_ACCESS_TOKEN'});
var bucket = simperium.bucket('todo');
bucket.on('notify', function(id, data) {
    console.log("object "+id+" was updated!");
    console.log("new data is:");
    console.log(data);
});
bucket.on('local', function(id) {
    console.log("request for local state for object "+id+" received");
    return {"some": "json"};
});
bucket.start();
*/
</script>
