---
layout: master
theme: main
blog-link: no
body-class: splash splash-color
---
{{ content }}

    <div id="tracer"></div>
    <script>
        !function() {
            var afterImageOffset = 180;

        function placeParts() {
            var contentHeight = introFooter.offsetTop, afterContent = 100,
                bgWidth = tracer.offsetWidth, bgHeight = tracer.offsetHeight;
            var maxHeight = bgHeight;
            if (bgHeight < bgWidth) Math.floor(Math.max(bgHeight,(intro.offsetWidth * bgHeight / bgWidth)));
            maxHeight = Math.min(maxHeight, contentHeight + afterContent)
            intro.style.maxHeight = maxHeight + "px";

            if (contentHeight) article.style.marginTop = intro.offsetHeight+"px";
            // var scaledImage = (afterImageOffset * intro.offsetWidth / bgWidth);

            //console.log("height <=",maxHeight,"article free",intro.offsetHeight,bgWidth,bgHeight,introFooter.offsetTop); //,"scaled",scaledImage);
        }

        var intro = document.getElementById("intro"),
            introFooter = document.querySelector("#intro > footer");
        var article = document.querySelector('article');
        var tracer = document.getElementById("tracer");

        if (intro && introFooter) {
            placeParts();
            window.addEventListener("resize",placeParts,true);
        }

        Resolver("page").on("true","state.launching",function(){
            // scrollTo(0,1);
            // document.body.scrollTop = 25;
        });

        }();
    </script>
    <!--
    <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
    <style type="text/css" media="screen, projection">
        @import url(http://assets.freshdesk.com/widget/freshwidget.css);
        .freshwidget-button {
        	z-index: -5000;
        } 
    </style> 
    <script type="text/javascript">
        FreshWidget.init("", {"queryString": "&widgetType=popup", "widgetType": "popup", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#13BE5A", "backgroundImage": "", "alignment": "2", "offset": "135px", "formHeight": "500px", "url": "http://help.fluentglobe.com"} );
    </script>
    -->