---
layout: master
theme: main
blog-link: no
body-class: splash splash-color
---
{{ content }}

    <script>
        !function() {

        var stuck = document.getElementById("stuck");
        var maxHeight = stuck.offsetWidth * 0.8, freeBit = Math.min(stuck.offsetHeight,maxHeight);
        var article = document.querySelector('article');

        article.style.marginTop = freeBit+"px";
        window.addEventListener("resize",function() {
            article.style.marginTop = freeBit+"px";
        });
        }();
    </script>
    <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
    <style type="text/css" media="screen, projection">
        @import url(http://assets.freshdesk.com/widget/freshwidget.css);
        .freshwidget-button {
        	z-index: -5000;
        } 
    </style> 
    <script type="text/javascript">
        FreshWidget.init("", {"queryString": "&widgetType=popup", "widgetType": "popup", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#13BE5A", "backgroundImage": "", "alignment": "2", "offset": "135px", "formHeight": "500px", "url": "http://help.fluentglobe.com"} );
    </script>