---
layout: master
theme: main
blog-link: no
body-class: lesson lesson-color
---
<style>
.our-book {
    height: 120px;
}
.our-book img {
    width: 120px;
    float: left;
    padding: 0 20px;
}
</style>


    <div id="intro" data-class="'!state.menu-expanded':'menu-collapsed'" >

      <aside class="we-love">
        <figure></figure>
      </aside>

    </div>

    {% include lesson-menu.html %}


    <article>
        <header>
            <audio id="page-audio" src="/assets/i-dont-eat-nuts.mp3"></audio>
        </header>
        <section data-role="'layouter':'paged-section'">
{{ content }}
        </section>
        <footer></footer>
    </article>
    <div id="tracer"></div>
    <script>
        !function() {
            var afterImageOffset = 180;

        function placeParts() {
            var contentHeight = introFooter.offsetTop, afterContent = 100,
                bgWidth = tracer.offsetWidth, bgHeight = tracer.offsetHeight;
            var maxHeight = bgHeight;
            if (bgHeight < bgWidth) Math.floor(Math.max(bgHeight,(intro.offsetWidth * bgHeight / bgWidth)));
            maxHeight = Math.min(maxHeight, contentHeight + afterContent)
            intro.style.maxHeight = maxHeight + "px";

            if (contentHeight) article.style.marginTop = intro.offsetHeight+"px";
            // var scaledImage = (afterImageOffset * intro.offsetWidth / bgWidth);

            //console.log("height <=",maxHeight,"article free",intro.offsetHeight,bgWidth,bgHeight,introFooter.offsetTop); //,"scaled",scaledImage);
        }

        var intro = document.getElementById("intro"),
            introFooter = document.querySelector("#intro > footer");
        var article = document.querySelector('article');
        var tracer = document.getElementById("tracer");

        // article.style.marginTop = "200px";

        // if (intro && introFooter) {
        //     placeParts();
        //     window.addEventListener("resize",placeParts,true);
        // }

        Resolver("page").on("true","state.launching",function(){
            // scrollTo(0,1);
            // document.body.scrollTop = 25;

            // var player = new MediaElementPlayer("page-audio", {
            //     startVolume: 0.8
            // }); 

            var player = $("#page-audio").mediaelementplayer()[0].player;
            // var player = $("#page-audio")[0];
            Resolver("page").set("player",player);
        });

        }();
    </script>
