  <div class="follow">
    <h4>Follow {{site.title}}</h4>
    <nav>
    {% if page.facebook_page %}
    <a class="social-icon" href="https://www.facebook.com/{{page.facebook_page}}" target="_blank">f</a>
    {% else %}{% if site.facebook_page %}
    <a class="social-icon" href="https://www.facebook.com/{{site.facebook_page}}" target="_blank">f</a>
    {% endif %}{% endif %}
    {% if site.twitter_id %}
    <a class="social-icon" href="https://twitter.com/{{site.twitter_id}}" target="_blank">l</a>
    {% endif %}
    <a class="social-icon" href="https://www.linkedin.com/company/{{site.linkedin_company_id}}" target="_blank">i</a>
    {% if page.plus-author %}<a class="social-icon" href="https://plus.google.com/{{ page.plus-author }}?rel=author" rel="author" target="_blank">g</a>
    {% else %}<a class="social-icon" href="https://plus.google.com/{{site.gplus_page_id}}" rel="publisher" target="_blank">g</a>{% endif %}
    <span style="display:none"><a href="https://plus.google.com/{{site.gplus_page_id}}" rel="publisher">Google+</a></span>
    </nav>
  </div>
