<div ng-controller="blank">
    <div class="spoken-controls" fg-spoken-controls="">
      <a class="btn icon-play ng-hide" href="#/continue-speaking" title="Play" control-point="play"></a>
      <a class="btn icon-pause ng-hide" href="#/pause-speaking" title="Pause" control-point="pause"></a>
      <a class="btn icon-refresh ng-hide" href="#/restart-presentation" title="Start Over" control-point="restart"></a>
      <a class="btn icon-previous ng-hide" href="#/back-speaking" title="Back" control-point="prev"></a>
      <a class="btn icon-next ng-hide" href="#/skip-speaking" title="Skip" control-point="next"></a>
    </div>
</div>
