---
layout: master
theme: main
blog-link: no
js-bundle: /js/body.js
app-name: fluentApp
fresh-form: true
no-body-class: impress-not-supported
og-tags:
- Language Learning
- Learning German
- Learning French
- Learning Italian
- Expatriates
og-images:
- http://fluentglobe.com/images/icon.jpg
---

<script type="application/config">{% include signup-config.js %}</script>

<main class="with-lead-and-menu with-menu fluid" data-class="'!state.menu-expanded':'menu-collapsed'">

  <header>
  {% include intro/understood-networked.html %}

    <footer class="links-bar">
      {% include site-follow.html %}
    </footer>
  </header>

  <article class="expat-happiness">

    <section class="first">
    <div class="center-piece wide-center-piece">
    {% include stress-free/expat-happiness.html %}
    </div>
    </section>

    <section class="second even">
      <div class="center-piece wide-center-piece">
      <h2>Please Participate</h2>
      <p>Could you spare a minute to fill out our survey?</p>
      <iframe class="surveymonkey" src="https://www.surveymonkey.com/s/5CYVZDB" style="">
      </iframe>
      </div>
    </section>

		<footer class="constrained bookspread">
      {% include page-footer-etc.html %}
			{% include page-footer-copyright.html %}
		</footer>

    </article>

  {% include site-menu.html %}
</main>

