---
title: Stress-Free First Year in Switzerland 
layout: master
appify: yes
theme: main
blog-link: no
js-bundle: /js/body.js
app-name: fluentApp
fresh-button: E73A00
no-body-class: impress-not-supported
og-tags:
- Language Learning
- Learning German
- Learning French
- Learning Italian
- Expatriates
og-images:
- http://fluentglobe.com/images/icon.jpg
---

<script type="application/config">{% include signup-config.js %}</script>

<main class="with-lead-and-menu with-menu fluid" data-class="'!state.menu-expanded':'menu-collapsed'">

  <header id="stress-free-presentation" role="presentation" data-role="'feature':'stress-free-switzerland'">
  {% include intro/understood-networked.html %}
  <!-- {% include intro/fallback-message.html %} -->
  {% include spoken-controls.html %}

    <footer class="links-bar">
      {% include site-follow.html %}
    </footer>
  </header>

  <article>
    <section class="four even hide-when-stress-free-feature-enabled" style="background-color: white;">
      {% include stress-free/switzerland-offer.html %}
    </section>

    <section class="first hide-when-stress-free-feature-enabled" style="text-align:center;">
    {% include stress-free/new-city.html %}
    </section>

    <section class="second even kat-henry-intro on-dark-picture-bg hide-when-stress-free-feature-enabled" style="min-height:250px;padding: 35px;">
    {% include intro/henrik-and-katty-lead.html %}
    </section>

    <section class="third hide-when-stress-free-feature-enabled">
    {% include intro/henrik-and-katty-with-audio.html autoplay="yes" %}
    </section>

		<footer class="constrained" style="height:50px;">
			{% include page-footer-copyright.html %}
		</footer>

    </article>

  {% include site-menu.html %}
</main>

