---
title: Stress-Free First Year in Switzerland 
layout: master
appify: yes
theme: main
blog-link: no
js-bundle: /js/body.js
app-name: fluentApp
fresh-button: E73A00
no-body-class: impress-not-supported
og-tags:
- Language Learning
- Learning German
- Learning French
- Learning Italian
- Expatriates
og-images:
- http://fluentglobe.com/images/icon.jpg
---

<script type="application/config">{% include signup-config.js %}</script>

<main class="with-lead-and-menu with-menu fluid" data-class="'!state.menu-expanded':'menu-collapsed'">

  <header id="stress-free-presentation" role="presentation" data-role="'feature':'stress-free-switzerland'">
  {% include intro/understood-networked.html %}
  <!-- {% include intro/fallback-message.html %} -->
  {% include spoken-controls.html %}

    <footer class="links-bar">
      {% include site-follow.html %}
    </footer>
  </header>

  <article>
    <section class="four even hide-when-stress-free-feature-enabled" style="background-color: white;">
      {% include stress-free/switzerland-offer.html %}
    </section>

    <section class="first hide-when-stress-free-feature-enabled" style="text-align:center;">
    {% include stress-free/new-city.html %}
    </section>

    <section class="second even kat-henry-intro on-dark-picture-bg hide-when-stress-free-feature-enabled" style="min-height:250px;padding: 35px;">
    {% include intro/henrik-and-katty-lead.html %}
    </section>

    <section class="third hide-when-stress-free-feature-enabled">
    {% include intro/henrik-and-katty-with-audio.html autoplay="yes" %}
    </section>

		<footer class="constrained" style="height:50px;">
      <div class="photo-credits">
        <h3>Thanks to these great photographers</h3>

<iframe src="https://www.flickr.com/photos/gnews/4687255079/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/timecaptured/8222176156/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/chaulet/3691040322/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/johnseb/9072883650/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/lesroches/9834310163/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/alan-light/7615187330/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/lesroches/9834188994/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/bortescristian/7698571206/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/tuxmaniac/5676827053/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/iz4aks/2220181983/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/kosalabandara/14455449616/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/kosalabandara/11010641316/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/kosalabandara/12266494874/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/93482748@N02/14448867243/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/93482748@N02/14658492290/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<iframe src="https://www.flickr.com/photos/rockingroshan/9619728664/in/faves-127663989@N03/player/" width="75" height="75" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

      </div>

			{% include page-footer-copyright.html %}
		</footer>

    </article>

  {% include site-menu.html %}
</main>

