---
layout: master
theme: main
blog-link: no
js-bundle: /js/body.js
app-name: fluentApp
body-class: impress-not-supported
og-tags:
- Language Learning
- Learning German
- Learning French
- Learning Italian
- Expatriates
og-images:
- http://fluentglobe.com/images/icon.jpg
---

<script type="application/config">{% include signup-config.js %}</script>

<main class="with-lead-and-menu with-menu fluid" data-class="'!state.menu-expanded':'menu-collapsed'">

  <header>
  {% include intro/understood-networked.html %}
  {% include intro/fallback-message.html %}
  </header>

  <article id="stress-free-presentation">
  	<header id="more-to-tell">
      {% include site-follow.html %}
    </header>

    <section class="first" style="text-align:center;">
    {% include stress-free/new-city.html %}

        </section>

    <section class="second even kat-henry-intro on-dark-picture-bg hide-when-stress-free-feature-enabled" style="min-height:250px;padding: 35px;">
    {% include intro/henrik-and-katty-lead.html %}
    </section>

    <section class="third hide-when-stress-free-feature-enabled">
    {% include intro/henrik-and-katty-with-audio.html %}
    </section>

    <section class="four even hide-when-stress-free-feature-enabled" style="background-color: white;">
      {% include stress-free/switzerland-offer.html %}
    </section>

		<footer class="constrained bookspread">
      {% include page-footer-etc.html %}
			{% include page-footer-copyright.html %}
		</footer>

    <div id="bored" class="step slide show-when-impress-enabled" data-x="-1000" data-y="-1500">
        <q>Aren't you just <b>bored</b> with all those slides-based presentations?</q>
    </div>

    <div class="step slide show-when-impress-enabled" data-x="0" data-y="-1500">
        <q>Don't you think that presentations given <strong>in modern browsers</strong> shouldn't <strong>copy the limits</strong> of 'classic' slide decks?</q>
    </div>

    <div class="step slide show-when-impress-enabled" data-x="1000" data-y="-1500">
        <q>Would you like to <strong>impress your audience</strong> with <strong>stunning visualization</strong> of your talk?</q>
    </div>

    <div id="title" class="step show-when-impress-enabled" data-x="0" data-y="0" data-scale="4">
        <span class="try">then you should try</span>
        <h1>impress.js<sup>*</sup></h1>
        <span class="footnote"><sup>*</sup> no rhyme intended</span>
    </div>

    </article>

  {% include site-menu.html %}
</main>

