---
layout: master
theme: main
blog-link: no
js-bundle: /js/body.js
app-name: fluentApp
fresh-form: true
no-body-class: impress-not-supported
base-body-class: with-menu 
og-tags:
- Language Learning
- Learning German
- Learning French
- Learning Italian
- Expatriates
og-images:
- http://fluentglobe.com/images/icon.jpg
---

<script type="application/config">{% include signup-config.js %}</script>

<main class="survey-page kat-henry-info-page fluid">

  <header>
    {% include hamburger.html %}
  {% include intro/understood-networked.html %}

    <footer class="links-bar">
      {% include site-follow.html %}
    </footer>
  </header>

  <article class="language-survey">

    <section class="first">
    <div class="center-piece wide-center-piece">
    {% include stress-free/learning-swiss-german.html %}

    <div style="text-align: center;">
    <img src="/images/swiss-flag-512.jpg" width="100" alt="Swiss Flag">
    </div>
    </div>
    </section>

    <section class="second even" style="background-color: #eee;">
      <div class="center-piece wide-center-piece">
        <h2>We decided to learn Swiss German, what about you?</h2>

      <iframe class="wufoo" src="https://fluentglobe.wufoo.com/forms/learning-the-language/" style="">
      </iframe>
      </div>
    </section>

		<footer class="constrained bookspread">
      {% include page-footer-etc.html %}
			{% include page-footer-copyright.html %}
		</footer>

    </article>
</main>

{% include site-menu.html %}

